/* @CHARSET "UTF-8"; */
.eecontent {
  background: #af9fce;
  padding-left: 25px;
  padding-right: 25px;
}
.eecontent #pageTitle {
  margin-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 10px;
}
.eecontent #pageTitle h1 {
  color: #FFFFFF;
  font-size: 26px;
  line-height: 28px;
  text-shadow: grey 4px 3px;
}
.eecontent #mapSection p {
  margin-bottom: 0px;
  margin-top: 0px;
}
.eecontent #mapSection #map {
  margin-bottom: 30px;
  height: 65%;
  width: 100%;
}
.eecontent #mapSection #regionButtons {
  padding-bottom: 5px;
}
.eecontent #mapSection #regionButtons .regionButton {
  padding-left: 3px;
  padding-right: 5px;
  margin-right: 5px;
}
.eecontent #descriptons .eventType {
  background-color: #e8e7dd;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
}
.eecontent #descriptons p {
  margin-bottom: 2px;
  margin-top: 2px;
}
.eecontent #descriptons .eventTypeTitle {
  font-size: 18px;
  font-weight: bold;
  color: #7036be;
  /*background: linear-gradient(left center , rgb(28, 2, 73) 0%, rgb(175, 159, 206) 100%) repeat scroll 0% 0% transparent;*/

  background: #1c0249;
  color: #ffffff;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.eecontent #descriptons .revealCollapse {
  cursor: pointer;
  margin: 5px 0;
  cursor: hand;
  padding-left: 43px;
  font-weight: bold;
}
.eecontent #descriptons .revealCollapse:hover {
  color: #7036be;
  text-decoration: underline;
}
.eecontent #descriptons .collapseText {
  display: none;
  padding-left: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 43px;
  background: #e0d8f0;
  width: 60%;
}
