<div id="page" class="clearfix">
<div id="header-group-wrapper" class="header-group-wrapper full-width">
  <div id="header-group" class="header-group row grid16-16">
    <div id="header-group-inner"
      class="header-group-inner inner clearfix">

      <div id="header-site-info" class="header-site-info block">
        <div id="header-site-info-inner"
          class="header-site-info-inner inner">
          <div id="logo" class="">
            <a href="https://eclipsecon.org/europe2011/index.html"
              title="Home"><img
              src="images/logo.png" alt="Home"></a>
          </div>
          <div id="header-nav-info" class="">
            <div class="header-nav-info-location">
              <span>Ludwigsburg, Germany</span> <span>November 2 - 4</span>
            </div>
          </div>
        </div>
        <!-- /header-site-info-inner -->
      </div>
      <!-- /header-site-info -->
    </div>
    <!-- /header-group-inner -->
  </div>
  <!-- /header-group -->
</div>
<!-- /header-group-wrapper -->

<!-- preface-top row: width = grid_width -->

<!-- main row: width = grid_width -->
<div id="main-wrapper" class="main-wrapper full-width">
  <div id="main" class="main row grid16-16">
    <div id="main-inner" class="main-inner inner clearfix">

      <div id="content-top" class="content-top row nested">
        <div id="content-top-inner" class="content-top-inner inner">

          <div id="block-views-rotating_slideshow-block_1"
            class="block block-views odd first last  grid16-13">
            <div class="inner clearfix">
              <div class="content clearfix">
                <div
                  class="view view-rotating-slideshow view-id-rotating_slideshow view-display-id-block_1 view-dom-id-3">



                  <div class="view-content">



                    <div
                      id="views_slideshow_singleframe_main_rotating_slideshow-block_1"
                      class="views_slideshow_singleframe_main views_slideshow_main viewsSlideshowSingleFrame-processed">
                      <div
                        id="views_slideshow_singleframe_teaser_section_rotating_slideshow-block_1"
                        class="views_slideshow_singleframe_teaser_section"
                        style="position: relative; width: 782px; height: 305px;">
                        <div
                          class="views_slideshow_singleframe_slide views_slideshow_slide views-row-1 views-row-odd"
                          id="views_slideshow_singleframe_div_rotating_slideshow-block_1_0"
                          style="position: absolute; top: 0px; left: 0px; display: block; z-index: 7; opacity: 1; width: 710px; height: 244px;">
                          <div
                            class="views-row views-row-0 views-row-first views-row-odd">

                            <div class="views-field-field-images-fid">
                              <div class="field-content">
                                <img
                                  src="images/band_1.png"
                                  alt="" title=""
                                  class="imagecache imagecache-slideshow_full imagecache-default imagecache-slideshow_full_default"
                                  width="360" height="239">
                              </div>
                            </div>

                            <div
                              class="views-field-field-slideshow-content-value">
                              <div class="field-content">
                                <h2>The Party Was Great</h2>

                                <p
                                  style="font-size: 14px; font-weight: bold">Birthday
                                  cake (with fireworks) followed by
                                  classic rock from "Cool Down" – we
                                  hope you enjoyed it!</p>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /block-inner -->
          </div>
          <!-- /block -->

        </div>
        <!-- /content-top-inner -->
      </div>
      <!-- /content-top -->


      <!-- main group: width = grid_width - sidebar_first_width -->
      <div id="main-group" class="main-group row nested grid16-16">
        <div id="main-group-inner" class="main-group-inner inner">

          <div id="main-content" class="main-content row nested">
            <div id="main-content-inner"
              class="main-content-inner inner">
              <!-- content group: width = grid_width - (sidebar_first_width + sidebar_last_width) -->
              <div id="content-group"
                class="content-group row nested grid16-10">
                <div id="content-group-inner"
                  class="content-group-inner inner">



                  <div id="content-region"
                    class="content-region row nested">
                    <div id="content-region-inner"
                      class="content-region-inner inner">
                      <a name="main-content-area" id="main-content-area"></a>
                      <div id="content-inner"
                        class="content-inner block">
                        <div id="content-inner-inner"
                          class="content-inner-inner inner">
                          <div id="content_before"
                            class="content_before row  ">
                            <div id="content_before-inner"
                              class="content_before-inner inner clearfix">

                              <div id="block-flickr-6"
                                class="block block-flickr odd first  grid16-0">
                                <div class="inner clearfix">
                                  <h2 class="title block-title">EclipseCon
                                    Europe 2011 flickr Feed</h2>
                                  <div class="content clearfix">
                                    <a
                                      href="http://www.flickr.com/photos/33725200@N00/6321079259/in/pool-1786066@N20/"
                                      title="bernd+christian+max"><img
                                      src="images/6321079259_067f3fbd2c_s.jpg"
                                      alt="bernd+christian+max"
                                      title="bernd+christian+max"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6321057383/in/pool-1786066@N20/"
                                      title="ralph_stage"><img
                                      src="images/6321057383_8c383fed11_s.jpg"
                                      alt="ralph_stage"
                                      title="ralph_stage"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6311983364/in/pool-1786066@N20/"
                                      title="bredex"><img
                                      src="images/6311983364_375ccbf36d_s.jpg"
                                      alt="bredex" title="bredex"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6311979144/in/pool-1786066@N20/"
                                      title="actuate"><img
                                      src="images/6311979144_0f46d43620_s.jpg"
                                      alt="actuate" title="actuate"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6311463775/in/pool-1786066@N20/"
                                      title="eclipsesource"><img
                                      src="images/6311463775_d460a34a8a_s.jpg"
                                      alt="eclipsesource"
                                      title="eclipsesource"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6311463893/in/pool-1786066@N20/"
                                      title="max+dina"><img
                                      src="images/6311463893_a7f0e6e128_s.jpg"
                                      alt="max+dina" title="max+dina"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319616554/in/pool-1786066@N20/"
                                      title="DSC_0287"><img
                                      src="images/6319616554_b434cb42f0_s.jpg"
                                      alt="DSC_0287" title="DSC_0287"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319107297/in/pool-1786066@N20/"
                                      title="DSC_0288"><img
                                      src="images/6319107297_ec0c20318a_s.jpg"
                                      alt="DSC_0288" title="DSC_0288"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319751002/in/pool-1786066@N20/"
                                      title="DSC_0299"><img
                                      src="images/6319751002_0c7e19011e_s.jpg"
                                      alt="DSC_0299" title="DSC_0299"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319687438/in/pool-1786066@N20/"
                                      title="DSC_0294"><img
                                      src="images/6319687438_8b297d054f_s.jpg"
                                      alt="DSC_0294" title="DSC_0294"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319246689/in/pool-1786066@N20/"
                                      title="DSC_0300"><img
                                      src="images/6319246689_e92854da04_s.jpg"
                                      alt="DSC_0300" title="DSC_0300"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319212975/in/pool-1786066@N20/"
                                      title="DSC_0297"><img
                                      src="images/6319212975_294964ea46_s.jpg"
                                      alt="DSC_0297" title="DSC_0297"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319187633/in/pool-1786066@N20/"
                                      title="DSC_0296"><img
                                      src="images/6319187633_dc2c432b7f_s.jpg"
                                      alt="DSC_0296" title="DSC_0296"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319140031/in/pool-1786066@N20/"
                                      title="DSC_0293"><img
                                      src="images/6319140031_15a573eacb_s.jpg"
                                      alt="DSC_0293" title="DSC_0293"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319287311/in/pool-1786066@N20/"
                                      title="DSC_0302"><img
                                      src="images/6319287311_0b47ceab84_s.jpg"
                                      alt="DSC_0302" title="DSC_0302"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319823644/in/pool-1786066@N20/"
                                      title="DSC_0305"><img
                                      src="images/6319823644_80b03394ab_s.jpg"
                                      alt="DSC_0305" title="DSC_0305"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319364883/in/pool-1786066@N20/"
                                      title="DSC_0310"><img
                                      src="images/6319364883_ba8ed73b45_s.jpg"
                                      alt="DSC_0310" title="DSC_0310"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319353063/in/pool-1786066@N20/"
                                      title="DSC_0309"><img
                                      src="images/6319353063_6a3b5cd23b_s.jpg"
                                      alt="DSC_0309" title="DSC_0309"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319324309/in/pool-1786066@N20/"
                                      title="DSC_0308"><img
                                      src="images/6319324309_24f91d2408_s.jpg"
                                      alt="DSC_0308" title="DSC_0308"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/33725200@N00/6319272567/in/pool-1786066@N20/"
                                      title="DSC_0301"><img
                                      src="images/6319272567_78c59a32af_s.jpg"
                                      alt="DSC_0301" title="DSC_0301"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/andypiper/6311762612/in/pool-1786066@N20/"
                                      title="EclipseCon Program Guide"><img
                                      src="images/6311762612_b370fc3f07_s.jpg"
                                      alt="EclipseCon Program Guide"
                                      title="EclipseCon Program Guide"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/andypiper/6311763536/in/pool-1786066@N20/"
                                      title="Opening session"><img
                                      src="images/6311763536_a8067e3050_s.jpg"
                                      alt="Opening session"
                                      title="Opening session"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/andypiper/6311243535/in/pool-1786066@N20/"
                                      title="Library cafe"><img
                                      src="images/6311243535_5845d2cb77_s.jpg"
                                      alt="Library cafe"
                                      title="Library cafe"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/andypiper/6311764628/in/pool-1786066@N20/"
                                      title="Arduino keynote"><img
                                      src="images/6311764628_aa49272d0e_s.jpg"
                                      alt="Arduino keynote"
                                      title="Arduino keynote"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/andypiper/6311765106/in/pool-1786066@N20/"
                                      title="Arduino keynote"><img
                                      src="images/6311765106_74faf927eb_s.jpg"
                                      alt="Arduino keynote"
                                      title="Arduino keynote"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/andypiper/6311768564/in/pool-1786066@N20/"
                                      title="Keynote audience"><img
                                      src="images/6311768564_e307159727_s.jpg"
                                      alt="Keynote audience"
                                      title="Keynote audience"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/andypiper/6311245063/in/pool-1786066@N20/"
                                      title="Arduino keynote"><img
                                      src="images/6311245063_a4ea062df1_s.jpg"
                                      alt="Arduino keynote"
                                      title="Arduino keynote"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/andypiper/6311771250/in/pool-1786066@N20/"
                                      title="Arduino keynote"><img
                                      src="images/6311771250_875a3c2d14_s.jpg"
                                      alt="Arduino keynote"
                                      title="Arduino keynote"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/andypiper/6311248999/in/pool-1786066@N20/"
                                      title="Arduino keynote"><img
                                      src="images/6311248999_827a391896_s.jpg"
                                      alt="Arduino keynote"
                                      title="Arduino keynote"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a><a
                                      href="http://www.flickr.com/photos/andypiper/6311251565/in/pool-1786066@N20/"
                                      title="Arduino keynote"><img
                                      src="images/6311251565_4fcee7a9ae_s.jpg"
                                      alt="Arduino keynote"
                                      title="Arduino keynote"
                                      class=" flickr-photo-img"
                                      width="75" height="75"></a>
                                  </div>
                                </div>
                                <!-- /block-inner -->
                              </div>
                              <!-- /block -->
                            </div>
                            <!-- /content_before-inner -->
                          </div>
                          <!-- /content_before -->
                        </div>
                        <!-- /content-inner-inner -->
                      </div>
                      <!-- /content-inner -->
                    </div>
                    <!-- /content-region-inner -->
                  </div>
                  <!-- /content-region -->
                </div>
                <!-- /content-group-inner -->
              </div>
              <!-- /content-group -->

              <div id="sidebar-last"
                class="sidebar-last row nested grid16-6">
                <div id="sidebar-last-inner"
                  class="sidebar-last-inner inner clearfix">

                  <div id="block-views-Sponsors-block_2"
                    class="block block-views odd first last grid16-6 sponsor-block">
                    <div class="inner clearfix">
                      <div class="content clearfix">
                        <div
                          class="view view-Sponsors view-id-Sponsors view-display-id-block_2 view-dom-id-2">
                          <div class="view-header">
                            <h3>Premium Sponsors</h3>
                          </div>



                          <div class="view-content">
                            <a
                              href="http://www.microdoc.com/"><img
                                src="images/microdoc.gif"
                                alt="" title=""
                                class="imagecache imagecache-sponsor_logo_platinum imagecache-default imagecache-sponsor_logo_platinum_default"
                                width="79" height="79"></a>
                              <img
                                          src="images/logo_bsi_120_60.png"
                                          alt="" title=""
                                          class="imagecache imagecache-sponsor_logo_platinum imagecache-default imagecache-sponsor_logo_platinum_default"
                                          width="120" height="60">
                             <img
                                          src="images/SierraLogoTM_CMYK_Small.png"
                                          alt="" title=""
                                          class="imagecache imagecache-sponsor_logo_platinum imagecache-default imagecache-sponsor_logo_platinum_default"
                                          width="120" height="68">
                             <img
                                          src="images/SAP_120.png"
                                          alt="" title=""
                                          class="imagecache imagecache-sponsor_logo_platinum imagecache-default imagecache-sponsor_logo_platinum_default"
                                          width="120" height="59">
                             <img
                                          src="images/ibm-large_2008.gif"
                                          alt="" title=""
                                          class="imagecache imagecache-sponsor_logo_platinum imagecache-default imagecache-sponsor_logo_platinum_default"
                                          width="155" height="65">
                             <img
                                          src="images/xored-logo-120px1.png"
                                          alt="" title=""
                                          class="imagecache imagecache-sponsor_logo_platinum imagecache-default imagecache-sponsor_logo_platinum_default"
                                          width="120" height="42">
                              <img
                                          src="images/OnPositiveWhite120x120.jpg"
                                          alt="" title=""
                                          class="imagecache imagecache-sponsor_logo_platinum imagecache-default imagecache-sponsor_logo_platinum_default"
                                          width="120" height="120">
                              <img
                                          src="images/oralogo-small2.gif"
                                          alt="" title=""
                                          class="imagecache imagecache-sponsor_logo_platinum imagecache-default imagecache-sponsor_logo_platinum_default"
                                          width="133" height="36">
                             <img
                                          src="images/compeople.gif"
                                          alt="" title=""
                                          class="imagecache imagecache-sponsor_logo_platinum imagecache-default imagecache-sponsor_logo_platinum_default"
                                          width="135" height="70">
                          </div>

                        </div>
                      </div>
                    </div>
                    <!-- /block-inner -->
                  </div>
                  <!-- /block -->
                </div>
                <!-- /sidebar-last-inner -->
              </div>
              <!-- /sidebar-last -->
            </div>
            <!-- /main-content-inner -->
          </div>
          <!-- /main-content -->

          <div id="postscript-top" class="postscript-top row nested ">
            <div id="postscript-top-inner"
              class="postscript-top-inner inner clearfix">

              <div id="block-views-Sponsors-block_1"
                class="block block-views odd first grid16-14 earlysponsor-block">
                <div class="inner clearfix">
                  <h2 class="title block-title">Sponsors</h2>
                  <div class="content clearfix">
                    <div
                      class="view view-Sponsors view-id-Sponsors view-display-id-block_1 view-dom-id-4">



                      <div class="view-content">
                        <table class="views-view-grid col-5">
                          <tbody>
                            <tr class="row-1 row-first">
                              <td class="col-1 col-first">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/eclipsesource.png"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="27"></span>
                                </div>
                              </td>
                              <td class="col-2">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/logo_inventedforlife.jpg"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="38"></span>
                                </div>
                              </td>
                              <td class="col-3">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/mslogo_black.gif"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="20"></span>
                                </div>
                              </td>
                              <td class="col-4">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/bredex.gif"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="37"></span>
                                </div>
                              </td>
                              <td class="col-5 col-last">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/Jaspersoft.jpeg"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="26"></span>
                                </div>
                              </td>
                            </tr>
                            <tr class="row-2 row-last">
                              <td class="col-1 col-first">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/actuate_0.jpg"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="33"></span>
                                </div>
                              </td>
                              <td class="col-2">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/BDS_logo.png"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="54"></span>
                                </div>
                              </td>
                              <td class="col-3">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/ageto_ag1.gif"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="43"></span>
                                </div>
                              </td>
                              <td class="col-4">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/nuxeo_120.png"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="42"></span>
                                </div>
                              </td>
                              <td class="col-5 col-last">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/itemis.gif"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="41"></span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>






                    </div>
                  </div>
                </div>
                <!-- /block-inner -->
              </div>
              <!-- /block -->

              <div id="block-views-Sponsors-block_8"
                class="block block-views even  grid16-10 earlysponsor-block">
                <div class="inner clearfix">
                  <h2 class="title block-title">Media Sponsors</h2>
                  <div class="content clearfix">
                    <div
                      class="view view-Sponsors view-id-Sponsors view-display-id-block_8 view-dom-id-5">



                      <div class="view-content">
                        <table class="views-view-grid col-5">
                          <tbody>
                            <tr class="row-1 row-first row-last">
                              <td class="col-1 col-first">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/logo_JavaSPEKTRUM.png"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="34"></span>
                                </div>
                              </td>
                              <td class="col-2">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/freedroidz.png"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="11"></span>
                                </div>
                              </td>
                              <td class="col-3">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/dpunkt.jpg"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="29"></span>
                                </div>
                              </td>
                              <td class="col-4">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/heise_developer_logo-eclipsecon.png"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="44"></span>
                                </div>
                              </td>
                              <td class="col-5 col-last"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>






                    </div>
                  </div>
                </div>
                <!-- /block-inner -->
              </div>
              <!-- /block -->

              <div id="block-views-Sponsors-block_9"
                class="block block-views odd  last grid16-3 earlysponsor-block">
                <div class="inner clearfix">
                  <h2 class="title block-title">Activity Sponsor</h2>
                  <div class="content clearfix">
                    <div
                      class="view view-Sponsors view-id-Sponsors view-display-id-block_9 view-dom-id-6">



                      <div class="view-content">
                        <table class="views-view-grid col-5">
                          <tbody>
                            <tr class="row-1 row-first row-last">
                              <td class="col-1 col-first">

                                <div class="views-field-field-logo-fid">
                                  <span class="field-content"><img
                                      src="images/github-small_2011.png"
                                      alt="" title=""
                                      class="imagecache imagecache-sponsor_logo_gold imagecache-default imagecache-sponsor_logo_gold_default"
                                      width="120" height="60"></span>
                                </div>
                              </td>
                              <td class="col-2"></td>
                              <td class="col-3"></td>
                              <td class="col-4"></td>
                              <td class="col-5 col-last"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>






                    </div>
                  </div>
                </div>
                <!-- /block-inner -->
              </div>
              <!-- /block -->
            </div>
            <!-- /postscript-top-inner -->
          </div>
          <!-- /postscript-top -->
        </div>
        <!-- /main-group-inner -->
      </div>
      <!-- /main-group -->
    </div>
    <!-- /main-inner -->
  </div>
  <!-- /main -->
</div>
<!-- /main-wrapper -->
</div>