<div id="page" class="clearfix">
    <div id="site-header" class="container-16 clearfix">
      <div id="branding" class="grid-6">
        <a href="https://events.eclipse.org/"
          class="active"><img
          src="images/logo.png" alt="logo"
          title="Eclipse Europe 2013" width="699"></a>
      </div>
      <!-- /#branding -->
      <div id="header-subtools">
        <div id="header-nav-info-location">
          <span id="header-nav-info-location-loc">Ludwigsburg,
            Germany</span> <span id="header-nav-info-location-date">29 -
            31 October 2013</span>
        </div>
      </div>
    </div>
    <!-- /#site-header -->
    <div id="main-content-container"
      class="container-16 rounded shadow clearfix">
      <div id="content-top">
        <div id="block-views-rotating_slideshow-block_1"
          class="block block-views">
          <div class="content">
            <div
              class="view view-rotating-slideshow view-id-rotating_slideshow view-display-id-block_1 mainslideshow view-dom-id-13">
              <div class="view-content">
                <div
                  id="views_slideshow_singleframe_main_rotating_slideshow-block_1"
                  class="views_slideshow_singleframe_main views_slideshow_main viewsSlideshowSingleFrame-processed">
                  <div
                    id="views_slideshow_singleframe_teaser_section_rotating_slideshow-block_1"
                    class="views_slideshow_singleframe_teaser_section">
                    <div
                      class="views_slideshow_singleframe_slide views_slideshow_slide views-row-1 views-row-odd"
                      id="views_slideshow_singleframe_div_rotating_slideshow-block_1_0">
                      <div
                        class="views-row views-row-0 views-row-first views-row-odd" style="text-align:center;">
                        <div
                          class="views-field-field-slideshow-content-value">
                          <div class="field-content">
                            <div
                              style="font-size: 150%; padding-top: 1em; padding-bottom: 1em; font-weight: bold; color: white">
                              <p>
                                Thank you for attending EclipseCon Europe
                                and OSGi Community Event!
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /#content-top -->
      <div id="main-wrapper" class="column grid-16 sidebar">
        <h1 class="title" id="page-title">Our Sponsors</h1>
        <div id="main-content" class="region clearfix">
          <div id="block-block-3" class="block block-block">
            <h2 style="color:#fff; padding-left:10px;">Co-Locating With</h2>
            <div class="content">
              <div style="text-align: center;">
                <img
                  alt="Co-locating with OSGI Community Event 2013"
                  src="images/OSGi_CE_2013-Logo-160px.jpg">
              </div>
            </div>
          </div>
          <div id="block-views-Sponsors-block_11"
            class="block block-views">
            <div class="content">
              <div
                class="view view-Sponsors view-id-Sponsors view-display-id-block_11 clearfix sponsors-block view-dom-id-2">
                <div class="view-header">
                  <h3>
                    Elite Sponsors<br>
                  </h3>
                </div>
                <div class="view-content">
                  <div
                    class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                    <div class="views-field-field-logo-fid">
                      <span class="field-content"><img
                          src="images/IBM_black.jpg"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          width="120" height="45"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="block-views-Sponsors-block_5" class="block block-views">
            <div class="content">
              <div
                class="view view-Sponsors view-id-Sponsors view-display-id-block_5 clearfix sponsors-block view-dom-id-3">
                <div class="view-header">
                  <h3>
                    Premium Sponsors<br>
                  </h3>
                </div>
                <div class="view-content" style="text-align:center;">
                  <ul class="list-inline">
                    <li><img
                          src="images/Red_Hat_RGB_300px.jpg"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          width="120" height="38"></li>
                    <li><img
                          src="images/SAP_120.png"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          width="120" height="59"></li>
                    <li><img
                          src="images/updatedZT-New-Image.jpg"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          width="120" height="120"></li>
                    <li><img
                          src="images/Atlas-Logo-for-EclipseCon-Europe-Website_0.png"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          width="100" height="100"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="block-views-Sponsors-block_7" class="block block-views">
            <div class="content">
              <div
                class="view view-Sponsors view-id-Sponsors view-display-id-block_7 clearfix sponsors-block view-dom-id-5">
                <div class="view-header">
                  <h3>
                    OSGi Community Event Sponsors<br>
                  </h3>
                </div>
                <div class="view-content">
                  <div
                    class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                    <div class="views-field-field-logo-fid">
                      <span class="field-content"><img
                          src="images/Adobe%2520Logo%2520Converted.png"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          height="100"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="block-views-Sponsors-block_6" class="block block-views">
            <div class="content">
              <div
                class="view view-Sponsors view-id-Sponsors view-display-id-block_6 clearfix sponsors-block view-dom-id-6">
                <div class="view-header">
                  <h3>
                    Basic Sponsors<br>
                  </h3>
                </div>
                <div class="view-content" style="text-align:center;">
                  <ul class="list-inline">
                    <li><img
                            src="images/Logo%2520-%2520Screen%2520-%2520Claim%2520RGB.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="94"></li>
                    <li><img
                            src="images/Actuate_logo_LG.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="28"></li>
                    <li><img
                            src="images/BSI%2520ece%25202012.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="54"></li>
                    <li><img
                            src="images/froglogic.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="48"></li>
                    <li><img
                            src="images/microdoc%2520ECE%25202012.gif"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="79" height="79"></li>
                    <li><img
                            src="images/bredex_logo_2400dpi.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="37"></li>
                    <li><img
                            src="images/cigital-web.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="90"></li>
                    <li><img
                            src="images/logo-xored-color.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="41"></li>
                    <li><img
                            src="images/Bosch_SL-en_0.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="100" height="33"></li>
                    <li><img
                            src="images/compeople%2520ECE%25202012.gif"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="62"></li>
                    <li><img
                            src="images/oracle_sig_clr.gif"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="28"></li>
                    <li><img
                            src="images/CEA_LIST_logo_cote.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="52"></li>
                    <li><img
                            src="images/LogoGenuitecShort.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="72"></li>
                    <li><img
                            src="images/New%2520Image.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="63"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="block-views-Sponsors-block_9" class="block block-views">
            <div class="content">
              <div
                class="view view-Sponsors view-id-Sponsors view-display-id-block_9 clearfix sponsors-block view-dom-id-11">
                <div class="view-header">
                  <h3>
                    Media Sponsors<br>
                  </h3>
                </div>
                <div class="view-content">
                  <ul class="list-inline" style="text-align:center;">
                  <li><img
                          src="images/logo-dvp-500x207.png"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          width="120" height="50"></li>
                  <li><img
                          src="images/Logo_Java_aktuell.jpg"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          width="120" height="34"></li>
                  <li><img
                          src="images/dpunkt_logo.png"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          width="120" height="28"></li>
                  <li><img
                          src="images/oreilly_logo_4c.jpg"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          width="120" height="22"></li>
                  <li><img
                          src="images/logo_JavaSPEKTRUM.png"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          width="120" height="34"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="block-views-Sponsors-block_12"
            class="block block-views">
            <div class="content">
              <div
                class="view view-Sponsors view-id-Sponsors view-display-id-block_12 clearfix sponsors-block view-dom-id-12">
                <div class="view-header">
                  <h3>
                    Professional Training Sponsor<br>
                  </h3>
                </div>
                <div class="view-content">
                  <div
                    class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                    <div class="views-field-field-logo-fid">
                      <span class="field-content"><img
                          src="images/Oxiane-logo_02_ombre_209x116.png"
                          alt="" title=""
                          class="imagecache imagecache-sponsor_logo_bronze"
                          width="120" height="67"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /#main-content -->
      </div>
      <!-- /#main-wrapper -->
    </div>
    <!-- /#main-content-container -->
  </div>