<div id="page">
    <header id="header" role="banner">
      <div class="row">
        <hgroup id="name-and-slogan" class="full">
          <div class="nine columns">
            <div class="z">
              <a href="https://eclipsecon.org/europe2014" title="Home"
                rel="home" id="logo" class="columns"><img
                src="images/logo-header.png" alt="Home"></a>
              <h1 id="site-name">
                <a href="/europe2014" title="Home" rel="home"
                  id="site-name-image" class="drupalcon-hdr">EclipseCon
                  Europe 2014</a>
              </h1>
              <h2 id="event-location">Ludwisburg, Germany</h2>
              <h2 id="site-slogan">EclipseCon is brought to you by
                the Eclipse Foundation with the support of our sponsors.</h2>
              <h2 id="event-date">October 28 - 30, 2014</h2>
              <!-- </div>
              <div class="three columns">
            <div class="header-banner-container"> -->
            </div>
            <!-- /row -->
          </div>
          <div class="three columns mobile-hack">
            <div class="row">
              <span class="hidden-sm"><a
                href="http://www.osgi.org/CommunityEvent2014/HomePage"
                target="_blank"><img src="images/logo-osgi-2014.png"
                  id="osgi-logo"></a></span>
              <h2 class="visible-sm" id="osgi-text">
                <a href="http://www.osgi.org/CommunityEvent2014/HomePage"
                  target="_blank">OSGi™ Community Event 2014</a>
              </h2>
            </div>
            <!-- /row -->
          </div>
        </hgroup>
        <!-- /#name-and-slogan -->
      </div>
      <!-- /row -->
    </header>
    <div id="main" class="row">
      <div class="slideshow">
        <div class="twelve columns">
          <div class="region region-slideshow">
            <div id="block-views-elipsecon-slideshow-block"
              class="block block-views first last odd">
              <h2 class="block__title block-title">Slideshow</h2>
              <div
                class="view view-elipsecon-slideshow view-id-elipsecon_slideshow view-display-id-block view-dom-id-c5c8713cb9f8a1867da080778aecbed3">
                <div class="view-content">
                  <div class="group-wrapper"
                    style="position: relative; width: 100%;">
                    <div
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <div class="slideshow-image">
                            <img typeof="foaf:Image"
                              src="images/shirtc8d9.jpg" alt=""
                              width="375" height="320">
                          </div>
                        </div>
                      </div>
                      <div>
                        <div>
                          <div class="slideshow-body">
                            <a
                              href="https://eclipsecon.org/europe2014/session/innovation-begins-home.html"
                              class="slideshow-link-title"><h1
                                class="slideshow-reverse">Thanks for
                                attending</h1></a>
                            <h4>We couldn't have done it without you.</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="content" class="12 columns" role="main">
        <a id="main-content"></a>
        <div class="region region-information">
          <div id="block-flickr-10"
            class="block block-flickr first last odd">
            <h2 class="block__title block-title">Flickr: EclipseCon
              Europe 2015</h2>
            <div class="flickr-photoset">
              <h2 class="flickr-album-heading">
                <a href="https://www.flickr.com/groups/2814413@N25/"
                  title="View the group's Flickr photostream."
                  target="_blank">Flickr</a> photos from the group
                EclipseCon Europe 2015
              </h2>
              <div class="flickr-album " style="">
                <img class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15670697962_68b6636a0e_s.jpg"
                  alt="Thu, 2014-10-30 15:12 - AJ1_7041"
                  title="Thu, 2014-10-30 15:12 - AJ1_7041"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15646123336_55940fa27f_s.jpg"
                  alt="Thu, 2014-10-30 15:34 - AJ1_7053"
                  title="Thu, 2014-10-30 15:34 - AJ1_7053"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15483203679_e43e6370a0_s.jpg"
                  alt="Thu, 2014-10-30 15:33 - AJ1_7051"
                  title="Thu, 2014-10-30 15:33 - AJ1_7051"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15484269880_f76451e005_s.jpg"
                  alt="Thu, 2014-10-30 15:31 - AJ1_7048"
                  title="Thu, 2014-10-30 15:31 - AJ1_7048"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15483879317_47f8764571_s.jpg"
                  alt="Thu, 2014-10-30 15:19 - AJ1_7046"
                  title="Thu, 2014-10-30 15:19 - AJ1_7046"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15483879037_e248bd64f0_s.jpg"
                  alt="Thu, 2014-10-30 15:18 - AJ1_7045"
                  title="Thu, 2014-10-30 15:18 - AJ1_7045"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15049712253_d2261c3f64_s.jpg"
                  alt="Thu, 2014-10-30 15:12 - AJ1_7043"
                  title="Thu, 2014-10-30 15:12 - AJ1_7043"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15483201609_ebf8281d82_s.jpg"
                  alt="Thu, 2014-10-30 15:11 - AJ1_7039"
                  title="Thu, 2014-10-30 15:11 - AJ1_7039"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15670667612_0c50570399_s.jpg"
                  alt="Thu, 2014-10-30 15:11 - AJ1_7037"
                  title="Thu, 2014-10-30 15:11 - AJ1_7037"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15670667062_c2f079e2e8_s.jpg"
                  alt="Thu, 2014-10-30 15:10 - AJ1_7036"
                  title="Thu, 2014-10-30 15:10 - AJ1_7036"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15483687428_ef8abc5978_s.jpg"
                  alt="Thu, 2014-10-30 15:07 - AJ1_7034"
                  title="Thu, 2014-10-30 15:07 - AJ1_7034"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15669845335_370d9e972d_s.jpg"
                  alt="Thu, 2014-10-30 15:07 - AJ1_7033"
                  title="Thu, 2014-10-30 15:07 - AJ1_7033"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15484266370_c9e2c07745_s.jpg"
                  alt="Thu, 2014-10-30 12:13 - AJ1_7030"
                  title="Thu, 2014-10-30 12:13 - AJ1_7030"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15663833211_fef50f9265_s.jpg"
                  alt="Wed, 2014-10-29 21:58 - AJ1_6912"
                  title="Wed, 2014-10-29 21:58 - AJ1_6912"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15045762934_17823cb7dc_s.jpg"
                  alt="Thu, 2014-10-30 01:49 - AJ1_7029"
                  title="Thu, 2014-10-30 01:49 - AJ1_7029"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15045761574_cd5a78a325_s.jpg"
                  alt="Thu, 2014-10-30 01:27 - AJ1_7026"
                  title="Thu, 2014-10-30 01:27 - AJ1_7026"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15480341088_c15174fa59_s.jpg"
                  alt="Thu, 2014-10-30 01:27 - AJ1_7024"
                  title="Thu, 2014-10-30 01:27 - AJ1_7024"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15045758664_4235d0c03e_s.jpg"
                  alt="Thu, 2014-10-30 01:27 - AJ1_7023"
                  title="Thu, 2014-10-30 01:27 - AJ1_7023"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15480929240_3bc8a63cce_s.jpg"
                  alt="Thu, 2014-10-30 01:20 - AJ1_7006"
                  title="Thu, 2014-10-30 01:20 - AJ1_7006"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15045756054_acb4372939_s.jpg"
                  alt="Thu, 2014-10-30 00:18 - AJ1_6980"
                  title="Thu, 2014-10-30 00:18 - AJ1_6980"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15480531697_8832c5ddc2_s.jpg"
                  alt="Thu, 2014-10-30 01:15 - AJ1_6997"
                  title="Thu, 2014-10-30 01:15 - AJ1_6997"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15480530127_9aa95d117c_s.jpg"
                  alt="Thu, 2014-10-30 01:04 - AJ1_6991"
                  title="Thu, 2014-10-30 01:04 - AJ1_6991"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15046360333_65f2f55904_s.jpg"
                  alt="Thu, 2014-10-30 01:03 - AJ1_6985"
                  title="Thu, 2014-10-30 01:03 - AJ1_6985"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15046359063_5a8ff2bd18_s.jpg"
                  alt="Wed, 2014-10-29 23:37 - AJ1_6965"
                  title="Wed, 2014-10-29 23:37 - AJ1_6965"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15480526397_de8aa41196_s.jpg"
                  alt="Thu, 2014-10-30 01:03 - AJ1_6984"
                  title="Thu, 2014-10-30 01:03 - AJ1_6984"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15667314532_2d1bedb714_s.jpg"
                  alt="Wed, 2014-10-29 23:44 - AJ1_6975"
                  title="Wed, 2014-10-29 23:44 - AJ1_6975"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15480524147_389159aac2_s.jpg"
                  alt="Wed, 2014-10-29 23:37 - AJ1_6966"
                  title="Wed, 2014-10-29 23:37 - AJ1_6966"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15045746514_de29378c8f_s.jpg"
                  alt="Wed, 2014-10-29 23:39 - AJ1_6969"
                  title="Wed, 2014-10-29 23:39 - AJ1_6969"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15046352233_099c44d818_s.jpg"
                  alt="Wed, 2014-10-29 23:37 - AJ1_6964"
                  title="Wed, 2014-10-29 23:37 - AJ1_6964"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15667309342_6b8ff1ac71_s.jpg"
                  alt="Wed, 2014-10-29 23:31 - AJ1_6952"
                  title="Wed, 2014-10-29 23:31 - AJ1_6952"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15046350053_a654d5abc4_s.jpg"
                  alt="Wed, 2014-10-29 23:33 - AJ1_6963"
                  title="Wed, 2014-10-29 23:33 - AJ1_6963"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15667307182_02fcecd1e8_s.jpg"
                  alt="Wed, 2014-10-29 23:31 - AJ1_6956"
                  title="Wed, 2014-10-29 23:31 - AJ1_6956"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15479834279_b76e79710c_s.jpg"
                  alt="Wed, 2014-10-29 23:31 - AJ1_6953"
                  title="Wed, 2014-10-29 23:31 - AJ1_6953"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15480909800_7106719f4d_s.jpg"
                  alt="Wed, 2014-10-29 23:30 - AJ1_6949"
                  title="Wed, 2014-10-29 23:30 - AJ1_6949"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15480908440_ab5e226622_s.jpg"
                  alt="Wed, 2014-10-29 23:21 - AJ1_6942"
                  title="Wed, 2014-10-29 23:21 - AJ1_6942"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15480907560_d4db8fce5f_s.jpg"
                  alt="Wed, 2014-10-29 23:21 - AJ1_6941"
                  title="Wed, 2014-10-29 23:21 - AJ1_6941"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15663787591_faebb0f6b2_s.jpg"
                  alt="Wed, 2014-10-29 23:20 - AJ1_6940"
                  title="Wed, 2014-10-29 23:20 - AJ1_6940"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15479828579_bfcf29bee0_s.jpg"
                  alt="Wed, 2014-10-29 23:17 - AJ1_6935"
                  title="Wed, 2014-10-29 23:17 - AJ1_6935"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15642741276_a9704a301b_s.jpg"
                  alt="Wed, 2014-10-29 23:17 - AJ1_6934"
                  title="Wed, 2014-10-29 23:17 - AJ1_6934"> <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/15480903980_03745dc11a_s.jpg"
                  alt="Wed, 2014-10-29 22:00 - AJ1_6926"
                  title="Wed, 2014-10-29 22:00 - AJ1_6926">
              </div>
            </div>
          </div>
        </div>
        <div style="text-align:center;">
        <h2 class="block__title block-title">
          <a
            href="https://eclipsecon.org/europe2015/conference/sponsors.html">Our
            Sponsors</a>
        </h2>
        <div
          class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block clearfix view-dom-id-7d0c05d86923325f3270670b7d2c5f42">
          <div class="view-content">
            <div class="item-list">
              <h3>Exclusive Dual</h3>
              <ul class="list-inline">
                <li
                  class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/ibmpos_blurgb_14ed8.jpg"
                        alt="" width="220" height="85">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="item-list">
              <h3 style="border-bottom: 3px solid #c6c6c6;">Premium</h3>
              <ul class="list-inline">
                <li
                  class="views-row views-row-1 views-row-odd views-row-first">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/logo-normalf2df.png"
                        alt="" width="220" height="88">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-2 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/get_image9255.png"
                        alt="" width="220" height="114">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-3 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/bestSAP-Logo%2520small170a.jpg"
                        alt="" width="220" height="109">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-4 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/Bosch_SL-en051e.png"
                        alt="" width="220" height="71">
                    </div>
                  </div>
                </li>
                <li
                  class="views-row views-row-5 views-row-odd views-row-last">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/Actuate_logo_LG_0_0a332.png"
                        alt="" width="220" height="140">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="item-list">
              <h3>Basic</h3>
              <ul class="list-inline">
                <li
                  class="views-row views-row-1 views-row-odd views-row-first">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/Logo-Bonitasoft-Horizontal-Large_19c1a.png"
                        alt="" width="220" height="69">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-2 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/fb_09657.jpg"
                        alt="" width="220" height="62">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-3 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/use%2520for%2520websiteColored%2520Logo%252050090f4.png"
                        alt="" width="220" height="116">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-4 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/bit%2520reactive%2520logo%2520RGB_0f981.jpg"
                        alt="" width="220" height="110">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-5 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/CEA_Tech_LIST7fcc.png"
                        alt="" width="220" height="138">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-6 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/Ensoft%2520newlogo4JCc006.png"
                        alt="" width="220" height="171">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-7 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/Logo%2520-%2520Screen%2520-%2520Claim%2520RGB2490.png"
                        alt="" width="220" height="172">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-8 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/B-logo-03_0c010.png"
                        alt="" width="220" height="138">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-9 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/logo-xored-color_0d42f.png"
                        alt="" width="220" height="75">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-10 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/ES_Signet_4c_6cm_transparent_624pxd779.png"
                        alt="" width="220" height="49">
                    </div>
                  </div>
                </li>
                <li
                  class="views-row views-row-11 views-row-odd views-row-last">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/bsi_cmyk_claim_magazine_0_0_0f200.png"
                        alt="" width="220" height="101">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="item-list">
              <h3>Project Quality Theme Day</h3>
              <ul class="list-inline">
                <li
                  class="views-row views-row-1 views-row-odd views-row-first">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/spago4q_sponsorby_engineeringbda8.jpg"
                        alt="" width="220" height="77">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-2 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/bredex_logo_2400dpib3bb.png"
                        alt="" width="220" height="68">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-3 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/Logo%25201fb22.png"
                        alt="" width="220" height="142">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-4 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/sqslogo29a43.jpg"
                        alt="" width="220" height="216">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-5 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/logo-xored-color_1f6e1.png"
                        alt="" width="220" height="75">
                    </div>
                  </div>
                </li>
                <li
                  class="views-row views-row-6 views-row-even views-row-last">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/atlassian_darkbluetext_large_transp510b.png"
                        alt="" width="220" height="68">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="item-list">
              <h3>IoT Playground</h3>
              <ul class="list-inline">
                <li
                  class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/Actuate_logo_LG_0_0_1e34e.png"
                        alt="" width="220" height="140">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="item-list">
              <h3>Media</h3>
              <ul class="list-inline">
                <li
                  class="views-row views-row-1 views-row-odd views-row-first">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/ASQF_Zusatz_Pantone1_01edc.jpg"
                        alt="" width="220" height="152">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-2 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/Logo_Java_aktuellcd9a.jpg"
                        alt="" width="220" height="63">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-3 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/OSADL-24001b8.png"
                        alt="" width="220" height="88">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-4 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/JS_Logo_72dpi46e6.jpg"
                        alt="" width="220" height="72">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-5 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/dpunkt_logodeaa.png"
                        alt="" width="220" height="52">
                    </div>
                  </div>
                </li>
                <li
                  class="views-row views-row-6 views-row-even views-row-last">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image"
                        src="images/Professional-Tester-logo-July2010-170pxw82de.png"
                        alt="" width="220" height="87">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- /#content -->
    </div>
    <!-- /#main -->
  </div>