<div id="page">
    <header id="header" role="banner">
      <div class="row">
        <hgroup id="name-and-slogan" class="full">
          <div class="eight columns">
            <div class="z">
              <div class="row">
                <div class="ten columns">
                  <a href="/europe2015"
                    title="Home" rel="home" id="logo" class="columns"><img
                    src="images/logo-header.png"
                    alt="Home"></a>
                  <h1 id="site-name">
                    <a href="/europe2015"
                      title="Home" rel="home" id="site-name-image"
                      class="drupalcon-hdr">EclipseCon Europe 2015</a>
                  </h1>
                  <h2 id="event-location">Ludwisburg, Germany</h2>
                  <h2 id="site-slogan">EclipseCon is brought to you
                    by the Eclipse Foundation with the support of our
                    sponsors.</h2>
                  <h2 id="event-date">October 28 - 30, 2014</h2>
                </div>
                <div class="two columns mobile-hack">
                  <div class="row">
                    <span class="hidden-sm"><a
                      href="http://www.osgi.org/CommunityEvent2015/HomePage"
                      target="_blank"><img
                        src="images/logo-osgi-2015.png"
                        id="osgi-logo"></a></span>
                    <h2 class="visible-sm" id="osgi-text">
                      <a
                        href="http://www.osgi.org/CommunityEvent2015/HomePage"
                        target="_blank">OSGi™ Community Event 2015</a>
                    </h2>
                  </div>
                  <!-- /row -->
                </div>
              </div>
            </div>
            <!-- /row -->
          </div>
          <div id="event-info" class="four columns">
            <div class="header-banner-container"></div>
          </div>
        </hgroup>
        <!-- /#name-and-slogan -->
      </div>
      <!-- /row -->
    </header>
    <div id="main" class="row">
      <div class="slideshow">
        <div class="twelve columns">
          <div class="region region-slideshow">
            <div id="block-views-elipsecon-slideshow-block"
              class="block block-views first last odd">
              <h2 class="block__title block-title">Slideshow</h2>
              <div
                class="view view-elipsecon-slideshow view-id-elipsecon_slideshow view-display-id-block view-dom-id-f8634a38c8bce852cda4a82bc15c3d77">
                <div class="view-content">
                  <div class="group-wrapper"
                    style="position: relative; width: 100%;">
                    <div
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <div class="slideshow-image">
                            <img typeof="foaf:Image"
                              src="images/Coding1e001.jpg"
                              alt="" width="375" height="320">
                          </div>
                        </div>
                      </div>
                      <div>
                        <div>
                          <div class="slideshow-body">
                            <h1
                                class="slideshow-reverse">Coding at
                                EclipseCon Europe</h1>
                            <h4>Tutorials, hackathons, coding
                              contests and more</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="content" class="12 columns" role="main">
        <a id="main-content"></a>
        <div class="region region-information">
          <div id="block-flickr-10"
            class="block block-flickr first last odd">
            <h2 class="block__title block-title">Flickr: EclipseCon
              Europe 2015</h2>
            <div class="flickr-photoset">
              <h2 class="flickr-album-heading">
                <a href="https://www.flickr.com/groups/2814413@N25/"
                  title="View the group's Flickr photostream."
                  target="_blank">Flickr</a> photos from the group
                EclipseCon Europe 2015
              </h2>
              <div class="flickr-album " style="">
                <img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/675/23277340510_515e1981ea_s.jpg"
  alt="Mon, 2015-11-02 11:29 - AJ1_9678"
  title="Mon, 2015-11-02 11:29 - AJ1_9678">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5761/22945983623_5b81680a2a_s.jpg"
  alt="Mon, 2015-11-02 11:30 - AJ1_9679"
  title="Mon, 2015-11-02 11:30 - AJ1_9679">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5822/23490557601_2ece29212a_s.jpg"
  alt="Mon, 2015-11-02 13:11 - AJ1_9701"
  title="Mon, 2015-11-02 13:11 - AJ1_9701">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5684/22944745354_ed9960ae09_s.jpg"
  alt="Mon, 2015-11-02 13:12 - AJ1_9702"
  title="Mon, 2015-11-02 13:12 - AJ1_9702">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/643/23572934735_3fa7ae000b_s.jpg"
  alt="Mon, 2015-11-02 13:49 - AJ1_9703"
  title="Mon, 2015-11-02 13:49 - AJ1_9703">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5700/23464376002_a317f13336_s.jpg"
  alt="Tue, 2015-11-03 02:03 - IMG_3610"
  title="Tue, 2015-11-03 02:03 - IMG_3610">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/594/23546851466_ce12174fa7_s.jpg"
  alt="Tue, 2015-11-03 00:57 - IMG_3623"
  title="Tue, 2015-11-03 00:57 - IMG_3623">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/699/23276849130_1077155139_s.jpg"
  alt="Mon, 2015-11-02 21:40 - AJ1_9757"
  title="Mon, 2015-11-02 21:40 - AJ1_9757">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5747/23546447576_7853dbedf0_s.jpg"
  alt="Wed, 2015-11-04 16:12 - AJ1_9982"
  title="Wed, 2015-11-04 16:12 - AJ1_9982">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5687/23490054961_aa12e1b20f_s.jpg"
  alt="Fri, 2015-10-30 19:29 - IMG_3583"
  title="Fri, 2015-10-30 19:29 - IMG_3583">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5827/23204527799_b0dc23f177_s.jpg"
  alt="Wed, 2015-11-04 13:31 - IMG_3627"
  title="Wed, 2015-11-04 13:31 - IMG_3627">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/680/22945385303_c2998782b5_s.jpg"
  alt="Wed, 2015-11-04 13:33 - IMG_3628"
  title="Wed, 2015-11-04 13:33 - IMG_3628">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/680/22944222664_bd88b26f82_s.jpg"
  alt="Wed, 2015-11-04 21:52 - IMG_3638"
  title="Wed, 2015-11-04 21:52 - IMG_3638">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5740/23174708719_60c13d06f8_s.jpg"
  alt="Thu, 2015-11-05 09:28 - AJ1_0129"
  title="Thu, 2015-11-05 09:28 - AJ1_0129">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/612/22915544483_a009a0b7fe_s.jpg"
  alt="Thu, 2015-11-05 15:07 - AJ1_0137"
  title="Thu, 2015-11-05 15:07 - AJ1_0137">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5701/23516540886_4595cc7003_s.jpg"
  alt="Thu, 2015-11-05 15:09 - AJ1_0138"
  title="Thu, 2015-11-05 15:09 - AJ1_0138">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5807/23542590665_608b03ee39_s.jpg"
  alt="Thu, 2015-11-05 15:11 - AJ1_0139"
  title="Thu, 2015-11-05 15:11 - AJ1_0139">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5794/22914311644_5513ddd818_s.jpg"
  alt="Thu, 2015-11-05 15:16 - AJ1_0141"
  title="Thu, 2015-11-05 15:16 - AJ1_0141">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5805/23542532825_84ba3cf215_s.jpg"
  alt="Thu, 2015-11-05 15:17 - AJ1_0142"
  title="Thu, 2015-11-05 15:17 - AJ1_0142">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/568/23460056401_d92ee1058e_s.jpg"
  alt="Thu, 2015-11-05 15:20 - AJ1_0144"
  title="Thu, 2015-11-05 15:20 - AJ1_0144">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5723/23460032261_7a82b78878_s.jpg"
  alt="Thu, 2015-11-05 15:21 - AJ1_0145"
  title="Thu, 2015-11-05 15:21 - AJ1_0145">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/723/23174487619_e5cf5de3b3_s.jpg"
  alt="Thu, 2015-11-05 15:24 - AJ1_0146"
  title="Thu, 2015-11-05 15:24 - AJ1_0146">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5813/23174457119_f2f4ee3814_s.jpg"
  alt="Thu, 2015-11-05 15:26 - AJ1_0153"
  title="Thu, 2015-11-05 15:26 - AJ1_0153">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/674/23516306826_f25f04785e_s.jpg"
  alt="Thu, 2015-11-05 15:31 - AJ1_0160"
  title="Thu, 2015-11-05 15:31 - AJ1_0160">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/651/23433829932_4a2b870c26_s.jpg"
  alt="Thu, 2015-11-05 15:37 - AJ1_0161"
  title="Thu, 2015-11-05 15:37 - AJ1_0161">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5651/22181667953_92b62806c5_s.jpg"
  alt="Thu, 2015-11-05 09:19 - AJ1_0127"
  title="Thu, 2015-11-05 09:19 - AJ1_0127">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/676/22789230262_951a23e061_s.jpg"
  alt="Thu, 2015-11-05 00:01 - AJ1_0111"
  title="Thu, 2015-11-05 00:01 - AJ1_0111">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5732/22384314437_9a85b2d463_s.jpg"
  alt="Wed, 2015-11-04 23:32 - AJ1_0107"
  title="Wed, 2015-11-04 23:32 - AJ1_0107">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5741/22789134602_854310e1f7_s.jpg"
  alt="Wed, 2015-11-04 23:30 - AJ1_0102"
  title="Wed, 2015-11-04 23:30 - AJ1_0102">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/621/22813742701_9b66e5f357_s.jpg"
  alt="Wed, 2015-11-04 23:07 - AJ1_0098"
  title="Wed, 2015-11-04 23:07 - AJ1_0098">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/585/22802483825_611f018978_s.jpg"
  alt="Wed, 2015-11-04 23:06 - AJ1_0093"
  title="Wed, 2015-11-04 23:06 - AJ1_0093">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5788/22788964012_676250360a_s.jpg"
  alt="Wed, 2015-11-04 22:19 - AJ1_0081"
  title="Wed, 2015-11-04 22:19 - AJ1_0081">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5697/22410252789_eaa913fc5d_s.jpg"
  alt="Wed, 2015-11-04 22:18 - AJ1_0072"
  title="Wed, 2015-11-04 22:18 - AJ1_0072">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5665/22788900112_ff3023b4e3_s.jpg"
  alt="Wed, 2015-11-04 22:09 - AJ1_0060"
  title="Wed, 2015-11-04 22:09 - AJ1_0060">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/657/22383989898_24f131790a_s.jpg"
  alt="Wed, 2015-11-04 22:08 - AJ1_0059"
  title="Wed, 2015-11-04 22:08 - AJ1_0059">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/5793/22802324965_922d7aab00_s.jpg"
  alt="Wed, 2015-11-04 21:41 - AJ1_0043"
  title="Wed, 2015-11-04 21:41 - AJ1_0043">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/653/22776300776_014ce6c29c_s.jpg"
  alt="Wed, 2015-11-04 21:41 - AJ1_0039"
  title="Wed, 2015-11-04 21:41 - AJ1_0039">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/571/22383904468_16c96e4525_s.jpg"
  alt="Wed, 2015-11-04 20:38 - AJ1_0035"
  title="Wed, 2015-11-04 20:38 - AJ1_0035">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/724/22813437401_80e011f336_s.jpg"
  alt="Wed, 2015-11-04 20:30 - AJ1_0030"
  title="Wed, 2015-11-04 20:30 - AJ1_0030">
<img
  class="img-thumbnail flickr-photo-img img-responsive"
  typeof="foaf:Image"
  src="https://live.staticflickr.com/782/22788681482_25127833c3_s.jpg"
  alt="Wed, 2015-11-04 20:30 - AJ1_0029"
  title="Wed, 2015-11-04 20:30 - AJ1_0029">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="text-align:center;" id="block-views-eclipsecon-sponsors-block"
            class="block block-views first odd 12 columns">
            <h2 class="block__title block-title">
              <a
                href="https://eclipsecon.org/europe2015/conference/sponsors.html">Our
                Sponsors</a>
            </h2>
            <div
              class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block clearfix view-dom-id-7d0c05d86923325f3270670b7d2c5f42">
              <div class="view-content">
                <div class="item-list">
                  <h3>Elite Dual ECE / OSGi CE</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/ibm.html"><img
                            typeof="foaf:Image"
                            src="images/ibmpos_blurgb_4b306.jpg"
                            alt="" width="220" height="85"></a>
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/bosch-software-innovations.html"><img
                            typeof="foaf:Image"
                            src="images/4-color_Bosch_SL-en_RGB_72dpiea82.jpg"
                            alt="" width="220" height="78"></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list"><h3 style="display:none;">Elite</h3></div>
                <div class="item-list">
                  <h3>Premium</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/is2t.html"><img
                            typeof="foaf:Image"
                            src="images/mascotte-microej-powered-by-IS2T8641.png"
                            alt="" width="202" height="220"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/sap.html"><img
                            typeof="foaf:Image"
                            src="images/bestSAP-Logo%2520small_1c70d.jpg"
                            alt="" width="220" height="109"></a>
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-3 views-row-odd views-row-last">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/codenvy.html"><img
                            typeof="foaf:Image"
                            src="images/logo3xblue0639.png"
                            alt="" width="220" height="37"></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Basic</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/liferay.html"><img
                            typeof="foaf:Image"
                            src="images/2014%2520Liferay%2520Logo%2520Horizontald43f.png"
                            alt="" width="220" height="49"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/obeo.html"><img
                            typeof="foaf:Image"
                            src="images/New%2520Image_083b3.png"
                            alt="" width="220" height="116"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/qivicon.html"><img
                            typeof="foaf:Image"
                            src="images/get_image_1367d.png"
                            alt="" width="220" height="114"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/cea-list.html"><img
                            typeof="foaf:Image"
                            src="images/CEA_Tech_LIST_1680f.png"
                            alt="" width="220" height="138"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/genuitec.html"><img
                            typeof="foaf:Image"
                            src="images/B-logo-03_295ff.png"
                            alt="" width="220" height="138"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-6 views-row-even">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/eclipsesource.html"><img
                            typeof="foaf:Image"
                            src="images/ES_Signet_4c_6cm_transparent_624px_05c51.png"
                            alt="" width="220" height="49"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-7 views-row-odd">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/business-systems-integration-ag.html"><img
                            typeof="foaf:Image"
                            src="images/v2%2520BSI%2520logo82a2.png"
                            alt="" width="220" height="76"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-8 views-row-even">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/goldman-sachs-international.html"><img
                            typeof="foaf:Image"
                            src="images/GSsignature_Blue%25201fcc4.jpg"
                            alt="" width="220" height="88"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-9 views-row-odd">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/yatta-solutions-gmbh.html"><img
                            typeof="foaf:Image"
                            src="images/Logo%2520-%2520Screen%2520-%2520Claim%2520RGB_17a5d.png"
                            alt="" width="220" height="172"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-10 views-row-even">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/ancit-consulting.html"><img
                            typeof="foaf:Image"
                            src="images/ancit-logo6c8e.png"
                            alt="" width="220" height="147"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-11 views-row-odd">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/docdoku.html"><img
                            typeof="foaf:Image"
                            src="images/logo_docdoku_print_0646a.jpg"
                            alt="" width="220" height="72"></a>
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-12 views-row-even views-row-last">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/azul-systems.html"><img
                            typeof="foaf:Image"
                            src="images/azul_systems_logof5ac.png"
                            alt="" width="220" height="51"></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Project Quality Day</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/bredex.html"><img
                            typeof="foaf:Image"
                            src="images/bredex_logo_2400dpi_248f3.png"
                            alt="" width="220" height="68"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/verit-informationssysteme-gmbh.html"><img
                            typeof="foaf:Image"
                            src="images/Klaros-220x25098d4.png"
                            alt="" width="194" height="220"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/asqf.html"><img
                            typeof="foaf:Image"
                            src="images/asqf%2520transparentc8bf.png"
                            alt="" width="220" height="152"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/engineering-group.html"><img
                            typeof="foaf:Image"
                            src="images/spago4q_sponsorby_engineering_175da.jpg"
                            alt="" width="220" height="77"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/professional-tester.html"><img
                            typeof="foaf:Image"
                            src="images/PT%2520Logob29e.jpg"
                            alt="" width="220" height="90"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-6 views-row-even">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/qualityminds-gmbh.html"><img
                            typeof="foaf:Image"
                            src="images/Logo%25201_07a15.png"
                            alt="" width="220" height="142"></a>
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-7 views-row-odd views-row-last">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/sqs-spain.html"><img
                            typeof="foaf:Image"
                            src="images/sqslogo2_277fe.jpg"
                            alt="" width="220" height="216"></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Media</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/dpunkt-verlag.html"><img
                            typeof="foaf:Image"
                            src="images/dpunkt.jpg"
                            alt="" width="220" height="50"></a>
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/europe2015/sponsor/oreilly.html"><img
                            typeof="foaf:Image"
                            src="images/ORM_logo_box75_hex18d6.jpg"
                            alt="" width="220" height="61"></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      <!-- /#content -->
    </div>
    <!-- /#main -->
  </div>