<header id="header-wrapper" class="" role="banner">
    <div class="container">
      <div id="header-row" class="row">
        <div id="header-left" class="col-sm-12 margin-bottom-10 margin-top-10">
          <div class="row"><div class="col-xs-24 ece-logo-container"><a class="eclipsecon-link" href="https://events.eclipse.org/" title="Home"><img class="logo-eclipse-default img-responsive" src="images/logo.png" alt="Home"></a><a class="osgi-link" href="https://www.osgi.org/2016-osgi-community-event" title="OSGi Community Events"><img class="logo-eclipse-default img-responsive" src="images/osgi-logo.png" alt="OSGi Community Event"></a></div></div>
        </div>
        <div id="header-right" class="col-sm-12 pull-right">
          <div id="header-custom-content" class="text-center">
            <div
              class="region region-header-right solstice-region-element-count-1">
              <section
                id="block-eclipsecon-support-event-info-eclipsecon-support-event-info"
                class="block block-eclipsecon-support-event-info block-region-header-right block-eclipsecon-support-event-info clearfix">
                <div class="block-content">
                  <div class="event_info" style="padding-top:35px;">
                    <span class="event_location">LUDWIGSBURG, GERMANY · </span><span
                      class="event_date">October 25 - 27, 2016</span>
                  </div>
                </div>
              </section>
              <!-- /.block -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main role="main" class="no-promo">
    <div class="container-fluid">
      <div
        class="region region-content-prefix-fluid solstice-region-element-count-3 row">
        <section id="block-views-solstice-slideshow-block"
          class="block block-views block-region-content-prefix-fluid  view-solstice-slideshow-block-common view-solstice-slideshow-block clearfix">
          <div class="block-content">
            <div
              class="view view-solstice-slideshow view-id-solstice_slideshow view-display-id-block view-dom-id-01f32d6fb16151461660e5acfb15ff36 solstice-support-slideshow-frontpage carousel slide"
              data-ride="carousel" id="solstice-slideshow"
              style="background-image: url(images/ECE_pano_theater_foyer.jpg);">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div
                  class="views-row-odd views-row-first views-row-last active item clearfix"
                  style="height: 224px;">
                  <div class="container">
                    <div id="node-4168"
                      class="node node-solstice-slideshow node-promoted node-teaser"
                      about="/france2018/content/thank-you-attending"
                      typeof="sioc:Item foaf:Document">
                      <div
                        class="col-xs-24 solstice-slideshow-content-no-image solstice-slideshow-content"
                        style="height: 224px;">
                        <div class="solstice-slideshow-content-container">
                          <h2>
                            Thank you to all our attendees, speakers, and sponsors for a great conference!
                          </h2>
                        </div>
                      </div>
                      <div
                        class="col-sm-12 col-sm-offset-2 hidden-xs col-sm-12 col-sm-offset-2 hidden-xs">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.block -->
        <!-- /.block -->
        <section id="block-views-eclipsecon-sponsors-block-1"
          class="block block-views block-region-content-prefix-fluid  view-eclipsecon-sponsors-block-common view-eclipsecon-sponsors-block-1 clearfix">
          <div class="block-content container hidden-xs">
            <div
              class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block_1 container view-dom-id-cbdbc9fa27978ed9f88d6913029214b5">
              <div class="view-content">
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Elite Dual ECE/OSGi CE Sponsors</span>
                  </h3>
                  <ul class="list-inline" style="margin-top: 7.5px;">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/bosch-tools-logo2b85d.png"
                        alt="" width="220" height="72">
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/ibm%2520logo%2520transparent1f5f.png"
                        alt="" width="220" height="77">
                    </li>
                  </ul>
                </div>
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Premium Sponsors</span>
                  </h3>
                  <ul class="list-inline">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/SAP-Logob3db.png"
                        alt="" width="220" height="109">
                    </li>
                    <li class="views-row views-row-2 views-row-even"><img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/Codenvy-Logo9cc9.png"
                        alt="" width="220" height="37"></li>
                    <li
                      class="views-row views-row-3 views-row-odd views-row-last">
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/thingworx-color0583.png"
                        alt="" width="220" height="46">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.block -->
      </div>
    </div>
    <div class="container" id="novaContent">
      <header role="banner" id="page-header"> </header>
      <!-- /#page-header -->
      <div class="row" id="main-content-row">
        <section class="col-md-24" id="main-content">
          <a id="main-content"></a>
          <div id="maint-content-area">
            <div class="row">
              <div class="col-sm-16 col-sm-offset-4">
                <section id="block-flickr-6" class="block block-flickr solstice-block solstice-block-default block-6 pretty-block clearfix">
                  <h2 class="flickr" style="text-align:center;">EclipseCon Europe 2016 Photos</h2>
                  <div>
                    <div class="flickr-photoset">
                      <div class="flickr-album " style=""><a
                  href="https://www.flickr.com/photos/108559379@N08/30094975833/in/pool-3023664@N21"
                  title="DSC00810" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30094975833_68770c78b7_s.jpg"
                  alt="Fri, 2014-06-06 21:21 - DSC00810"
                  title="Fri, 2014-06-06 21:21 - DSC00810"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30094974183/in/pool-3023664@N21"
                  title="DSC00791" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30094974183_ea17ffbb08_s.jpg"
                  alt="Fri, 2014-06-06 16:13 - DSC00791"
                  title="Fri, 2014-06-06 16:13 - DSC00791"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30429716180/in/pool-3023664@N21"
                  title="DSC00773" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30429716180_f081b19c0d_s.jpg"
                  alt="Fri, 2014-06-06 16:09 - DSC00773"
                  title="Fri, 2014-06-06 16:09 - DSC00773"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30693330416/in/pool-3023664@N21"
                  title="DSC00772" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30693330416_8c10466d9b_s.jpg"
                  alt="Fri, 2014-06-06 16:09 - DSC00772"
                  title="Fri, 2014-06-06 16:09 - DSC00772"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30693327316/in/pool-3023664@N21"
                  title="DSC00735" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30693327316_c106b15e63_s.jpg"
                  alt="Fri, 2014-06-06 13:55 - DSC00735"
                  title="Fri, 2014-06-06 13:55 - DSC00735"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30613249382/in/pool-3023664@N21"
                  title="DSC00729" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30613249382_74e4498aa2_s.jpg"
                  alt="Fri, 2014-06-06 13:12 - DSC00729"
                  title="Fri, 2014-06-06 13:12 - DSC00729"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30076351383/in/pool-3023664@N21"
                  title="IMG_6313" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30076351383_d3ba5a487f_s.jpg"
                  alt="Thu, 2016-10-27 15:39 - IMG_6313"
                  title="Thu, 2016-10-27 15:39 - IMG_6313"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30674018046/in/pool-3023664@N21"
                  title="IMG_6316" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30674018046_883555bab1_s.jpg"
                  alt="Thu, 2016-10-27 22:16 - IMG_6316"
                  title="Thu, 2016-10-27 22:16 - IMG_6316"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30674017786/in/pool-3023664@N21"
                  title="IMG_6311" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30674017786_3c50aca5cc_s.jpg"
                  alt="Thu, 2016-10-27 14:57 - IMG_6311"
                  title="Thu, 2016-10-27 14:57 - IMG_6311"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30674012316/in/pool-3023664@N21"
                  title="AJ1_2895" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30674012316_be3d7bf691_s.jpg"
                  alt="Thu, 2016-10-27 13:54 - AJ1_2895"
                  title="Thu, 2016-10-27 13:54 - AJ1_2895"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30674007626/in/pool-3023664@N21"
                  title="AJ1_2894" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30674007626_ffe2879360_s.jpg"
                  alt="Thu, 2016-10-27 13:52 - AJ1_2894"
                  title="Thu, 2016-10-27 13:52 - AJ1_2894"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30710795115/in/pool-3023664@N21"
                  title="AJ1_2893" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30710795115_c352c50351_s.jpg"
                  alt="Thu, 2016-10-27 13:48 - AJ1_2893"
                  title="Thu, 2016-10-27 13:48 - AJ1_2893"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30710791165/in/pool-3023664@N21"
                  title="AJ1_2891" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30710791165_a826215994_s.jpg"
                  alt="Thu, 2016-10-27 13:43 - AJ1_2891"
                  title="Thu, 2016-10-27 13:43 - AJ1_2891"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30710787165/in/pool-3023664@N21"
                  title="AJ1_2888" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30710787165_a08a9a4250_s.jpg"
                  alt="Thu, 2016-10-27 13:39 - AJ1_2888"
                  title="Thu, 2016-10-27 13:39 - AJ1_2888"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30710784825/in/pool-3023664@N21"
                  title="AJ1_2887" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30710784825_1b7ec14dcc_s.jpg"
                  alt="Thu, 2016-10-27 13:38 - AJ1_2887"
                  title="Thu, 2016-10-27 13:38 - AJ1_2887"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30076316633/in/pool-3023664@N21"
                  title="AJ1_2884" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30076316633_73ababedb0_s.jpg"
                  alt="Thu, 2016-10-27 13:38 - AJ1_2884"
                  title="Thu, 2016-10-27 13:38 - AJ1_2884"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30076313633/in/pool-3023664@N21"
                  title="AJ1_2883" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30076313633_19a6e46dd2_s.jpg"
                  alt="Thu, 2016-10-27 13:23 - AJ1_2883"
                  title="Thu, 2016-10-27 13:23 - AJ1_2883"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30076310093/in/pool-3023664@N21"
                  title="AJ1_2878" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30076310093_d74ceff546_s.jpg"
                  alt="Thu, 2016-10-27 08:35 - AJ1_2878"
                  title="Thu, 2016-10-27 08:35 - AJ1_2878"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30673983776/in/pool-3023664@N21"
                  title="AJ1_2876" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30673983776_f39ddf41a2_s.jpg"
                  alt="Thu, 2016-10-27 08:30 - AJ1_2876"
                  title="Thu, 2016-10-27 08:30 - AJ1_2876"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30673981536/in/pool-3023664@N21"
                  title="AJ1_2874" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30673981536_f33be05afe_s.jpg"
                  alt="Thu, 2016-10-27 08:27 - AJ1_2874"
                  title="Thu, 2016-10-27 08:27 - AJ1_2874"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30673977386/in/pool-3023664@N21"
                  title="AJ1_2870" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30673977386_c52df8aa73_s.jpg"
                  alt="Thu, 2016-10-27 08:07 - AJ1_2870"
                  title="Thu, 2016-10-27 08:07 - AJ1_2870"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30673973266/in/pool-3023664@N21"
                  title="IMG_6303" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30673973266_ffd14edf23_s.jpg"
                  alt="Wed, 2016-10-26 18:47 - IMG_6303"
                  title="Wed, 2016-10-26 18:47 - IMG_6303"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30593703982/in/pool-3023664@N21"
                  title="AJ1_2863" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30593703982_cf0dc3dbbd_s.jpg"
                  alt="Wed, 2016-10-26 16:04 - AJ1_2863"
                  title="Wed, 2016-10-26 16:04 - AJ1_2863"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30673968806/in/pool-3023664@N21"
                  title="AJ1_2860" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30673968806_634cbf67ca_s.jpg"
                  alt="Wed, 2016-10-26 16:04 - AJ1_2860"
                  title="Wed, 2016-10-26 16:04 - AJ1_2860"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30622258571/in/pool-3023664@N21"
                  title="AJ1_2857" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30622258571_90f06266ef_s.jpg"
                  alt="Wed, 2016-10-26 16:02 - AJ1_2857"
                  title="Wed, 2016-10-26 16:02 - AJ1_2857"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30078604924/in/pool-3023664@N21"
                  title="AJ1_2858" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30078604924_1f1177235b_s.jpg"
                  alt="Wed, 2016-10-26 16:03 - AJ1_2858"
                  title="Wed, 2016-10-26 16:03 - AJ1_2858"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30622256791/in/pool-3023664@N21"
                  title="AJ1_2856" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30622256791_722f689cb1_s.jpg"
                  alt="Wed, 2016-10-26 16:02 - AJ1_2856"
                  title="Wed, 2016-10-26 16:02 - AJ1_2856"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30076288153/in/pool-3023664@N21"
                  title="AJ1_2853" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30076288153_a2420052ff_s.jpg"
                  alt="Wed, 2016-10-26 16:00 - AJ1_2853"
                  title="Wed, 2016-10-26 16:00 - AJ1_2853"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30593690872/in/pool-3023664@N21"
                  title="DSC01463" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30593690872_b5d0c2fc31_s.jpg"
                  alt="Wed, 2016-10-26 15:04 - DSC01463"
                  title="Wed, 2016-10-26 15:04 - DSC01463"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30593688902/in/pool-3023664@N21"
                  title="DSC01462" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30593688902_933627fdab_s.jpg"
                  alt="Wed, 2016-10-26 15:04 - DSC01462"
                  title="Wed, 2016-10-26 15:04 - DSC01462"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30593687162/in/pool-3023664@N21"
                  title="DSC01460" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30593687162_25b0f92e72_s.jpg"
                  alt="Wed, 2016-10-26 15:00 - DSC01460"
                  title="Wed, 2016-10-26 15:00 - DSC01460"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30076273913/in/pool-3023664@N21"
                  title="IMG_20161026_143903" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30076273913_e84a84b6c6_s.jpg"
                  alt="Wed, 2016-10-26 14:39 - IMG_20161026_143903"
                  title="Wed, 2016-10-26 14:39 - IMG_20161026_143903"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30076269763/in/pool-3023664@N21"
                  title="DSC01454" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30076269763_85062241d7_s.jpg"
                  alt="Wed, 2016-10-26 14:21 - DSC01454"
                  title="Wed, 2016-10-26 14:21 - DSC01454"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30593677942/in/pool-3023664@N21"
                  title="DSC01452" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30593677942_7b48296d42_s.jpg"
                  alt="Wed, 2016-10-26 14:17 - DSC01452"
                  title="Wed, 2016-10-26 14:17 - DSC01452"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30410247860/in/pool-3023664@N21"
                  title="IMG_6298" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30410247860_3ff47f5a32_s.jpg"
                  alt="Wed, 2016-10-26 14:01 - IMG_6298"
                  title="Wed, 2016-10-26 14:01 - IMG_6298"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30593663682/in/pool-3023664@N21"
                  title="DSC01451" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30593663682_0557c1f473_s.jpg"
                  alt="Wed, 2016-10-26 13:59 - DSC01451"
                  title="Wed, 2016-10-26 13:59 - DSC01451"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30076247193/in/pool-3023664@N21"
                  title="DSC01448" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30076247193_8186e1409f_s.jpg"
                  alt="Wed, 2016-10-26 13:36 - DSC01448"
                  title="Wed, 2016-10-26 13:36 - DSC01448"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30410233160/in/pool-3023664@N21"
                  title="DSC01447" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30410233160_4b4e27734f_s.jpg"
                  alt="Wed, 2016-10-26 13:13 - DSC01447"
                  title="Wed, 2016-10-26 13:13 - DSC01447"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30593653972/in/pool-3023664@N21"
                  title="DSC01446" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30593653972_8fc60fbf44_s.jpg"
                  alt="Wed, 2016-10-26 13:12 - DSC01446"
                  title="Wed, 2016-10-26 13:12 - DSC01446"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/30078560214/in/pool-3023664@N21"
                  title="DSC01445" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/30078560214_793e26fc97_s.jpg"
                  alt="Wed, 2016-10-26 13:12 - DSC01445"
                  title="Wed, 2016-10-26 13:12 - DSC01445"></a></div>
                      <p class="text-center margin-top-20"><a class="btn btn-primary" href="https://www.flickr.com/search/?group_id=3023664@N21&amp;per_page=40&amp;tag_mode=any&amp;q=&amp;radius=&amp;min_taken_date=&amp;max_taken_date=&amp;sort=&amp;media=photos">View all photos on Flickr</a></p>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="container-fluid">
      <div
        class="region region-content-suffix-fluid solstice-region-element-count-2 row">
        <section id="block-views-eclipsecon-sponsors-block"
          class="block block-views block-region-content-suffix-fluid  view-eclipsecon-sponsors-block-common view-eclipsecon-sponsors-block clearfix">
          <h2 class="block-title">
            <a href="#">Our
            Sponsors</a>
          </h2>
          <div class="block-content">
          <div
            class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block container view-dom-id-fd4046dc593c817bb11faf7bccba54a9">
            <div class="view-header">
              For information about becoming a sponsor, please send an email to <a href="sponsors@eclipsecon.org">sponsors@eclipsecon.org</a>.
            </div>
            <div class="view-content">
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Elite Dual ECE/OSGi CE</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ibm%2520logo%2520transparent1f5f.png"
                          alt="" width="220" height="77">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-2 views-row-even views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/bosch-tools-logo2b85d.png"
                          alt="" width="220" height="72">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Premium</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/thingworx-color0583.png"
                          alt="" width="220" height="46">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div><img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Codenvy-Logo9cc9.png"
                          alt="" width="220" height="37">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-3 views-row-odd views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/SAP-Logob3db.png"
                          alt="" width="220" height="109">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Basic</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/RapidClipse_Logo_horizontalac3d.png"
                          alt="" width="220" height="63">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ssi_logo478b.jpg"
                          alt="" width="220" height="39">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/CHOReVOLUTION_logo_RGB_256x51c36c.png"
                          alt="" width="220" height="44">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/standard_adobe_logo_00f8c.png"
                          alt="" width="165" height="220">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd">
                    <div>
                      <div>
                        <a
                          href="https://eclipsecon.org/europe2016/sponsor/bsi-business-systems-integration-ag.html"><img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/v2%2520BSI%2520logo420a.png"
                          alt="" width="220" height="76"></a>
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Logo%2520-%2520Screen%2520-%2520Claim%2520RGB_05219.png"
                          alt="" width="220" height="172">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-7 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ES_Signet_4c_6cm_transparent_624px271f.png"
                          alt="" width="220" height="49">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-8 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/logo349c.png"
                          alt="" width="220" height="64">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-9 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/get_image2c85.png"
                          alt="" width="220" height="114">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-10 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Eurotech_Logo_Blu_HR_RGB_600x106_03b00.png"
                          alt="" width="220" height="39">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-11 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Logo%2520Tuleap%2520Liberate%2520your%2520geniusbbb5.png"
                          alt="" width="220" height="98">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-12 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/B-logo-03a3eb.png"
                          alt="" width="220" height="138">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-13 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Polarsys-Logo-Larged119.png"
                          alt="" width="220" height="156">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-14 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Horizontal-Logo-Web9d74.jpg"
                          alt="" width="220" height="50">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-15 views-row-odd views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/logo_obeo_0f873.png"
                          alt="" width="220" height="56">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Project Quality Day</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/testfrabrik2ddd2.png"
                          alt="" width="220" height="54">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/WomenTestersLogo60fa.png"
                          alt="" width="220" height="152">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Klaros-220x2507711.png"
                          alt="" width="194" height="220">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ASQF_Logo_Zusatz_RGB9c6a.png"
                          alt="" width="220" height="142">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Bredex_ECE_05871.png"
                          alt="" width="220" height="48">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/DH_Standard_Blaue75f.png"
                          alt="" width="220" height="88">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-7 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/sqslogo20424.jpg"
                          alt="" width="220" height="216">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-8 views-row-even views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ta_logo_rgbb0e5.jpg"
                          alt="" width="220" height="48">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>IoT Theme Day</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/IoT-EPI-logo7b43.png"
                          alt="" width="220" height="96">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-2 views-row-even views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/updatedcorp_logo_w_text_kft_XL%25202375f.png"
                          alt="" width="220" height="147">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Media</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/720-Logo_Informatik_Aktuell6c07.png"
                          alt="" width="220" height="124">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Packt%2520Logo86e0.png"
                          alt="" width="220" height="79">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ORM_logo_box75_hexc000.jpg"
                          alt="" width="220" height="61">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/OSADL-Logo-with-text-%2520website23ea.png"
                          alt="" width="220" height="89">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/LM_logo_plain_transparent4b47.png"
                          alt="" width="220" height="92">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Sigs_Datacom_Logo%2520FIN_pixf3f5.jpg"
                          alt="" width="220" height="52">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-7 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/dpunkt.png"
                          alt="" width="220" height="50">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-8 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/developer_logo4ca4.png"
                          alt="" width="220" height="32">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-9 views-row-odd views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ELEKTRONIKPRAXIS_website53c0.png"
                          alt="" width="220" height="73">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        </section>
      </div>
    </div>
  </main>
  