<header id="header-wrapper" class="" role="banner">
    <div class="container">
      <div id="header-row" class="row">
        <div id="header-left" class="col-sm-12 margin-bottom-10 margin-top-10">
          <div class="row"><div class="col-xs-24 ece-logo-container"><a class="eclipsecon-link" href="/europe2017" title="Home"><img class="logo-eclipse-default img-responsive" src="images/logo.png" alt="Home"></a><a class="osgi-link" href="https://www.osgi.org/2017-osgi-community-event" title="OSGi Community Events"><img class="logo-eclipse-default img-responsive" src="images/osgi-logo.png" alt="OSGi Community Event"></a></div></div>
        </div>
        <div id="header-right" class="col-sm-12 pull-right">
          <div id="header-custom-content" class="text-center">
            <div
              class="region region-header-right solstice-region-element-count-1">
              <section
                id="block-eclipsecon-support-event-info-eclipsecon-support-event-info"
                class="block block-eclipsecon-support-event-info block-region-header-right block-eclipsecon-support-event-info clearfix">
                <div class="block-content">
                  <div class="event_info" style="padding-top:35px;">
                    <span class="event_location">LUDWIGSBURG, GERMANY · </span><span
                      class="event_date">October 24 - 26, 2017</span>
                  </div>
                </div>
              </section>
              <!-- /.block -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main role="main" class="no-promo">
    <div class="container-fluid">
      <div
        class="region region-content-prefix-fluid solstice-region-element-count-3 row">
        <section id="block-views-solstice-slideshow-block"
          class="block block-views block-region-content-prefix-fluid  view-solstice-slideshow-block-common view-solstice-slideshow-block clearfix">
          <div class="block-content">
            <div
              class="view view-solstice-slideshow view-id-solstice_slideshow view-display-id-block view-dom-id-01f32d6fb16151461660e5acfb15ff36 solstice-support-slideshow-frontpage carousel slide"
              data-ride="carousel" id="solstice-slideshow"
              style="background-image: url(images/ece_final.png);">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div
                  class="views-row-odd views-row-first views-row-last active item clearfix"
                  style="height: 224px;">
                  <div class="container">
                    <div id="node-4168"
                      class="node node-solstice-slideshow node-promoted node-teaser"
                      about="/france2018/content/thank-you-attending"
                      typeof="sioc:Item foaf:Document">
                      <div
                        class="col-xs-24 solstice-slideshow-content-no-image solstice-slideshow-content"
                        style="height: 224px;">
                        <div class="solstice-slideshow-content-container">
                          <h2>
                            Thank you to all our attendees, speakers, and sponsors for a great conference!
                          </h2>
                        </div>
                      </div>
                      <div
                        class="col-sm-12 col-sm-offset-2 hidden-xs col-sm-12 col-sm-offset-2 hidden-xs">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.block -->
        <!-- /.block -->
        <section id="block-views-eclipsecon-sponsors-block-1"
          class="block block-views block-region-content-prefix-fluid  view-eclipsecon-sponsors-block-common view-eclipsecon-sponsors-block-1 clearfix">
          <div class="block-content container hidden-xs">
            <div
              class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block_1 container view-dom-id-cbdbc9fa27978ed9f88d6913029214b5">
              <div class="view-content">
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Elite Dual ECE/OSGi CE Sponsors</span>
                  </h3>
                  <ul class="list-inline" style="margin-top: 14.5px;">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/bosch-tools-logo2_1.png"
                        alt="" width="220" height="72">
                    </li>
                    <li class="views-row views-row-2 views-row-even"><img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/HW_POS_RGB_Horizontal-PNG.png"
                        alt="" width="220" height="73"></li>
                    <li
                      class="views-row views-row-3 views-row-odd views-row-last">
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/ibm%2520logo%2520transparent_0.png"
                        alt="" width="220" height="77">
                    </li>
                  </ul>
                </div>
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Premium Sponsors</span>
                  </h3>
                  <ul class="list-inline">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/Updated-SAPlogo-Aug2016.png"
                        alt="" width="220" height="109">
                    </li>
                    <li class="views-row views-row-2 views-row-even"><img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/MSFT_logo_rgb_C-Gray.png"
                        alt="" width="220" height="81"></li>
                    <li class="views-row views-row-3 views-row-odd"><img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/Red_Hat_RGB_150px.png"
                        alt="" width="220" height="70"></li>
                    <li
                      class="views-row views-row-4 views-row-even views-row-last">
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/logo-che-v-dark.png"
                        alt="" width="220" height="140">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /.block -->
      </div>
    </div>
    <div class="container" id="novaContent">
      <header role="banner" id="page-header"> </header>
      <!-- /#page-header -->
      <div class="row" id="main-content-row">
        <section class="col-md-24" id="main-content">
          <a id="main-content"></a>
          <div id="maint-content-area">
            <div class="row">
              <div class="col-sm-16 col-sm-offset-4">
                <section id="block-flickr-6" class="block block-flickr solstice-block solstice-block-default block-6 pretty-block clearfix">
                  <h2 class="flickr" style="text-align:center;">EclipseCon Europe 2017 Photos</h2>
                  <div>
                    <div class="flickr-photoset">
                      <div class="flickr-album " style="">
                        <a
                  href="https://www.flickr.com/photos/108559379@N08/38459369122/in/pool-3656402@N25"
                  title="IMG_8347" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38459369122_9e85ef232f_s.jpg"
                  alt="Sun, 2017-10-22 23:22 - IMG_8347"
                  title="Sun, 2017-10-22 23:22 - IMG_8347"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/24619127258/in/pool-3656402@N25"
                  title="IMG_8349" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/24619127258_566f8959b1_s.jpg"
                  alt="Sun, 2017-10-22 23:23 - IMG_8349"
                  title="Sun, 2017-10-22 23:23 - IMG_8349"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38459366432/in/pool-3656402@N25"
                  title="IMG_8350" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38459366432_cfe1e8f230_s.jpg"
                  alt="Sun, 2017-10-22 23:23 - IMG_8350"
                  title="Sun, 2017-10-22 23:23 - IMG_8350"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/24619124638/in/pool-3656402@N25"
                  title="IMG_8352" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/24619124638_51442f0d6c_s.jpg"
                  alt="Sun, 2017-10-22 23:23 - IMG_8352"
                  title="Sun, 2017-10-22 23:23 - IMG_8352"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38459363982/in/pool-3656402@N25"
                  title="IMG_8353" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38459363982_389ee84568_s.jpg"
                  alt="Sun, 2017-10-22 23:35 - IMG_8353"
                  title="Sun, 2017-10-22 23:35 - IMG_8353"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/24619120598/in/pool-3656402@N25"
                  title="IMG_8358" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/24619120598_10aa38e947_s.jpg"
                  alt="Mon, 2017-10-23 15:45 - IMG_8358"
                  title="Mon, 2017-10-23 15:45 - IMG_8358"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/37775988734/in/pool-3656402@N25"
                  title="IMG_8373" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/37775988734_c2e17854e8_s.jpg"
                  alt="Tue, 2017-10-24 18:11 - IMG_8373"
                  title="Tue, 2017-10-24 18:11 - IMG_8373"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/26715388309/in/pool-3656402@N25"
                  title="IMG_8367" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/26715388309_8f0d318f6d_s.jpg"
                  alt="Tue, 2017-10-24 13:28 - IMG_8367"
                  title="Tue, 2017-10-24 13:28 - IMG_8367"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/26715372979/in/pool-3656402@N25"
                  title="IMG_8370" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/26715372979_39e218878a_s.jpg"
                  alt="Tue, 2017-10-24 13:04 - OLYMPUS DIGITAL CAMERA"
                  title="Tue, 2017-10-24 13:04 - OLYMPUS DIGITAL CAMERA"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/26715337349/in/pool-3656402@N25"
                  title="IMG_3606" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/26715337349_b8a8190bb3_s.jpg"
                  alt="Wed, 2017-10-25 09:23 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:23 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/37604193555/in/pool-3656402@N25"
                  title="IMG_3619" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/37604193555_920c00dd84_s.jpg"
                  alt="Wed, 2017-10-25 09:38 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:38 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/26715334569/in/pool-3656402@N25"
                  title="IMG_3625" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/26715334569_1400bcb050_s.jpg"
                  alt="Wed, 2017-10-25 09:40 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:40 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38459318142/in/pool-3656402@N25"
                  title="IMG_3626" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38459318142_9035799af4_s.jpg"
                  alt="Wed, 2017-10-25 09:46 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:46 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/26715332749/in/pool-3656402@N25"
                  title="IMG_3636" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/26715332749_f4ab365ea0_s.jpg"
                  alt="Thu, 2017-10-26 09:02 - foto: benjamin stollenberg"
                  title="Thu, 2017-10-26 09:02 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/26715331669/in/pool-3656402@N25"
                  title="IMG_3656" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/26715331669_276a48f23e_s.jpg"
                  alt="Thu, 2017-10-26 09:05 - foto: benjamin stollenberg"
                  title="Thu, 2017-10-26 09:05 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/37604185185/in/pool-3656402@N25"
                  title="IMG_3663" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/37604185185_b52d5b297a_s.jpg"
                  alt="Thu, 2017-10-26 09:06 - foto: benjamin stollenberg"
                  title="Thu, 2017-10-26 09:06 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38459315112/in/pool-3656402@N25"
                  title="IMG_3677" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38459315112_5d56e8b0d0_s.jpg"
                  alt="Thu, 2017-10-26 09:07 - foto: benjamin stollenberg"
                  title="Thu, 2017-10-26 09:07 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/26715329079/in/pool-3656402@N25"
                  title="IMG_3693" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/26715329079_7a56492e53_s.jpg"
                  alt="Thu, 2017-10-26 09:09 - foto: benjamin stollenberg"
                  title="Thu, 2017-10-26 09:09 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/37775936634/in/pool-3656402@N25"
                  title="IMG_3713" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/37775936634_198dc9d28d_s.jpg"
                  alt="Thu, 2017-10-26 09:15 - foto: benjamin stollenberg"
                  title="Thu, 2017-10-26 09:15 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38491083881/in/pool-3656402@N25"
                  title="IMG_3557" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38491083881_32c098a463_s.jpg"
                  alt="Wed, 2017-10-25 09:11 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:11 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38491079751/in/pool-3656402@N25"
                  title="IMG_3565" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38491079751_722675c896_s.jpg"
                  alt="Wed, 2017-10-25 09:13 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:13 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/37604096565/in/pool-3656402@N25"
                  title="IMG_3566" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/37604096565_95cfa05c83_s.jpg"
                  alt="Wed, 2017-10-25 09:13 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:13 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/26715259889/in/pool-3656402@N25"
                  title="IMG_3569" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/26715259889_0a92c44f02_s.jpg"
                  alt="Wed, 2017-10-25 09:14 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:14 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/37604094905/in/pool-3656402@N25"
                  title="IMG_3575" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/37604094905_8dcbec5004_s.jpg"
                  alt="Wed, 2017-10-25 09:14 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:14 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/26715257789/in/pool-3656402@N25"
                  title="IMG_3577" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/26715257789_68fb50732f_s.jpg"
                  alt="Wed, 2017-10-25 09:15 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:15 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38491070821/in/pool-3656402@N25"
                  title="IMG_3591" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38491070821_1d4120d61d_s.jpg"
                  alt="Wed, 2017-10-25 09:17 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:17 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/37604092105/in/pool-3656402@N25"
                  title="IMG_3594" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/37604092105_37ebc351b3_s.jpg"
                  alt="Wed, 2017-10-25 09:18 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:18 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38491067241/in/pool-3656402@N25"
                  title="IMG_3596" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38491067241_a75b5337e1_s.jpg"
                  alt="Wed, 2017-10-25 09:19 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:19 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38491041321/in/pool-3656402@N25"
                  title="IMG_3508" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38491041321_3c848d31b9_s.jpg"
                  alt="Wed, 2017-10-25 09:02 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:02 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38491039991/in/pool-3656402@N25"
                  title="IMG_3515" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38491039991_d7d2861e98_s.jpg"
                  alt="Wed, 2017-10-25 09:02 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:02 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38435335156/in/pool-3656402@N25"
                  title="IMG_3521" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38435335156_72ea7ccbb3_s.jpg"
                  alt="Wed, 2017-10-25 09:04 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:04 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38491036971/in/pool-3656402@N25"
                  title="IMG_3528" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38491036971_c2eb972067_s.jpg"
                  alt="Wed, 2017-10-25 09:05 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:05 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/37775824604/in/pool-3656402@N25"
                  title="IMG_3539" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/37775824604_c78e51974f_s.jpg"
                  alt="Wed, 2017-10-25 09:08 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:08 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38435329876/in/pool-3656402@N25"
                  title="IMG_3552" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38435329876_2b0cb59e6c_s.jpg"
                  alt="Wed, 2017-10-25 09:10 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:10 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/37775822674/in/pool-3656402@N25"
                  title="IMG_3553" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/37775822674_bdfaa572e5_s.jpg"
                  alt="Wed, 2017-10-25 09:11 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:11 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38435327206/in/pool-3656402@N25"
                  title="IMG_3555" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38435327206_f1a81ab0d0_s.jpg"
                  alt="Wed, 2017-10-25 09:11 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:11 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/37775819274/in/pool-3656402@N25"
                  title="IMG_3556" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/37775819274_50c5c03040_s.jpg"
                  alt="Wed, 2017-10-25 09:11 - foto: benjamin stollenberg"
                  title="Wed, 2017-10-25 09:11 - foto: benjamin stollenberg"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38435058396/in/pool-3656402@N25"
                  title="DSC_0753" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38435058396_038e47a5b5_s.jpg"
                  alt="Wed, 2017-10-25 14:14 - DSC_0753"
                  title="Wed, 2017-10-25 14:14 - DSC_0753"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38458998732/in/pool-3656402@N25"
                  title="DSC_0757" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38458998732_cb3a38f749_s.jpg"
                  alt="Wed, 2017-10-25 14:43 - DSC_0757"
                  title="Wed, 2017-10-25 14:43 - DSC_0757"></a><a
                  href="https://www.flickr.com/photos/108559379@N08/38435053926/in/pool-3656402@N25"
                  title="DSC_0762" class="th"><img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/38435053926_eaf9183e38_s.jpg"
                  alt="Wed, 2017-10-25 15:08 - DSC_0762"
                  title="Wed, 2017-10-25 15:08 - DSC_0762"></a>
                      </div>
                      <p class="text-center margin-top-20"><a class="btn btn-primary" href="https://www.flickr.com/search/?group_id=3656402@N25&amp;per_page=40&amp;tag_mode=any&amp;q=&amp;radius=&amp;min_taken_date=&amp;max_taken_date=&amp;sort=&amp;media=photos">View all photos on Flickr</a></p>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="container-fluid">
      <div
        class="region region-content-suffix-fluid solstice-region-element-count-2 row">
        <section id="block-views-eclipsecon-sponsors-block"
          class="block block-views block-region-content-suffix-fluid  view-eclipsecon-sponsors-block-common view-eclipsecon-sponsors-block clearfix">
          <h2 class="block-title">
            <a href="#">Our
            Sponsors</a>
          </h2>
          <div class="block-content">
          <div
            class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block container view-dom-id-fd4046dc593c817bb11faf7bccba54a9">
            <div class="view-header">
              For information about becoming a sponsor, please send an email to <a href="sponsors@eclipsecon.org">sponsors@eclipsecon.org</a>.
            </div>
            <div class="view-content">
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Elite Dual ECE/OSGi CE</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/bosch-tools-logo2_1.png"
                          alt="" width="220" height="72">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ibm%2520logo%2520transparent_0.png"
                          alt="" width="220" height="77">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-3 views-row-odd views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/HW_POS_RGB_Horizontal-PNG.png"
                          alt="" width="220" height="73">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Premium</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Renesas_blue.png"
                          alt="" width="220" height="35">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/logo-che-v-dark.png"
                          alt="" width="220" height="140">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/MSFT_logo_rgb_C-Gray.png"
                          alt="" width="220" height="81">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Updated-SAPlogo-Aug2016.png"
                          alt="" width="220" height="109">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-5 views-row-odd views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Red_Hat_RGB_150px.png"
                          alt="" width="220" height="70">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Basic</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Logo%2520-%2520Screen%2520-%2520Claim%2520RGB.png"
                          alt="" width="220" height="172">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Papyrus_IC%2520Logo%2520v2%2520-%2520Gradient_0.png"
                          alt="" width="220" height="96">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Canoo_Logo_pos_rgb_0.jpg"
                          alt="" width="220" height="53">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ES_Signet_4c_6cm_transparent_624px_0.png"
                          alt="" width="220" height="49">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Horizontal-Logo-Web_0.jpg"
                          alt="" width="220" height="50">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ssi_logo_70mm_iso_4c.png"
                          alt="" width="220" height="47">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-7 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Full%2520Colour_0.png"
                          alt="" width="220" height="62">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-8 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Eurotech_Logo_Blu_HR_RGB_600x106.png"
                          alt="" width="220" height="39">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-9 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/OW2_Logo_Evolution_FullColors_CMYK_0.jpg"
                          alt="" width="220" height="65">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-10 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/logo_obeo_2.png"
                          alt="" width="220" height="56">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-11 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/itemis_1.png"
                          alt="" width="220" height="62">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-12 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/1_transparent_bg_1.png"
                          alt="" width="220" height="171">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-13 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/v2%2520BSI%2520logo_0.png"
                          alt="" width="220" height="76">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-14 views-row-even views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/logo-orange.png"
                          alt="" width="220" height="220">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Club ECE Sponsor</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Salesforce.png"
                          alt="" width="220" height="154">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>IoT Theme Day</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Red_Hat_RGB_150px_0.png"
                          alt="" width="220" height="70">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Full%2520Colour.png"
                          alt="" width="220" height="62">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-3 views-row-odd views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/corp_logo_w_text_ltd_XL.png"
                          alt="" width="220" height="142">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Project Quality Day</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/040101_LOGO_Sauce-Labs_Horiz-w-Tag_Red-Grey_RGB.png"
                          alt="" width="220" height="83">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/BA_e_blue_cmyk.png"
                          alt="" width="220" height="56">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Bredex_ECE_1.png"
                          alt="" width="220" height="48">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Women%2520Testers%25202.jpg"
                          alt="" width="220" height="93">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Logo_Primary_CMYK-300dpi.png"
                          alt="" width="220" height="85">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ASQF_Logo_2016.png"
                          alt="" width="220" height="140">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-7 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/bachmann_logo_RGB_300dpi.png"
                          alt="" width="220" height="90">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-8 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Klaros-220x250_0.png"
                          alt="" width="194" height="220">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-9 views-row-odd views-row-last">
                    <div>
                      <div>
                       <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/SQS_Logo_RGB.jpg"
                          alt="" width="220" height="207">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Smart Home Day</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/qivicon_powered_by_T_0.png"
                          alt="" width="220" height="114">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Media</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Logo-JavaSPEKTRUM.png"
                          alt="" width="220" height="73">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/LM_logo_plain_transparent_0.png"
                          alt="" width="220" height="92">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Logo_JAVAPRO_Subline.png"
                          alt="" width="220" height="57">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/720-Logo_Informatik_Aktuell_0.png"
                          alt="" width="220" height="124">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/developer_logo_0.png"
                          alt="" width="220" height="32">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Logo-Java_aktuell-CMYK.png"
                          alt="" width="220" height="42">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-7 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Packt-Logo-new.png"
                          alt="" width="220" height="72">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-8 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/dpunkt_logo%2520rot_schwarz.png"
                          alt="" width="220" height="50">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-9 views-row-odd views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/OSADL-Logo-with-text.png"
                          alt="" width="220" height="89">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        </section>
      </div>
    </div>
  </main>
  