/* @CHARSET "UTF-8"; */

@background: #F5F5F5;
@title_background: #F7941E; 
@link_color: #CC7105;
@text_color: #787878;

.eecontent {
    }
    
#mapSection {       
        
    #map {
        border: 10px solid  @background;
        height: 500px;
        }
    
    #regionButtons {
        padding-bottom:5px; 
        .regionButton {
            margin-right:9px;
         }
     }
}

#eventsmail1, #eventsmail2 {
        margin-top:8px;
        color: @link_color;
}
    
#descriptons {
        .eventType {
            background-color: @background;
            padding-bottom:10px;
        }
        p {
            margin-bottom:2px;
            margin-top:2px;
        }
        .eventTypeTitle {
            font-size: 18.2px;
            font-weight: 600;
            background: @title_background;
            padding-left:20px;
            padding-bottom:10px;
            padding-top:10px;
        }
        
        .revealCollapse {
            cursor: pointer;
            margin: 2px 0;
            padding-left:43px;
            font-size: 16px;
            font-weight: 500;
            color: @text_color;
            &:hover {
                color: @link_color;
            }
        }
        .collapseText {
            font-weight: 400;
            display:none;
            padding-left:40px;
            padding-bottom:5px;
            padding-top:5px;
            margin-left:43px;
            background: #FBC37E;
            a:hover {
                color:black;
            }
        }
}
    

