<div id="page">
    <header id="header" role="banner">
      <div class="row">
        <hgroup id="name-and-slogan" class="full">
          <div class="twelve columns">
            <a href="/2014/na/" title="Home"
              rel="home" id="logo" class="columns"><img
              src="images/logo.png"
              alt="Home"></a>
  
            <h1 id="site-name">
              <a href="/2014/na/" title="Home"
                rel="home" id="site-name-image" class="drupalcon-hdr">EclipseCon
                North-America 2014</a>
            </h1>
            <h2 id="event-location">Burlingame, CA</h2>
            <h2 id="site-slogan">EclipseCon is brought to you by the
              Eclipse Foundation with the support of our sponsors.</h2>
            <h2 id="event-date">March 17-20, 2014</h2>
            <!-- </div>
              <div class="three columns">
            <div class="header-banner-container"> -->
  
            <img src="images/dates.png"
              id="img-header-date">
          </div>
        </hgroup>
        <!-- /#name-and-slogan -->
      </div>
      <!-- /row -->
    </header>
  
    <div id="main" class="row">
      <div class="slideshow">
        <div class="twelve columns">
          <div class="region region-slideshow">
            <div id="block-views-elipsecon-slideshow-block"
              class="block block-views first last odd">
  
              <h2 class="block__title block-title">Slideshow</h2>
  
              <div
                class="view view-elipsecon-slideshow view-id-elipsecon_slideshow view-display-id-block view-dom-id-9746ce86ab95cf50e86bf895588a4b3f">
  
  
  
                <div class="view-content">
                  <div class="group-wrapper">
                    <div
                      class="views-row views-row-1 views-row-odd views-row-first views-row-last">
  
                      <div>
                        <div>
                          <div class="slideshow-image">
                            <img typeof="foaf:Image"
                              src="images/13293542834_54d6e180e1aec2.jpg"
                              alt="" width="375" height="320">
                          </div>
                        </div>
                      </div>
                      <div>
                        <div>
                          <div class="slideshow-body">
                            <h1
                                class="slideshow-reverse">Thank you</h1>
                            <h4>On behalf of the EclipseCon staff and
                              the Program Committee we'd like to thank you
                              for attending EclipseCon 2014!</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="content" class="twelve columns" role="main">
        <a id="main-content"></a>
        <div class="region region-information">
          <div id="block-flickr-6"
            class="block block-flickr first last odd">
  
            <h2 class="block__title block-title">EclipseCon NA 2014
              Flickr Photos</h2>
  
            <div class="flickr-photoset">
              <div class="flickr-album " style="">
                <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13913297304_b2d22902ff_s.jpg"
    alt="Thu, 2014-03-06 13:52 - awards-2"
    title="Thu, 2014-03-06 13:52 - awards-2">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13912874605_1ab9db7ddd_s.jpg"
    alt="Wed, 2014-03-19 15:47 - photo 1"
    title="Wed, 2014-03-19 15:47 - photo 1">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13913296954_73abd22944_s.jpg"
    alt="Wed, 2014-03-19 15:48 - photo 2"
    title="Wed, 2014-03-19 15:48 - photo 2">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13913295784_0b40338812_s.jpg"
    alt="Wed, 2014-03-19 21:10 - photo 3"
    title="Wed, 2014-03-19 21:10 - photo 3">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13391751315_b8b9a50790_s.jpg"
    alt="Mon, 2014-03-17 13:28 - DSCF0107"
    title="Mon, 2014-03-17 13:28 - DSCF0107">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13392091314_027af8b040_s.jpg"
    alt="Mon, 2014-03-17 14:47 - AJ1_4711"
    title="Mon, 2014-03-17 14:47 - AJ1_4711">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13391840593_9529b35b26_s.jpg"
    alt="Mon, 2014-03-17 14:51 - AJ1_4712"
    title="Mon, 2014-03-17 14:51 - AJ1_4712">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13391682825_d65463797d_s.jpg"
    alt="Mon, 2014-03-17 14:52 - AJ1_4714"
    title="Mon, 2014-03-17 14:52 - AJ1_4714">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13391875054_9e7d8df0d3_s.jpg"
    alt="Sun, 2014-03-16 15:01 - AJ1_4699"
    title="Sun, 2014-03-16 15:01 - AJ1_4699">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13391622173_d85fbe99b4_s.jpg"
    alt="Mon, 2014-03-17 16:41 - AJ1_4731"
    title="Mon, 2014-03-17 16:41 - AJ1_4731">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13391823594_31c6d166d6_s.jpg"
    alt="Mon, 2014-03-17 16:46 - AJ1_4733"
    title="Mon, 2014-03-17 16:46 - AJ1_4733">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13391199635_02be4b3130_s.jpg"
    alt="Mon, 2014-03-17 14:35 - photo"
    title="Mon, 2014-03-17 14:35 - photo">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13391223084_dd1406c95e_s.jpg"
    alt="Thu, 2014-03-20 20:02 - AJ1_5090"
    title="Thu, 2014-03-20 20:02 - AJ1_5090">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390958003_4289f2ede8_s.jpg"
    alt="Thu, 2014-03-20 20:15 - AJ1_5099"
    title="Thu, 2014-03-20 20:15 - AJ1_5099">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390940943_1918044d0f_s.jpg"
    alt="Thu, 2014-03-20 21:12 - AJ1_5101"
    title="Thu, 2014-03-20 21:12 - AJ1_5101">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390765985_a43f89bbcc_s.jpg"
    alt="Fri, 2014-03-21 08:09 - DSCF0125"
    title="Fri, 2014-03-21 08:09 - DSCF0125">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390776883_689dc82225_s.jpg"
    alt="Thu, 2014-03-20 18:03 - AJ1_5059"
    title="Thu, 2014-03-20 18:03 - AJ1_5059">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390741333_98a5511984_s.jpg"
    alt="Thu, 2014-03-20 19:09 - AJ1_5063"
    title="Thu, 2014-03-20 19:09 - AJ1_5063">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390583545_2af78303dd_s.jpg"
    alt="Thu, 2014-03-20 19:21 - AJ1_5068"
    title="Thu, 2014-03-20 19:21 - AJ1_5068">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390559735_2321fdf80a_s.jpg"
    alt="Thu, 2014-03-20 19:23 - AJ1_5071"
    title="Thu, 2014-03-20 19:23 - AJ1_5071">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390528525_22ab10c8ec_s.jpg"
    alt="Thu, 2014-03-20 19:24 - AJ1_5076"
    title="Thu, 2014-03-20 19:24 - AJ1_5076">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390841594_284b56d043_s.jpg"
    alt="Thu, 2014-03-20 19:25 - AJ1_5080"
    title="Thu, 2014-03-20 19:25 - AJ1_5080">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390456115_7381882322_s.jpg"
    alt="Thu, 2014-03-20 19:25 - AJ1_5081"
    title="Thu, 2014-03-20 19:25 - AJ1_5081">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390428995_9e4d27a246_s.jpg"
    alt="Thu, 2014-03-20 19:26 - AJ1_5084"
    title="Thu, 2014-03-20 19:26 - AJ1_5084">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390397935_d4557300cc_s.jpg"
    alt="Thu, 2014-03-20 19:27 - AJ1_5087"
    title="Thu, 2014-03-20 19:27 - AJ1_5087">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390369965_23d16700c9_s.jpg"
    alt="Thu, 2014-03-20 20:01 - AJ1_5089"
    title="Thu, 2014-03-20 20:01 - AJ1_5089">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390312105_82ca1aa039_s.jpg"
    alt="Thu, 2014-03-20 11:59 - AJ1_5041"
    title="Thu, 2014-03-20 11:59 - AJ1_5041">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390282615_dcfb459fb5_s.jpg"
    alt="Thu, 2014-03-20 12:01 - AJ1_5042"
    title="Thu, 2014-03-20 12:01 - AJ1_5042">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390379593_c2cbe8f353_s.jpg"
    alt="Thu, 2014-03-20 15:52 - AJ1_5045"
    title="Thu, 2014-03-20 15:52 - AJ1_5045">
  <img class="flickr-photo-img" typeof="foaf:Image"
    src="images/13390582684_8098f5ef17_s.jpg"
    alt="Thu, 2014-03-20 15:53 - AJ1_5046"
    title="Thu, 2014-03-20 15:53 - AJ1_5046">
              </div>
            </div>
          </div>
        </div>
        
        
        
        <div id="block-views-eclipsecon-sponsors-block"
            class="block block-views first odd">
  
            <h2 class="block__title block-title">
              Our
                Sponsors
            </h2>
  
            <div
              class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block clearfix view-dom-id-a9fd1e7c6cb026cf333009dfdbfc7703">
  
              <div class="view-content">
                <div class="item-list">
                  <h3>Gold</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Actuate_logo_LG_0c5b7.png"
                            alt="" width="220" height="140">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/O_redbox_clrc37f.jpg"
                            alt="" width="220" height="82">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/SAP-Logoa4d9.jpg"
                            alt="" width="220" height="109">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/WinAzure_logo_Blue286_rgb_Df0a9.png"
                            alt="" width="220" height="53">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-5 views-row-odd views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/ibmpos_blurgb4b30.jpg"
                            alt="" width="220" height="85">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Silver</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/B-logo-03ada8.png"
                            alt="" width="220" height="138">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logoAtlassianPNG2686.png"
                            alt="" width="220" height="68">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-3 views-row-odd views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo-xored-color7dff.png"
                            alt="" width="220" height="75">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Bronze</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/fb30a0.jpg"
                            alt="" width="220" height="62">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Red_Hat_RGB_300px23a0.jpg"
                            alt="" width="220" height="70">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Logo_SpringByPivotal_Horizontal_Mediuma10d.png"
                            alt="" width="220" height="47">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/WebRatio-logo66f6.png"
                            alt="" width="220" height="56">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo%2520b2ca.png"
                            alt="" width="220" height="53">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-6 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/bsi_cmyk_claim_magazine_0_0b93d.png"
                            alt="" width="220" height="101">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-7 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/perfectod385.jpg"
                            alt="" width="220" height="108">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-8 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/froglogic2302.png"
                            alt="" width="220" height="88">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-9 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo%2520transpaff0.png"
                            alt="" width="220" height="23"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-10 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/klocwork-logo2012-clr-mediume733.png"
                            alt="" width="220" height="25">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-11 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Logo-Bonitasoft-Horizontal-Large3857.png"
                            alt="" width="220" height="69">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-12 views-row-even">
                      <div>
                        <div>
                          <a
                            href="https://eclipsecon.org/na2014/sponsor/cerner.html"><img
                            typeof="foaf:Image"
                            src="images/logo-cernerc49b.jpg"
                            alt="" width="220" height="57"></a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-13 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Horizontal-Logo-Web77ae.jpg"
                            alt="" width="220" height="50">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-14 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/dell-blue_20025c2.png"
                            alt="" width="220" height="220">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-15 views-row-odd views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/mulesoft-logo-tag-white-bg-medium9379.png"
                            alt="" width="220" height="68">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Student Sponsor</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/google_logo8d03.png"
                            alt="" width="220" height="102">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>IoT</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/2lemetry_lo-res_9-16-2013271d.png"
                            alt="" width="220" height="68">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/SierraLogoTM_CMYK_highres0a57.jpg"
                            alt="" width="220" height="163">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-3 views-row-odd views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Eurotech%2520Logo8094.jpg"
                            alt="" width="220" height="56">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Vert.x</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Red_Hat_RGB_300px_07794.jpg"
                            alt="" width="220" height="70">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/ORM_logo_500px27a0.png"
                            alt="" width="220" height="61">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
  
  
  
        
      </div>
      <!-- /#content -->
    </div>
    <!-- /#main -->
  </div>
  <!-- /#page -->