<div id="page">
    <header id="header" role="banner">
      <div class="row">
        <hgroup id="name-and-slogan" class="full">
          <div class="nine columns">
            <a href="https://events.eclipse.org/" title="Home" rel="home" id="logo"
              class="columns"><img
              src="images/logo.png"
              alt="Home"></a>
  
            <h1 id="site-name">
              <a href="https://events.eclipse.org/" title="Home" rel="home"
                id="site-name-image" class="drupalcon-hdr">EclipseCon
                NA 2015</a>
            </h1>
            <h2 id="event-location">San Francisco</h2>
            <h2 id="site-slogan">EclipseCon is brought to you by the
              Eclipse Foundation with the support of our sponsors.</h2>
            <h2 id="event-date">March 9-12, 2015</h2>
          </div>
          <div id="event-info" class="three columns">
            <div class="header-banner-container">
              <img
                src="images/dates.png"
                id="img-header-date">
            </div>
          </div>
        </hgroup>
        <!-- /#name-and-slogan -->
      </div>
      <!-- /row -->
    </header>
  
    <div id="main" class="row">
      <div class="slideshow">
        <div class="twelve columns">
          <div class="region region-slideshow">
            <div id="block-views-elipsecon-slideshow-block"
              class="block block-views first last odd">
  
              <h2 class="block__title block-title">Slideshow</h2>
  
              <div
                class="view view-elipsecon-slideshow view-id-elipsecon_slideshow view-display-id-block view-dom-id-dcc3b24d8b18cd5e5446884c15bec066">
  
  
  
                <div class="view-content">
                  <div class="group-wrapper"
                    style="position: relative; width: 100%;">
                    
                    <div
                      class="views-row views-row-2 views-row-even views-row-last"
                      style="position: absolute; top: 0px; left: 0px; display: block; z-index: 2; width: 100%; opacity: 0.940652;">
  
                      <div>
                        <div>
                          <div class="slideshow-image">
                            <img typeof="foaf:Image"
                              src="images/bags.jpg"
                              alt="" width="375" height="320">
                          </div>
                        </div>
                      </div>
                      <div>
                        <div>
                          <div class="slideshow-body">
                            <h1
                                class="slideshow-reverse">Thank you</h1><br>
                            <h4>Big thanks to everyone for another
                              wonderful conference! We couldn't do it
                              without all of you.</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
  
  
  
                <div class="view-footer">
  
                  <style>
  <!-- /*--><![CDATA[/* ><!--*/
  .slideshow, .view-elipsecon-slideshow {
    height: 320px;
    position: relative;
  }
  
  /*--><!]]>*/
  </style>
                </div>
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="content" class="eight columns" role="main">
        <a id="main-content"></a>
        <h1 class="title" id="page-title">News</h1>
        <div class="region region-information">
          <div id="block-flickr-6"
            class="block block-flickr first last odd">
  
            <h2 class="block__title block-title">EclipseCon NA 2015 Flickr Photos</h2>
  
            <div class="flickr-photoset">
               <div class="flickr-album " style="">
                 <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16690249809_b7b8b67f23_s.jpg"
                  alt="Thu, 2015-03-12 22:38 - DSC07678"
                  title="Thu, 2015-03-12 22:38 - DSC07678">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16875305981_386a0966cf_s.jpg"
                  alt="Thu, 2015-03-12 10:02 - DSC07677"
                  title="Thu, 2015-03-12 10:02 - DSC07677">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16875133412_781823a7a4_s.jpg"
                  alt="Thu, 2015-03-12 12:44 - DSC07675"
                  title="Thu, 2015-03-12 12:44 - DSC07675">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16668996337_21592855cf_s.jpg"
                  alt="Thu, 2015-03-12 12:43 - DSC07672"
                  title="Thu, 2015-03-12 12:43 - DSC07672">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16690188049_49d913b34f_s.jpg"
                  alt="Thu, 2015-03-12 04:36 - DSC07669"
                  title="Thu, 2015-03-12 04:36 - DSC07669">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16688903670_75938a05b8_s.jpg"
                  alt="Thu, 2015-03-12 04:24 - DSC07663"
                  title="Thu, 2015-03-12 04:24 - DSC07663">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16875123352_c52ce81110_s.jpg"
                  alt="Thu, 2015-03-12 04:22 - DSC07660"
                  title="Thu, 2015-03-12 04:22 - DSC07660">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16850420206_d873a3d33c_s.jpg"
                  alt="Thu, 2015-03-12 04:20 - DSC07657"
                  title="Thu, 2015-03-12 04:20 - DSC07657">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16256316593_1e3135ed43_s.jpg"
                  alt="Thu, 2015-03-12 04:15 - DSC07648"
                  title="Thu, 2015-03-12 04:15 - DSC07648">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16256314343_222f3db552_s.jpg"
                  alt="Thu, 2015-03-12 02:41 - DSC07643"
                  title="Thu, 2015-03-12 02:41 - DSC07643">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16253931154_dfcbfea22f_s.jpg"
                  alt="Thu, 2015-03-12 02:19 - Thank You"
                  title="Thu, 2015-03-12 02:19 - Thank You">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16850410096_64aec34ce0_s.jpg"
                  alt="Wed, 2015-03-11 21:55 - DSC07639"
                  title="Wed, 2015-03-11 21:55 - DSC07639">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16616603210_c626e79350_s.jpg"
                  alt="Fri, 2015-03-13 00:37 - AJ1_8130"
                  title="Fri, 2015-03-13 00:37 - AJ1_8130">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16616401528_b159112b6e_s.jpg"
                  alt="Fri, 2015-03-13 00:33 - AJ1_8128"
                  title="Fri, 2015-03-13 00:33 - AJ1_8128">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16802877592_b5a89e0102_s.jpg"
                  alt="Fri, 2015-03-13 00:27 - AJ1_8126"
                  title="Fri, 2015-03-13 00:27 - AJ1_8126">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16617846839_3f06d7d2c3_s.jpg"
                  alt="Fri, 2015-03-13 00:21 - AJ1_8125"
                  title="Fri, 2015-03-13 00:21 - AJ1_8125">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16803960955_e587417148_s.jpg"
                  alt="Fri, 2015-03-13 00:17 - AJ1_8120"
                  title="Fri, 2015-03-13 00:17 - AJ1_8120">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16803960185_2bb95a14dd_s.jpg"
                  alt="Fri, 2015-03-13 00:17 - AJ1_8119"
                  title="Fri, 2015-03-13 00:17 - AJ1_8119">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16181630874_94d1a3c190_s.jpg"
                  alt="Fri, 2015-03-13 00:16 - AJ1_8116"
                  title="Fri, 2015-03-13 00:16 - AJ1_8116">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16616395158_c36ed25a23_s.jpg"
                  alt="Fri, 2015-03-13 00:10 - AJ1_8115"
                  title="Fri, 2015-03-13 00:10 - AJ1_8115">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16778106726_c5987a59a2_s.jpg"
                  alt="Thu, 2015-03-12 23:51 - AJ1_8113"
                  title="Thu, 2015-03-12 23:51 - AJ1_8113">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16184047173_912481c71d_s.jpg"
                  alt="Thu, 2015-03-12 23:29 - AJ1_8112"
                  title="Thu, 2015-03-12 23:29 - AJ1_8112">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16616391188_e5ae2864e7_s.jpg"
                  alt="Thu, 2015-03-12 23:28 - AJ1_8110"
                  title="Thu, 2015-03-12 23:28 - AJ1_8110">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16802852011_c2183bf414_s.jpg"
                  alt="Thu, 2015-03-12 23:26 - AJ1_8108"
                  title="Thu, 2015-03-12 23:26 - AJ1_8108">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16769511386_20240d0f6d_s.jpg"
                  alt="Thu, 2015-03-12 04:02 - AJ1_8104"
                  title="Thu, 2015-03-12 04:02 - AJ1_8104">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16607799778_191cdb866f_s.jpg"
                  alt="Thu, 2015-03-12 04:02 - AJ1_8103"
                  title="Thu, 2015-03-12 04:02 - AJ1_8103">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16769510616_5d9dcd80c7_s.jpg"
                  alt="Thu, 2015-03-12 04:02 - AJ1_8100"
                  title="Thu, 2015-03-12 04:02 - AJ1_8100">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16175450413_1dfa0aeae5_s.jpg"
                  alt="Thu, 2015-03-12 04:02 - AJ1_8101"
                  title="Thu, 2015-03-12 04:02 - AJ1_8101">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16609237419_5e98d4d68d_s.jpg"
                  alt="Thu, 2015-03-12 04:01 - AJ1_8098"
                  title="Thu, 2015-03-12 04:01 - AJ1_8098">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16769509926_05c33a8f04_s.jpg"
                  alt="Thu, 2015-03-12 03:03 - AJ1_8087"
                  title="Thu, 2015-03-12 03:03 - AJ1_8087">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16769509446_d3aa064306_s.jpg"
                  alt="Thu, 2015-03-12 03:10 - AJ1_8093"
                  title="Thu, 2015-03-12 03:10 - AJ1_8093">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16607797808_e70012e32f_s.jpg"
                  alt="Thu, 2015-03-12 04:00 - AJ1_8097"
                  title="Thu, 2015-03-12 04:00 - AJ1_8097">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16609236499_2c1e5e58b0_s.jpg"
                  alt="Thu, 2015-03-12 02:54 - AJ1_8076"
                  title="Thu, 2015-03-12 02:54 - AJ1_8076">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16607797568_776eb55048_s.jpg"
                  alt="Thu, 2015-03-12 03:23 - AJ1_8096"
                  title="Thu, 2015-03-12 03:23 - AJ1_8096">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16795365555_c9dd934dde_s.jpg"
                  alt="Thu, 2015-03-12 03:02 - AJ1_8083"
                  title="Thu, 2015-03-12 03:02 - AJ1_8083">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16794261662_de07ef0d4c_s.jpg"
                  alt="Thu, 2015-03-12 02:24 - AJ1_8071"
                  title="Thu, 2015-03-12 02:24 - AJ1_8071">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16173054014_566ac590ba_s.jpg"
                  alt="Thu, 2015-03-12 02:22 - AJ1_8068"
                  title="Thu, 2015-03-12 02:22 - AJ1_8068">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16795365145_553af610a8_s.jpg"
                  alt="Thu, 2015-03-12 02:22 - AJ1_8069"
                  title="Thu, 2015-03-12 02:22 - AJ1_8069">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16794248731_9f81dcef47_s.jpg"
                  alt="Thu, 2015-03-12 02:28 - AJ1_8074"
                  title="Thu, 2015-03-12 02:28 - AJ1_8074">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/16588084997_6e16948973_s.jpg"
                  alt="Thu, 2015-03-12 02:21 - AJ1_8067"
                  title="Thu, 2015-03-12 02:21 - AJ1_8067">
              </div>
            </div>
          </div>
        </div>
  
  
  
        <div
          class="view view-news view-id-news view-display-id-page view-dom-id-d119c1a444129fb24e83100eae009fbd">
  
  
  
          <div class="view-content">
            
          </div>
  
        </div>
        
        <div id="block-views-eclipsecon-sponsors-block"
            class="block block-views even">
  
            <h2 class="block__title block-title">
              Our Sponsors
            </h2>
  
            <div
              class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block clearfix view-dom-id-583431041f12de3a1ed291749ca52eff">
  
              <div class="view-content">
                <div class="item-list">
                  <h3>Gold</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/bestSAP-Logo.jpg"
                            alt="" width="220" height="109">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo_microsoft_webdd44.png?itok=umsOdAX_"
                            alt="" width="220" height="47">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/ibmpos_blurgb_262f1.jpg?itok=lR3gbq__"
                            alt="" width="220" height="85">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Logo_Google_2013_Official61b3.png?itok=7AkbWneG"
                            alt="" width="220" height="76">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/o-redbadge-digital-master18ba.png?itok=e2wtJv2D"
                            alt="" width="220" height="112">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-6 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/MapboxLogo3399.png?itok=WWgrCozp"
                            alt="" width="220" height="73">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Silver</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo-xored-color_2b49b.png?itok=SzGpsWoO"
                            alt="" width="220" height="75">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Red_Hat.png"
                            alt="" width="220" height="84">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/actuate-opentext-logo-combined-transparent-108x230d823.png?itok=lC-WIXxO"
                            alt="" width="220" height="103">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/EsriTransparentLogobd36.png?itok=SXIYBHva"
                            alt="" width="220" height="98">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-5 views-row-odd views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Boundless_Logof7bd.png?itok=REJBdMHY"
                            alt="" width="220" height="49">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Bronze</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/fb_10940.jpg?itok=lU5W1TIs"
                            alt="" width="220" height="62">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/SmartBear.jpg"
                            alt="" width="220" height="28">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/AGILogo1_0210f.jpg?itok=3dSqQGuj"
                            alt="" width="220" height="100">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/v2Ravello_Logo_large5572.png?itok=fbJ_dSnr"
                            alt="" width="220" height="59">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/azavea_RGB_72dpi_white_med_edged879.png?itok=fsaNCCYr"
                            alt="" width="220" height="67">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-6 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/vaadin.png"
                            alt="" width="220" height="53">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-7 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logos_full_cartodb_lighte6ce.png?itok=1J-3YIp_"
                            alt="" width="220" height="110">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-8 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo-normalf3f9.jpg?itok=AounB0YA"
                            alt="" width="220" height="88">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-9 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/froglogic_06ace.png?itok=jZLyr9m2"
                            alt="" width="220" height="88">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-10 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/SierraLogo_R_Stacked_RGB_JPG5d62.jpg?itok=kFtqp8BD"
                            alt="" width="220" height="135">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-11 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/ccri.png"
                            alt="" width="220" height="90">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-12 views-row-even views-row-last">
                      <div>
                        <div><img
                            typeof="foaf:Image"
                            src="images/bsi_cmyk_claim_magazine_0_0_17e28.png?itok=VBjUIdoM"
                            alt="" width="220" height="101">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Student Sponsor</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Logo_Google_2013_Official_0af8b.png?itok=tloK2Ynn"
                            alt="" width="220" height="76">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Big Data Day</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/ibm_cloudant_blue1e30.png?itok=zboPDGI7"
                            alt="" width="220" height="63">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>IoT Day</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/litmus.png"
                            alt="" width="220" height="61">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/2lemetryblogo_colord41e.jpg?itok=XcCi58BB"
                            alt="" width="220" height="86">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>PG Day</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/CitusData_Logo_141230799c.png?itok=qQqO40GA"
                            alt="" width="220" height="60">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/2ndquadrant.jpg"
                            alt="" width="220" height="70">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Logo_Google_2013_Official_1860a.png?itok=9UyjolYE"
                            alt="" width="220" height="76">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/enterprisedb.png"
                            alt="" width="220" height="129">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-5 views-row-odd views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/postgresql-experts.png"
                            alt="" width="220" height="147">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Science Day</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo_transparentee4b.png?itok=bcju3L7l"
                            alt="" width="220" height="65">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <div>
                        <div><img
                            typeof="foaf:Image"
                            src="images/oak-ridge-national-laboratory.png"
                            alt="" width="220" height="53">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Web Mapping Day</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/sparkgeo_title_logof119.png?itok=0Imf6NUM"
                            alt="" width="220" height="55">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/appgeo-logo8418.png?itok=7R3x9WFL"
                            alt="" width="220" height="86">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Activity Sponsor</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/get_image_02ab2.png?itok=aPTAEjtg"
                            alt="" width="220" height="114">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Media</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/infoq.png"
                            alt="" width="220" height="65">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                
                <div class="view-header">
                <h3 class="supporters-block-title">Supporters</h3>
              </div>
  
  
  
                <div class="item-list">
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/mapgears_rgb_transparent_nb_400x21706cf.png?itok=tesRL_cI"
                            alt="" width="220" height="119">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Safe_RGBb3d1.png?itok=uKVIqGIX"
                            alt="" width="220" height="113">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- /#content -->
  
      <aside class="sidebars four columns">
        <section class="region region-sidebar">
          <div id="block-block-4" class="block block-block first odd">
  
  
            <p>
              <span>Co-located with:</span>
            </p>
  
            <p>
              <span><img alt="foss4g"
                  src="images/foss4glogo.png"
                  style="height: 100px;"></span>
            </p>
  
            <p>
              <span>Organized by the <a
                href="https://www.eclipse.org/" target="_blank">Eclipse
                  Foundation</a></span>
            </p>
  
          </div>
          <div id="block-views-4c2b9d4ee8ada0b5ecc4c7a407d04fa2"
            class="block block-views odd">
  
  
            <div
              class="view view-eclipsecon-support-sponsors view-id-eclipsecon_support_sponsors view-display-id-block clearfix eclipsecon-sponsors view-dom-id-ef4fa0707fd14d6993a78c80d70e0e70">
              
  
  
            </div>
          </div>
  
        </section>
      </aside>
      <!-- /.sidebars -->
    </div>
    <!-- /#main -->
  
  </div>