<div id="page">
    <header id="header" role="banner">
      <div class="row">
        <hgroup id="name-and-slogan" class="full">
          <div class="eight columns">
            <a href="/na2016" title="Home"
              rel="home" id="logo" class="columns"><img
              src="images/logo.png" alt="Home"></a>
  
            <h1 id="site-name">
              <a href="/na2016" title="Home"
                rel="home" id="site-name-image" class="drupalcon-hdr">EclipseCon
                NA 2016</a>
            </h1>
            <h2 id="event-location">Reston, Virginia</h2>
            <h2 id="site-slogan">EclipseCon, presented by the Eclipse
              Foundation, creates opportunities for the Eclipse community
              to learn, explore, and share.</h2>
            <h2 id="event-date">March 7-10, 2016</h2>
          </div>
          <div id="event-info" class="four columns">
            <div class="header-banner-container">
              <img src="images/dates.png"
                id="img-header-date">
            </div>
          </div>
        </hgroup>
        <!-- /#name-and-slogan -->
      </div>
      <!-- /row -->
    </header>
  
    <div id="main" class="row">
      <div class="slideshow">
        <div class="twelve columns">
          <div class="region region-slideshow">
            <div id="block-views-elipsecon-slideshow-block"
              class="block block-views first last odd">
  
              <h2 class="block__title block-title">Slideshow</h2>
  
              <div
                class="view view-elipsecon-slideshow view-id-elipsecon_slideshow view-display-id-block view-dom-id-8e9d78cf5fce4ce85faa9dd4b1132ecf">
  
  
  
                <div class="view-content">
                  <div class="group-wrapper"
                    style="position: relative; width: 100%;">
                    <div
                      class="views-row views-row-1 views-row-odd views-row-first"
                      style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1; width: 100%;">
  
                      <div>
                        <div>
                          <div class="slideshow-image">
                            <img typeof="foaf:Image"
                              src="images/thanks%2520for%2520attending53c8.jpg"
                              alt="" width="375" height="320">
                          </div>
                        </div>
                      </div>
                      <div>
                        <div>
                          <div class="slideshow-body">
                            <h1
                                class="slideshow-reverse">Thank you
                                for attending EclipseCon 2016!</h1>
                            <p>See you next year!</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="content" class="twelve columns" role="main">
        <a id="main-content"></a>
        <div class="region region-information">
          <div id="block-flickr-10"
            class="block block-flickr first last odd">
  
            <h2 class="block__title block-title">EclipseCon NA 2016 Flickr Photos</h2>
  
            <div class="flickr-photoset">
              <div class="flickr-album " style="">
                <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25676182675_67b9761a64_s.jpg"
                  alt="Wed, 2016-03-09 13:18 - AJ1_2038"
                  title="Wed, 2016-03-09 13:18 - AJ1_2038">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25676181155_6f7dce6227_s.jpg"
                  alt="Wed, 2016-03-09 13:19 - AJ1_2039"
                  title="Wed, 2016-03-09 13:19 - AJ1_2039">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25676179575_8b6f611ae5_s.jpg"
                  alt="Wed, 2016-03-09 13:21 - AJ1_2043"
                  title="Wed, 2016-03-09 13:21 - AJ1_2043">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25676178255_4c3cefdf2e_s.jpg"
                  alt="Wed, 2016-03-09 14:25 - AJ1_2052"
                  title="Wed, 2016-03-09 14:25 - AJ1_2052">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25049422273_6a6dc01131_s.jpg"
                  alt="Wed, 2016-03-09 14:27 - AJ1_2056"
                  title="Wed, 2016-03-09 14:27 - AJ1_2056">
                 <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25375320410_1ecae45995_s.jpg"
                  alt="Wed, 2016-03-09 14:35 - AJ1_2058"
                  title="Wed, 2016-03-09 14:35 - AJ1_2058">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25649982406_9ff485a6aa_s.jpg"
                  alt="Wed, 2016-03-09 14:43 - AJ1_2063"
                  title="Wed, 2016-03-09 14:43 - AJ1_2063">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25045623564_832e061bbe_s.jpg"
                  alt="Wed, 2016-03-09 14:54 - AJ1_2074"
                  title="Wed, 2016-03-09 14:54 - AJ1_2074">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25375316880_a23626958b_s.jpg"
                  alt="Wed, 2016-03-09 14:59 - AJ1_2077"
                  title="Wed, 2016-03-09 14:59 - AJ1_2077">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25375315850_e469fc9166_s.jpg"
                  alt="Wed, 2016-03-09 15:02 - AJ1_2082"
                  title="Wed, 2016-03-09 15:02 - AJ1_2082">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25583488511_059efb4301_s.jpg"
                  alt="Wed, 2016-03-09 15:12 - AJ1_2085"
                  title="Wed, 2016-03-09 15:12 - AJ1_2085">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25045618934_5a609828d2_s.jpg"
                  alt="Wed, 2016-03-09 15:13 - AJ1_2087"
                  title="Wed, 2016-03-09 15:13 - AJ1_2087">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25676160415_1cfdd010c7_s.jpg"
                  alt="Wed, 2016-03-09 15:21 - AJ1_2094"
                  title="Wed, 2016-03-09 15:21 - AJ1_2094">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25022581863_09165c157a_s.jpg"
                  alt="Tue, 2016-03-08 10:32 - AJ1_1993"
                  title="Tue, 2016-03-08 10:32 - AJ1_1993">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25018799174_6e5ebaaa38_s.jpg"
                  alt="Tue, 2016-03-08 15:15 - AJ1_1995"
                  title="Tue, 2016-03-08 15:15 - AJ1_1995">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25623142056_ca6a43b4c6_s.jpg"
                  alt="Tue, 2016-03-08 15:39 - AJ1_2004"
                  title="Tue, 2016-03-08 15:39 - AJ1_2004">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25281741739_b47d4383bc_s.jpg"
                  alt="Tue, 2016-03-08 15:42 - AJ1_2008"
                  title="Tue, 2016-03-08 15:42 - AJ1_2008">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25623140036_0d7197163b_s.jpg"
                  alt="Tue, 2016-03-08 15:47 - AJ1_2010"
                  title="Tue, 2016-03-08 15:47 - AJ1_2010">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25018795354_029d436686_s.jpg"
                  alt="Tue, 2016-03-08 16:03 - AJ1_2011"
                  title="Tue, 2016-03-08 16:03 - AJ1_2011">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25530617052_7fdb406010_s.jpg"
                  alt="Tue, 2016-03-08 16:04 - AJ1_2014"
                  title="Tue, 2016-03-08 16:04 - AJ1_2014">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25556638661_dc92977f2a_s.jpg"
                  alt="Tue, 2016-03-08 16:05 - AJ1_2015"
                  title="Tue, 2016-03-08 16:05 - AJ1_2015">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25649324005_ff298bd258_s.jpg"
                  alt="Tue, 2016-03-08 16:05 - AJ1_2016"
                  title="Tue, 2016-03-08 16:05 - AJ1_2016">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25281736129_ce537373db_s.jpg"
                  alt="Wed, 2016-03-09 06:04 - AJ1_2018"
                  title="Wed, 2016-03-09 06:04 - AJ1_2018">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25649322315_e59a08fda0_s.jpg"
                  alt="Wed, 2016-03-09 06:14 - AJ1_2019"
                  title="Wed, 2016-03-09 06:14 - AJ1_2019">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25353679840_94a83a4124_s.jpg"
                  alt="Wed, 2016-03-09 06:21 - AJ1_2024"
                  title="Wed, 2016-03-09 06:21 - AJ1_2024">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25281733759_fcf7c52363_s.jpg"
                  alt="Wed, 2016-03-09 06:23 - AJ1_2028"
                  title="Wed, 2016-03-09 06:23 - AJ1_2028">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25649319825_9e4ae72660_s.jpg"
                  alt="Wed, 2016-03-09 06:23 - AJ1_2029"
                  title="Wed, 2016-03-09 06:23 - AJ1_2029">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25556633421_d991621cd5_s.jpg"
                  alt="Wed, 2016-03-09 06:24 - AJ1_2031"
                  title="Wed, 2016-03-09 06:24 - AJ1_2031">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25018787104_31a749ca26_s.jpg"
                  alt="Wed, 2016-03-09 06:25 - AJ1_2032"
                  title="Wed, 2016-03-09 06:25 - AJ1_2032">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25530609482_fbefc53e34_s.jpg"
                  alt="Wed, 2016-03-09 06:27 - AJ1_2035"
                  title="Wed, 2016-03-09 06:27 - AJ1_2035">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25616433425_bba3127d71_s.jpg"
                  alt="Tue, 2016-03-08 06:14 - AJ1_1923"
                  title="Tue, 2016-03-08 06:14 - AJ1_1923">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25523751721_63088ea91a_s.jpg"
                  alt="Tue, 2016-03-08 06:41 - AJ1_1949"
                  title="Tue, 2016-03-08 06:41 - AJ1_1949">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/24985927724_816e87f011_s.jpg"
                  alt="Tue, 2016-03-08 06:51 - AJ1_1956"
                  title="Tue, 2016-03-08 06:51 - AJ1_1956">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25320812640_1888bf98df_s.jpg"
                  alt="Tue, 2016-03-08 06:55 - AJ1_1964"
                  title="Tue, 2016-03-08 06:55 - AJ1_1964">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25523745271_9a46b2f433_s.jpg"
                  alt="Tue, 2016-03-08 06:58 - AJ1_1970"
                  title="Tue, 2016-03-08 06:58 - AJ1_1970">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25248867329_d32eecc66e_s.jpg"
                  alt="Tue, 2016-03-08 07:06 - AJ1_1974"
                  title="Tue, 2016-03-08 07:06 - AJ1_1974">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25497786562_436a3bd1ab_s.jpg"
                  alt="Tue, 2016-03-08 07:12 - AJ1_1983"
                  title="Tue, 2016-03-08 07:12 - AJ1_1983">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25616418935_3090f496ee_s.jpg"
                  alt="Tue, 2016-03-08 07:13 - AJ1_1985"
                  title="Tue, 2016-03-08 07:13 - AJ1_1985">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/25497782932_b210a50559_s.jpg"
                  alt="Tue, 2016-03-08 07:21 - AJ1_1988"
                  title="Tue, 2016-03-08 07:21 - AJ1_1988">
                  <img
                  class="img-thumbnail flickr-photo-img img-responsive"
                  typeof="foaf:Image"
                  src="images/24985913334_0dd58b452c_s.jpg"
                  alt="Tue, 2016-03-08 09:09 - IMG_20160308_090949_panorama"
                  title="Tue, 2016-03-08 09:09 - IMG_20160308_090949_panorama">
              </div>
            </div>
          </div>
          
          <div id="block-views-eclipsecon-sponsors-block"
            class="block block-views first odd">
  
            <h2 class="block__title block-title">
              Our
                Sponsors
            </h2>
  
            <div
              class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block clearfix view-dom-id-b6cae9f117ab33ff11fa9d3782549f67">
  
  
              <div class="view-content">
                <div class="item-list">
                  <h3>Gold</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            src="images/ibmpos_blurgb_68e2a.jpg" alt=""
                            width="220" height="85">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/MSFT_logo_rgb_C-Gray_0_04e0a.png"
                            alt="" width="220" height="51">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/download0726.gif" alt=""
                            width="220" height="220">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Codenvy-Logo227a.png" alt=""
                            width="220" height="37">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/bestSAP-Logo%2520small_2c177.jpg"
                            alt="" width="220" height="109">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-6 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Halliburton_01d33.png" alt=""
                            width="220" height="70">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Silver</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/emergent_logo_ec%252027a80.jpg"
                            alt="" width="220" height="78">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Google_2015_logo.png" alt=""
                            width="220" height="72">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Bronze</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/froglogic_18c70.png" alt=""
                            width="220" height="88">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Cigital-Logo-FullColorTagline-012d32.png"
                            alt="" width="220" height="61">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/GSsignature_Blueb395.jpg" alt=""
                            width="220" height="88">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-4 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/RHdev%2520logo_RHD_775x255_defaultef7f.png"
                            alt="" width="220" height="72">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Media</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/infoQ-logo_transparent_large_0f4c6.png"
                            alt="" width="220" height="65">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>IoT Summit</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Cisco_Logo_RGB_Screen_2color43ea.png"
                            alt="" width="220" height="220">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Eurotech_Logo-01_0_003f8.png"
                            alt="" width="220" height="44">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
      </div>
      <!-- /#content -->
  
    </div>
    <!-- /#main -->
  </div>
  <!-- /#page -->