<div class="cc-revoke cc-bottom cc-animate cc-color-override-1434350510"
  style="display: block;">Cookie settings</div>
<div role="dialog" aria-live="polite" aria-label="cookieconsent"
  aria-describedby="cookieconsent:desc"
  class="cc-window cc-banner cc-type-opt-in cc-theme-block cc-bottom cc-color-override-1434350510 cc-invisible"
  style="display: none;">
  <!--googleoff: all-->
  <span id="cookieconsent:desc" class="cc-message">Some Eclipse
    Foundation pages use cookies to better serve you when you return to
    the site. You can set your browser to notify you before you receive
    a cookie or turn off cookies. If you do so, however, some areas of
    some sites may not function properly. To read Eclipse Foundation
    Privacy Policy <a aria-label="learn more about cookies"
    role="button" tabindex="0" class="cc-link"
    href="https://www.eclipse.org/legal/privacy.php"
    rel="noopener noreferrer nofollow" target="_blank">click here.</a>
  </span>
  <div class="cc-compliance cc-highlight">
    <a aria-label="deny cookies" role="button" tabindex="0"
      class="cc-btn cc-deny">Decline</a><a aria-label="allow cookies"
      role="button" tabindex="0" class="cc-btn cc-allow">Allow
      cookies</a>
  </div>
  <!--googleon: all-->
</div>
<div id="skip-link">
  <a href="#main-content" class="element-invisible element-focusable">Skip
    to main content</a>
</div>
<div class="region region-page-top solstice-region-element-count-1 row">
  <noscript aria-hidden="true">
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-5WLCZXC"
      height="0" width="0" style="display: none; visibility: hidden"
      title="Google Tag Manager">Google Tag Manager</iframe>
  </noscript>
</div>
<a class="sr-only" href="#content">Skip to main content</a>
<div class="clearfix toolbar-container-wrapper toolbar-contrast">
  <div class="container">
    <div class="text-right toolbar-row row hidden-print">
      <div class="col-md-24 row-toolbar-col">
        <div id="row-toolbar"
          class="region region-toolbar text-right hidden-print solstice-region-element-count-1 row">
          <div id="row-toolbar-col" class="col-md-24">
            <section id="block-site-login-site-login-toolbar"
              class="block block-site-login block-region-toolbar site_login_toolbar block-site-login-toolbar clearfix">
              <div class="block-content">
                <ul class="list-inline">
                  <li class="create_account first"><a
                    href="https://accounts.eclipse.org/user/register"><i
                      class="fa fa-user fa-fw"></i> Create account</a></li>
                </ul>
              </div>
            </section>
            <!-- /.block -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<header id="header-wrapper" class="" role="banner">
  <div class="container">
    <div id="header-row" class="row">
      <div id="header-left" class="hidden-xs col-sm-8">
        <a href="https://events.eclipse.org/" title="Home"><img
          class="logo-eclipse-default img-responsive"
          src="images/logo.png" alt="Home"></a>
      </div>
      <div id="header-right" class="col-sm-16 pull-right"
        style="margin-top: 50px;">
        <div class="row">
          <div class="col-sm-24"></div>
        </div>
        <div id="header-custom-content" class="text-center">
          <div
            class="region region-header-right solstice-region-element-count-1">
            <section
              id="block-eclipsecon-support-event-info-eclipsecon-support-event-info"
              class="block block-eclipsecon-support-event-info block-region-header-right block-eclipsecon-support-event-info clearfix">

              <h2 class="block-title">Eclipse Support Event Info</h2>

              <div class="block-content">
                <div class="event_info">
                  <span class="event_location">San Jose,
                    California · </span><span class="event_date">March
                    20, 2017</span>
                </div>
              </div>

            </section>
            <!-- /.block -->
          </div>
        </div>
      </div>
      <div id="main-menu-wrapper" class="col-md-16">
        <div class="navbar yamm" id="main-menu">
          <div class="navbar-header">
            <a href="https://events.eclipse.org/"
              class="navbar-brand visible-xs"><img
              class="logo-eclipse-default-mobile" alt="Eclipse.org logo"
              src="images/logo.png" width="161"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main role="main" class="no-promo">
  <div class="container-fluid">
    <div
      class="region region-content-prefix-fluid solstice-region-element-count-1 row">
      <section id="block-views-solstice-slideshow-block"
        class="block block-views block-region-content-prefix-fluid  view-solstice-slideshow-block-common view-solstice-slideshow-block clearfix">


        <div class="block-content">
          <div
            class="view view-solstice-slideshow view-id-solstice_slideshow view-display-id-block view-dom-id-d364e59b48cbd8893b8ef9c587844850 solstice-support-slideshow-frontpage carousel slide"
            data-ride="carousel" id="solstice-slideshow"
            style="background-image: url(images/posters.jpg);">



            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">


              <div
                class="views-row-odd views-row-first views-row-last active item clearfix"
                style="height: 224px;">
                <div class="container">

                  <div id="node-2652"
                    class="node node-solstice-slideshow node-promoted node-teaser"
                    about="/na2017/content/thanks-attending"
                    typeof="sioc:Item foaf:Document">
                    <div
                      class="col-xs-24 solstice-slideshow-content-no-image solstice-slideshow-content"
                      style="height: 224px;">
                      <div class="solstice-slideshow-content-container">
                        <h2>Thanks for attending!</h2>
                        <span property="dc:title"
                          content="Thanks for attending!"
                          class="rdf-meta element-hidden"></span><span
                          property="sioc:num_replies" content="0"
                          datatype="xsd:integer"
                          class="rdf-meta element-hidden"></span>
                      </div>
                    </div>
                    <div
                      class="col-sm-12 col-sm-offset-2 hidden-xs col-sm-12 col-sm-offset-2 hidden-xs">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!-- /.block -->
    </div>
  </div>
  <div class="container" id="novaContent">
    <header role="banner" id="page-header"> </header>
    <!-- /#page-header -->
    <div class="row" id="main-content-row">
      <section class="col-sm-16 col-sm-offset-4" id="main-content">



        <a id="main-content"></a>
        <h2 class="flickr" style="text-align:center;">Eclipse Converge 2017 Photos</h2>
        <div class="flickr-album " style="text-align:center;margin-bottom:30px;">
                  <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2933/33521678796_d45c1dd778_s.jpg"
                    alt="Mon, 2017-03-20 16:31 - AJ1_3190"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2836/33562269075_5a0c264cdf_s.jpg"
                    alt="Mon, 2017-03-20 11:58 - AJ1_3172"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2870/32747875053_78ee44e43f_s.jpg"
                    alt="Mon, 2017-03-20 15:09 - AJ1_3185"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/3838/33562268985_a938d921fa_s.jpg"
                    alt="Mon, 2017-03-20 14:11 - AJ1_3178"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2805/33433525791_86dba67d3c_s.jpg"
                    alt="Mon, 2017-03-20 16:09 - AJ1_3187"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2822/33562268805_0afa572fb7_s.jpg"
                    alt="Mon, 2017-03-20 16:08 - AJ1_3186"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2858/33562268655_75af3b9693_s.jpg"
                    alt="Mon, 2017-03-20 16:31 - AJ1_3189"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2901/33562268155_c2d026e07d_s.jpg"
                    alt="Mon, 2017-03-20 16:44 - AJ1_3194"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2831/33562267895_d82158fd23_s.jpg"
                    alt="Mon, 2017-03-20 16:52 - AJ1_3195"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2891/33517098146_cb79b97864_s.jpg"
                    alt="Sun, 2017-03-19 15:16 - AJ1_3134"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/3735/33174614310_184966fc07_s.jpg"
                    alt="Mon, 2017-03-20 08:06 - AJ1_3144"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2946/33517092706_2995da6d2b_s.jpg"
                    alt="Mon, 2017-03-20 08:07 - AJ1_3145"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2840/33517088756_75394c5a9a_s.jpg"
                    alt="Mon, 2017-03-20 08:12 - AJ1_3151"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2832/33517085836_cfd7f458e2_s.jpg"
                    alt="Mon, 2017-03-20 08:15 - AJ1_3155"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2885/33429025921_6c08f470d8_s.jpg"
                    alt="Mon, 2017-03-20 08:18 - AJ1_3157"> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2873/32741814383_21727ec6a6_s.jpg"
                    alt="Mon, 2017-03-20 11:49 - "> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/2825/33172901700_0e13d08c3b_s.jpg"
                    alt="Mon, 2017-03-20 09:06 - "> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/3844/33399612882_8d4eb1288e_s.jpg"
                    alt="Mon, 2017-03-20 09:11 - "> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/3951/32741814243_e9387d43b2_s.jpg"
                    alt="Mon, 2017-03-20 09:07 - "> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/3671/33172900970_2dc24545dc_s.jpg"
                    alt="Mon, 2017-03-20 09:22 - "> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/3710/33172901370_34c35ba9dc_s.jpg"
                    alt="Mon, 2017-03-20 09:04 - "> <img
                    class="img-thumbnail flickr-photo-img img-responsive"
                    typeof="foaf:Image"
                    src="https://live.staticflickr.com/3833/33019347530_2d6f7247a8_s.jpg"
                    alt="Mon, 2016-03-07 13:42 - ECNA_posters">
                </div>

      </section>

      <!-- /#sidebar-second -->

    </div>
  </div>


</main>

<p id="back-to-top" class="hidden-print">
  <a class="visible-xs" href="#top">Back to the top</a>
</p>