
<div id="banner">
  <a href="https://eclipsecon.org/2005/index.html"><img id="logo"
    alt="" src="images/header_logo.gif"></a><img id="info" alt=""
    src="images/header_info.gif">
</div>


<div id="container">
  <div id="center">
    <div class="content">

      <h3>WHAT'S NEXT</h3>

      <!-- start introduction :: not an entry -->

      <img style="float: right" src="images/sccc.jpg">
      <p>
        EclipseCon is the premier technical and user conference focusing
        on the power of the Eclipse platform. <br>
        <br>From implementers to users, and everyone in between, if
        you are using, building, or considering Eclipse, EclipseCon is
        the conference you need to attend.
        <!-- end introduction -->

      </p>
      <h3 id="a000066">Presentation slides available!</h3>
      <p>
        Thank you for participating in EclipseCon 2005! We'd like to
        express our appreciation to all the presenters who have made
        their presentation slides available on the <a
          href="https://eclipsecon.org/2005/tutorials.html">tutorials</a>
        and <a href="https://eclipsecon.org/2005/sessions.html">sessions</a>
        pages!
      </p>

      <p class="posted">
        Posted by EclipseCon Team on <a
          href="https://eclipsecon.org/2005/archives/2005/03/presentation_sl.html">March
          05, 2005</a><img alt="" id="postdot" src="images/postdot.gif"><a
          href="https://eclipsecon.org/2005/archives/2005/03/presentation_sl.html">08:33
          AM</a>
      </p>



    </div>
    <!-- end content div -->
  </div>
  <!-- end center div -->

  <div id="right">
    <!-- begin right column -->
    <div class="sidebar">
      <div id="goldtop"></div>
      <div id="goldbody">
        <table cellspacing="0" cellpadding="4" border="0" align="center">
          <tbody>
            <tr>
              <td align="center"><img src="images/at.gif" alt=""
                  width="151" height="62"></td>
            </tr>
            <tr>
              <td align="center"><img src="images/actuate.gif" alt=""
                  width="173" height="47"></td>
            </tr>
            <tr>
              <td align="center"><img src="images/borland.gif" alt=""
                  width="135" height="43"></td>
            </tr>
            <tr>
              <td align="center"><img src="images/hp.gif" alt=""
                  width="95" height="91"></td>
            </tr>
            <tr>
              <td align="center"><img src="images/ibm.gif" alt=""
                  width="116" height="54"></td>
            </tr>
            <tr>
              <td align="center"><img src="images/sap.gif" alt=""
                  width="136" height="67"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="silvertop"></div>
      <div id="silverbody">
        <table cellspacing="0" cellpadding="4" border="0" align="center">
          <tbody>
            <tr>
              <td align="center"><img src="images/bea.jpg"
                  alt="" width="148" height="88"></td>
            </tr>
            <tr>
              <td align="center"><img
                  src="images/enerjy.gif" alt="" width="165" height="37"></td>
            </tr>
            <tr>
              <td align="center"><img src="images/etri.gif" alt=""
                  width="141" height="38"></td>
            </tr>
            <tr>
              <td align="center"><img src="images/exadel.gif" alt=""
                  width="125" height="66"></td>
            </tr>
            <tr>
              <td align="center"><img src="images/ILOG.gif"
                  alt="" width="129" height="60"></td>
            </tr>
            <tr>
              <td align="center"><img src="images/Intel.gif"
                  alt="" width="127" height="65"></td>
            </tr>
            <tr>
              <td align="center"><img
                  src="images/scapa.gif" alt="" width="80" height="115"></td>
            </tr>
            <tr>
              <td align="center"><img src="images/sybase.gif" alt=""
                  width="119" height="44"></td>
            </tr>
            <tr>
              <td align="center"><img
                  src="images/windriver.gif" alt="" width="215"
                  height="32"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="sponsbottom">
        <span id="sponlink"></span>
      </div>

    </div>
    <!-- end sidebar div -->
  </div>
  <!-- end right div -->

  <div style="clear: both;">&nbsp;</div>

</div>
<!-- end container div -->