<table width="780" height="80" cellspacing="0" cellpadding="0"
  border="0">
  <tbody>
    <tr>
      <td width="670" height="80"><img
        src="images/header_05_10_03.jpg"
        usemap="#Map"
        alt="eclipseCon 2006 March 20-23 Santa Clara Convention Center"
        width="670" height="80" border="0"></td>
      <td width="110" height="80"><img
        src="images/header_empty.gif"
        width="110" height="80" border="0"></td>

    </tr>
  </tbody>
</table>


<div class="leftmenu">

  <div id="navcontainer">
    <ul id="navlist">
      <li><a href="http://www.eclipsecon.org/2010/">EclipseCon
          2010</a></li>
      <li><a href="http://www.eclipsecon.org/2009/">EclipseCon
          2009</a></li>
      <li><a href="http://www.eclipsecon.org/2008/">EclipseCon
          2008</a></li>
      <li><a href="http://www.eclipsecon.org/2007/">EclipseCon
          2007</a></li>
      <li><a href="http://www.eclipsecon.org/2005/">EclipseCon
          2005</a></li>
      <li><a href="http://www.eclipsecon.org/2004/index.htm">EclipseCon
          2004</a></li>
    </ul>
    <ul>
      <li><a href="http://www.eclipsecon.org/summiteurope2009/">Eclipse
          Summit Europe 2009 </a></li>
      <li><a href="http://www.eclipsecon.org/summiteurope2008/">Eclipse
          Summit Europe 2008 </a></li>
      <li><a href="http://www.eclipsecon.org/summiteurope2007/">Eclipse
          Summit Europe 2007 </a></li>
      <li><a href="http://www.eclipsecon.org/summiteurope2006/">Eclipse
          Summit Europe 2006 </a></li>
    </ul>
  </div>
  <a href="http://www.eclipsecon.org/summiteurope2006/"> <br> <br>


    <p align="center">
      <font size="-2"><em>asterisk.eclipse.org</em></font>


    </p></a>
</div>
<a href="http://www.eclipsecon.org/summiteurope2006/"> </a>
<div class="bodycopy">
  <a href="http://www.eclipsecon.org/summiteurope2006/">

    <div class="headline">EclipseCon 2006 Was A Great Success</div>

    <p>EclipseCon is the premier technical and user conference
      focusing on the power of the Eclipse platform. EclipseCon 2006 was
      a great success - more developers, more users, more technical
      sessions, more open source projects, more exhibitors, more
      parties, and just plain more of everything. We hope that you were
      one of the sell-out crowd in attendance, but if you were not, plan
      to join us at a future conference!</p>
  </a>
  <p>
    <a href="http://www.eclipsecon.org/summiteurope2006/">The
      presentations for most (but not quite all) of the sessions are
      available</a> online
      here. We hope you find them informative and useful.
  </p>
  <p>
    In the spirit of open and transparent, the results
    from our post-conference survey are online here.
  </p>

  <h1>EclipseCon Photos</h1>
  <p><img
      src="images/home_intro_v3.jpg"
      width="410" height="100" border="0">
  </p>

</div>

<div id="sponsorcontainer">
  <h1>Gold sponsors</h1>
  <p>
    <img
      src="images/businessobjects.gif"
      alt="Business Objects logo" width="120" height="35" border="0">
  </p>
  <p>
    <img
      src="images/sybase.gif"
      alt="Sybase logo" width="120" height="50" border="0">
  </p>
  <p>
    <img
      src="images/compuware.gif"
      alt="Compuware logo" width="120" height="40" border="0">
  </p>
  <p>
    <img
      src="images/actuate.gif"
      alt="Actuate logo" width="120" height="45" border="0">
  </p>
  <p>
   <img
      src="images/ibm.gif"
      alt="IBM logo" width="120" height="50" border="0">
  </p>
  <p>
    <img
      src="images/serena.gif"
      alt="Serena logo" width="120" height="65" border="0">
  </p>
  <p>
    <img
      src="images/hp-small.gif"
      alt="HP logo" width="120" height="70" border="0">
  </p>
  <p>
    <img
      src="images/bea.gif"
      alt="BEA logo" width="120" height="65" border="0">
  </p>
  <p>
    <img
      src="images/acceleratedtech.gif"
      alt="Accelerated Technology logo" width="120" height="55"
      border="0">
  </p>

  <h1>Silver sponsors</h1>
  <p>
    <img
      src="images/qnx.gif"
      width="120" height="55" border="0">
  </p>
  <p>
    <img
      src="images/omondo.gif"
      width="120" height="50" border="0">
  </p>
  <p>
    <img
      src="images/lynuxworks.gif"
      alt="Lynux Works logo" width="120" height="70" border="0">
  </p>
  <p>
    <img
      src="images/black_duck.gif"
      alt="Black Duck logo" width="120" height="60" border="0">
  </p>
  <p>
    <img
      src="images/nokia.gif"
      alt="Nokia logo" width="120" height="50" border="0">
  </p>
  <p>
    <img
      src="images/scapa.gif"
      alt="Scapa Technologies logo" width="120" height="95" border="0">
  </p>
  <p>
    <img
      src="images/adobe.gif"
      alt="Adobe logo" width="120" height="75" border="0">
  </p>
  <p>
    <img
      src="images/salesforce.gif"
      alt="Sales Force logo" width="120" height="45" border="0">
  </p>
  <p>
    <img
      src="images/windriver.gif"
      alt="Wind River logo" width="120" height="30" border="0">
  </p>
  <p>
    <img
      src="images/innoopract.gif"
      alt="Innoopract logo" width="120" height="35" border="0">
  </p>
  <p>
    <img
      src="images/borland.gif"
      alt="Borland logo" width="120" height="55" border="0">
  </p>
  <p>
    <img
      src="images/ilog.gif"
      alt="ILOG logo" width="120" height="65" border="0">
  </p>
  <p>
    <img
      src="images/telelogic-small.gif"
      width="120" height="26" border="0">
  </p>

  <h1>Media sponsors</h1>
  <p>
    <img
      src="images/ieee-software.gif"
      alt="IEEE Software logo" width="120" height="50" border="0">
  </p>
  <p>
    <img
      src="images/sysadmin.gif"
      alt="Sys Admin logo" width="120" height="75" border="0">
  </p>
  <p>
   <img
      src="images/eclipse-source.gif"
      alt="Eclipse Source logo" width="120" height="23" border="0">
  </p>
  <p>
    <img
      src="images/eclipse-magazin.gif"
      alt="Eclipse Magazine logo" width="120" height="45" border="0">
  </p>
  <p>
    <img
      src="images/software_development.gif"
      alt="Software Development logo" width="120" height="40" border="0">
  </p>
  <p>
   <img
      src="images/embedded-computing.gif"
      alt="Embedded Computing logo" width="120" height="24" border="0">
  </p>
  <p>
    <img
      src="images/addison-wesley.jpg"
      alt="Addison-Wesley logo" width="120" height="17" border="0">
  </p>
  <p>
    <img
      src="images/eclipse-dev-journal.gif"
      alt="Eclipse Developers journal logo" width="120" height="24"
      border="0">
  </p>
  <p>
    <img
      src="images/eclipsezone.gif"
      alt="Eclipse Zone logo" width="120" height="60" border="0">
  </p>
  <p>
    <img
      src="images/eclipsereview.gif"
      alt="Eclipse Review logo" width="120" height="45" border="0">
  </p>
  <p>
    <img
      src="images/software-dev-times.gif"
      alt="SD Times logo" width="120" height="45" border="0">
  </p>
  <p>
    <img
      src="images/drdobbs.gif"
      alt="Dr. Dobb's logo" width="120" height="55" border="0">
  </p>
  <p>
    <img
      src="images/software-test-perf.gif"
      alt="Software Test &amp; Performance logo" width="120" height="40"
      border="0">
  </p>
  <p>
    <img
      src="images/acm-queue.gif"
      alt="ACM Queue logo" width="120" height="67" border="0">
  </p>

</div>