<table width="801" cellspacing="2" border="0">
  <tbody>
    <tr>
      <th colspan="4" scope="col"><a
        href="/2007"><img
          src="images/header_2007.gif"
          alt="EclipseCon 2007 March 5-8, Santa Clara California"
          border="0"></a></th>

    </tr>
  </tbody>
</table>

<div class="leftmenu">

  <div class="navcontainer">
    <ul class="navlist">
      <li><a href="https://eclipsecon.org/2010/">EclipseCon
          2010</a></li>
      <li><a href="https://eclipsecon.org/2009/">EclipseCon
          2009</a></li>
      <li><a href="https://eclipsecon.org/2008/">EclipseCon
          2008</a></li>
      <li><a href="https://eclipsecon.org/2006/">EclipseCon
          2006</a></li>
      <li><a href="https://eclipsecon.org/2005/">EclipseCon
          2005</a></li>
      <li><a href="https://eclipsecon.org/2004/">EclipseCon
          2004</a></li>
      <li><a href="https://eclipsecon.org/summiteurope2009/">Eclipse
          Summit Europe 2009</a></li>
      <li><a href="https://eclipsecon.org/summiteurope2008/">Eclipse
          Summit Europe 2008</a></li>
      <li><a href="https://eclipsecon.org/summiteurope2007/">Eclipse
          Summit Europe 2007</a></li>
      <li><a href="https://eclipsecon.org/summiteurope2006/">Eclipse
          Summit Europe 2006</a></li>
    </ul>
  </div>
  <p>
    <br>
  </p>
  <div align="center"></div>


</div>
<!-- Closes the <div> added by leftmenu // -->




<div class="bodycopy">
  <h1>EclipseCon 2007 Was A Great Success</h1>
  <p>EclipseCon 2007 was a great success - more technical sessions,
    more open source projects, more BOFs, more parties, and just plain
    more. We hope that you were in attendance, but if you were not, plan
    to be there next year!</p>
  <p>
    The presentations for most<sup>1</sup> of the tutorials and talks
    are available online. We hope you find them informative and useful.
    (<sup>1</sup><span style="font-size: 8pt">Posting the
      presentations is/was at the author's option - contact the authors
      if you do not find a presentation on-line.</span>)
  </p>

  <h1>How Great Was EclipseCon 2007?</h1>
  <p>With over 200 technical sessions, hundreds of experts, and
    amazing hallway conversations, it was the place to be.</p>
</div>

<div id="sponsorcontainer">
  <h1>Gold sponsors</h1>
  <p>
    <img
      src="images/ingres_2007.gif" alt="Ingres logo" width="120"
      height="29" border="0">
  </p>
  <p>
    <img src="images/bea_2006.gif"
      alt="BEA logo" width="120" height="65" border="0">
  </p>
  <p>
    <img src="images/ibm_2007.gif"
      alt="IBM logo" width="120" height="45" border="0">
  </p>
  <p>
    <img
      src="images/businessobjects_2007.gif" alt="Business Objects logo"
      width="120" height="35" border="0">
  </p>
  <p>
    <img
      src="images/klocwork_2006.gif" alt="Klocwork logo" width="120"
      height="20" border="0">
  </p>
  <p>
    <img
      src="images/windriver_2007.gif" alt="Windriver logo" width="120"
      height="25" border="0">
  </p>
  <p>
    <img
      src="images/redhat_2007.gif" alt="Red Hat logo" width="120"
      height="45" border="0">
  </p>
  <p>
    <img
      src="images/actuate_2007.gif" alt="Actuate logo" width="120"
      height="30" border="0">
  </p>
  <h1>Silver sponsors</h1>
  <p>
    <img
      src="images/compuware_2006.gif" alt="Compuware logo" width="120"
      height="35" border="0">
  </p>
  <p>
    <img
      src="images/sybase_2006.gif" alt="Sybase logo" width="120"
      height="50" border="0">
  </p>
  <p>
    <img
      src="images/google_2007.gif" alt="Google logo" width="120"
      height="55" border="0">
  </p>
  <p>
    <img
      src="images/nexaweb_2007.gif" alt="Nexaweb" border="0">
  </p>
  <p>
    <img
      src="images/activegrid_2006.gif" alt="Activegrid" border="0">
  </p>
  <p>
    <img
      src="images/genuitec_2007.gif" alt="Genuitec" border="0">
  </p>
  <p>
   <img
      src="images/instantiations_2006.gif" alt="Instantiations"
      border="0">
  </p>
  <p>
    <img
      src="images/cloudsmith_2007.gif" alt="Cloudsmith" border="0">
  </p>
  <p>
    <img
      src="images/codegear_2007.gif" alt="Code Gear" width="120"
      height="42" border="0">
  </p>
  <p>
    <img
      src="images/access_2007.gif" alt="ACCESS" border="0">
  </p>
  <p>
    <img
      src="images/oracle_2007.gif" alt="Oracle" border="0">
  </p>
  <p>
   <img
      src="images/telelogic_2007.gif" alt="Telelogic" border="0">
  </p>
  <p>
    <img
      src="images/innoopract_2006.gif" alt="Innoopract logo" width="120"
      height="35" border="0">
  </p>
  <p>
    <img
      src="images/lynuxworks_2007.gif" alt="Lynux Works" border="0">
  </p>
  <h1>Media sponsors</h1>
  <p>
    <img
      src="images/eclipsemagazine_2006.gif" alt="Eclipse Magazine logo"
      width="120" height="31" border="0">
  </p>
  <p>
    <img
      src="images/goingtomeet_2006.jpg" alt="GoingtoMeet.com logo"
      width="110" height="60" border="0">
  </p>
  <p>
   <img
      src="images/methodsandtools_2007.gif" alt="Methods and Tools logo"
      width="120" height="55" border="0">
  </p>
  <p>
    <img
      src="images/eclipsezone_2007.gif" alt="Eclipsezone logo"
      width="120" border="0">
  </p>
  <p>
    <img
      src="images/addisonwesley_2006.gif" alt="Addison-Wesley logo"
      width="69" height="70" border="0">
  </p>
  <p>
    <img
      src="images/eclipsemagazin_2007.gif" alt="Eclipse Magazin logo"
      width="120" height="40" border="0">
  </p>
  <p>
    <img
      src="images/embeddedcomputing_2007.gif"
      alt="Embedded Computing logo" width="120" height="24" border="0"></a>
  </p>
  <p>
    <img
      src="images/sdtimes_2006.gif" alt="SD Times logo" width="120"
      height="45" border="0">
  </p>
  <p>
    <img
      src="images/enterpriseosmag_2007.gif"
      alt="Enterprise Open Source logo" width="120" border="0">
  </p>
  <p>
    <img
      src="images/queue_2007.gif" alt="ACM Queue logo" width="120"
      height="65" border="0">
  </p>
  <p>
    <img
      src="images/tss_2006.gif" alt="TheServerSide Java Symposium"
      width="120" height="45" border="0">
  </p>
  <p>
   <img
      src="images/eclipsereview_2006.gif" alt="Eclipse Review logo"
      width="120" height="45" border="0">
  </p>
  <p>
    <img
      src="images/testandperformance_2006.gif"
      alt="Software Test &amp; Performance logo" width="120" height="40"
      border="0">
  </p>
  <p>
    <img
      src="images/eclipsedevjournal_2007.gif"
      alt="Eclipse Developers Journal logo" width="120" border="0">
  </p>
  <p>
    <img
      src="images/eclipsesource_2006.gif" alt="Eclipse Source logo"
      width="120" height="23" border="0">
  </p>
</div>
<br>

