<div id="container">
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-16 col-sm-offset-4">
          <div id="logo">
            <a href="https://events.eclipse.org/"><img
              src="images/eclipsecon08_logo.jpg" alt="EclipseCon 2008"
              border="0"></a>
          </div>
          <div id="locationdates">
            <img src="images/eclipsecon08_logo.jpg" alt="EclipseCon 2008"
              border="0">
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!-- end #header -->
  <div class="container">
    <div class="row">
      <div class="col-sm-16 col-sm-offset-4">
        <div id="middlecontent">
          <h1>EclipseCon 2008 Was A Great Succcess</h1>
          <p>EclipseCon 2008 was a great success - more technical
            sessions, more open source projects, more BOFs, more parties, and
            just plain more. Plus we had the exciting IBM and Blackberry
            Developer Days, the OSGi DevCon and an OMG Symposium. We hope that
            you were there, but if you were not, plan join us at the next
            EclipseCon!</p>
          <p>
            Check out what you missed! <br>Get the latest update of the
            presentation slides archive: All
              Presentations <em>(230Mb+)</em>. <br>Slides are also
            available for individual presentations from the
              program page.
          </p>
      
          <h1>How Great Was EclipseCon 2008?</h1>
          With over 300 tutorials and technical sessions, hundreds of experts,
          and amazing hallway conversations, it was the place to be. Our
          attendees agreed: check out their session
            evaluations.
      
          <h2>Great Keynotes</h2>
          <table width="100%" cellspacing="0" cellpadding="0" border="0"
            align="center">
            <tbody>
              <tr>
                <td valign="bottom" align="center"><img
                    alt="Cory Doctorow"
                    src="images/cory_doctorow_homepage2.jpg" width="173"
                    height="181"></td>
                <td width="20">&nbsp;</td>
                <td valign="bottom" align="center"><img
                    alt="Dan Lyons" src="images/dan_lyons_homepage.jpg"
                    width="177" height="181"></td>
                <td width="20">&nbsp;</td>
                <td valign="bottom" align="center"><img
                    alt="Sam Ramji" src="images/sam_ramji_homepage3.jpg"
                    width="173" height="181"></td>
                <td width="20">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top" align="center"><b>Cory
                      Doctorow</b><br>Science Fiction Author,<br>Open
                  Source Advocate</td>
                <td width="20">&nbsp;</td>
                <td valign="top" align="center"><b>Dan
                      Lyons</b><br>Fake Steve Jobs</td>
                <td width="20">&nbsp;</td>
                <td valign="top" align="center"><b>Sam
                      Ramji</b><br>Microsoft Open Source Labs</td>
                <td width="20">&nbsp;</td>
              </tr>
            </tbody>
          </table>
      
          <h1>Conference Photos</h1>
          <p>Clicking on an image in the mosaic below takes you to its set
            on Flickr. Be sure to view the whole "EclipseCon 2008" Flickr
            collection (or search for photos tagged with "eclipsecon2008").</p>
          <center>
      
            <div
              style="border-style: solid; border-width: 0px 1px 1px 0px; border-color: black; width: 472px;">
              <div style="border: solid #AAAAAA 1px; padding: 6px;">
                <img alt="touch_winner"
                  src="images/2348486127_7e94fe19be_s.jpg" border="0"> <img
                  alt="spotlight4" src="images/2348486471_7891417290_s.jpg"
                  border="0"> <img alt="doug+wayne"
                  src="images/2348486509_55d3f0e072_s.jpg" border="0"> <img
                  alt="xbox2_winner" src="images/2349320946_6a2322d877_s.jpg"
                  border="0"> <img alt="spotlight3"
                  src="images/2349321260_1c2ec7da53_s.jpg" border="0"> <img
                  alt="daniel" src="images/2348486029_368dacd1e9_s.jpg"
                  border="0"> <img alt="poker_winners"
                  src="images/2348486223_94939bb48e_s.jpg" border="0"> <img
                  alt="doug" src="images/2348486547_0899ce8044_s.jpg"
                  border="0"> <img alt="recycle"
                  src="images/2349321432_124bfdfc97_s.jpg" border="0"> <img
                  alt="spotlight2" src="images/2349321176_3823fa6476_s.jpg"
                  border="0"> <img alt="spotlight"
                  src="images/2349321106_5ce1aaca29_s.jpg" border="0"> <img
                  alt="belia+karl+eduardo"
                  src="images/2349038674_a24b8e5264_s.jpg" border="0"> <img
                  alt="xbox_winner" src="images/2348272196_de4a321f9e_s.jpg"
                  border="0"> <img alt="cory_doctorow"
                  src="images/2348272168_c2fa2c3a9e_s.jpg" border="0"> <img
                  alt="bar3" src="images/2346501791_35bc8a9c2c_s.jpg"
                  border="0"> <img alt="beer_ends"
                  src="images/2347330672_d65612a122_s.jpg" border="0"> <img
                  alt="bar5" src="images/2347330892_000f0cd935_s.jpg"
                  border="0"> <img alt="bar4"
                  src="images/2346501893_4a2b93a5f6_s.jpg" border="0">
      
              </div>
            </div>
          </center>
        </div>
        <div id="sponsorcontainer">
          <h1>Gold sponsors</h1>
          <p>
            <img src="images/bea-small_2008.gif" alt="BEA logo" width="120"
              height="65" border="0">
          </p>
          <p>
            <img src="images/ibm-small_2007.gif" alt="IBM logo" width="120"
              height="45" border="0">
          </p>
          <p>
            <img src="images/windriver-small_2007.gif" alt="Wind River logo"
              width="120" height="25" border="0">
          </p>
          <p>
            <img src="images/replay-small_2008.gif"
              alt="Replay Solutions logo" border="0">
          </p>
          <p>
            <img src="images/jboss-small_2008.jpg" alt="JBoss logo">
          </p>
          <p>
            <img src="images/sopera-small_2008.gif" alt="SOPERA logo"
              border="0">
          </p>
          <p>
            <img src="images/cloudsmith-small_2008.gif" alt="Cloudsmith logo"
              border="0">
          </p>
          <p>
            <img src="images/birtexchange-small.jpg" alt="BIRT Exchange logo"
              width="120" height="38" border="0">
          </p>
          <p>
            <img src="images/skyway-small_2008.gif" alt="Skyway Software logo"
              border="0">
          </p>
          <p>
            <img src="images/oracle-small_2007.gif" alt="Oracle" border="0">
          </p>
          <p>
            <img src="images/blackberry-small_2008.gif" alt="BlackBerry logo"
              border="0">
          </p>
          <p>
            <img src="images/amd-small_2007.gif" alt="AMD logo" width="120"
              border="0">
          </p>
          <h1>Silver sponsors</h1>
          <p>
            <img src="images/sybase-small_2008.gif" alt="Sybase" border="0">
          </p>
          <p>
            <img src="images/google-small_2008.jpg" alt="Google" border="0">
          </p>
          <p>
            <img src="images/genuitec-small_2007.gif" alt="Genuitec"
              border="0">
          </p>
          <p>
            <img src="images/instantiations-small_2007.gif"
              alt="Instantiations" border="0">
          </p>
          <p>
            <img src="images/teamprise-small_2008.gif" alt="Teamprise"
              border="0">
          </p>
          <p>
            <img src="images/telelogic-small_2008.gif" alt="Telelogic"
              border="0">
          </p>
          <p>
            <img src="images/innoopract-small_2008.gif" alt="Innoopract"
              border="0">
          </p>
          <p>
            <img src="images/bobjects-small_2008.jpg" alt="Business Objects"
              border="0">
          </p>
          <p>
            <img src="images/lynuxworks-small_2008.gif" alt="LynuxWorks logo"
              border="0">
          </p>
          <h1>Hardware sponsor</h1>
          <p>
            <img src="images/amd-small_2007.gif" alt="AMD logo" width="120"
              border="0">
          </p>
          <h1>Media sponsors</h1>
          <p>
            <img src="images/extension_media-small_2007.gif"
              alt="Extension Media" width="110" height="29" border="0">
          </p>
          <p>
            <img src="images/methodsandtools-small_2008.jpg"
              alt="Methods and Tools" border="0">
          </p>
          <p>
            <img src="images/acm-small_2007.gif" alt="ACM" width="120"
              height="65" border="0">
          </p>
          <p>
            <img src="images/addisonwesley-small_2007.gif"
              alt="Addison-Wesley logo" width="69" height="70" border="0">
          </p>
          <p>
            <img src="images/sdtimes-small_2007.gif" alt="SD Times logo"
              width="120" height="45" border="0">
          </p>
          <p>
            <img src="images/open_systems_publishing-small_2007.gif"
              alt="Open Systems Publishing" width="120" height="24" border="0">
          </p>
          <p>
            <img src="images/testandperformance-small_2007.gif"
              alt="Software Test &amp; Performance logo" width="120"
              height="40" border="0">
          </p>
          <p>
            <img src="images/sdforum-small_2008.gif" alt="SDForum" width="120"
              border="0">
          </p>
        </div>
      </div>
    </div>
    
  
  </div>
  
  <br>
  <br class="clearfloat">
</div>
<!-- container  -->