<div id="container">
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-16 col-sm-offset-4">
          <div id="logo">
            <a href="/2009/eclipsecon"><img src="images/eclipsecon09_logo.jpg" alt="EclipseCon 2009" border="0"></a>
          </div>
          <div id="locationdates">
            <img src="images/eclipsecon09_dates.jpg" alt="EclipseCon 2009" border="0">
          </div>
        </div>
      </div>
    </div>

    <!-- end #nav -->
  </div>
  <!-- end #header -->
  <div class="container">
    <div class="row">
      <div class="col-sm-16 col-sm-offset-4">
        <div id="middlecontent">
          <h1>EclipseCon 2009: Smaller But Better!</h1>
          <p>EclipseCon 2009 was a little smaller (thanks to company
            travel restrictions), but those of us who made it to Santa Clara
            experienced the best EclipseCon yet. The hallways were crowded,
            the sessions were fantastic, and the evenings at the remodeled bar
            were the place to be.</p>
      
          <h1>Conference Photos</h1>
          <p>Clicking on an image in the mosaic below takes you to its set
            on Flickr. Be sure to view the whole "EclipseCon 2009" Flickr
            collection (or search for photos tagged with "eclipsecon2009").</p>
          <center>
      
            <div
              style="border-style: solid; border-width: 0px 1px 1px 0px; border-color: black; width: 472px;">
              <div style="border: solid #AAAAAA 1px; padding: 10px;">
                <img alt="DSC_1029" src="images/3399480632_e722fa8827_s.jpg"
                  border="0"> <img alt="DSC_1038"
                  src="images/3399483104_81e05bcb61_s.jpg" border="0"> <img
                  alt="DSC_1025" src="images/3398669141_e5b27d328d_s.jpg"
                  border="0"> <img alt="DSC_1033"
                  src="images/3399481878_a81c0eb814_s.jpg" border="0"> <img
                  alt="lost+found" src="images/3398667729_3a6cce6fce_s.jpg"
                  border="0"> <img alt="DSC_1018"
                  src="images/3398666175_fbceeaf5ae_s.jpg" border="0"> <img
                  alt="DSC_1028" src="images/3398670389_4a2f5379c2_s.jpg"
                  border="0"> <img alt="DSC_0998"
                  src="images/3387590551_567c53cf82_s.jpg" border="0"> <img
                  alt="DSC_1009" src="images/3388398338_d0482243f6_s.jpg"
                  border="0"> <img alt="DSC_1011"
                  src="images/3387591203_d4b5c5d6c6_s.jpg" border="0"> <img
                  alt="DSC_1012" src="images/3388398882_782218d8de_s.jpg"
                  border="0"> <img alt="DSC_1001"
                  src="images/3387590667_4a0abee740_s.jpg" border="0"> <img
                  alt="DSC_1010" src="images/3388398474_a414d2a8a9_s.jpg"
                  border="0"> <img alt="DSC_1014"
                  src="images/3388399016_54eb5dcb85_s.jpg" border="0"> <img
                  alt="DSC_1007" src="images/3387590803_1ab26b36c2_s.jpg"
                  border="0"> <img alt="DSC_1015"
                  src="images/3387591647_752b70b2f2_s.jpg" border="0"> <img
                  alt="DSC_0981" src="images/3388378748_4a69cf20e7_s.jpg"
                  border="0"> <img alt="DSC_0992"
                  src="images/3387571521_c1cdafbe89_s.jpg" border="0">
              </div>
            </div>
          </center>
      
        </div>
        <div id="sponsorcontainer">
      
          <h1>Gold sponsors</h1>
          <p>
            <img src="images/ibm-small_2008.gif" alt="IBM Corporation"
              width="120" height="45" border="0">
          </p>
          <p>
            <img src="images/windriver-small_2007.gif" alt="Windriver logo"
              width="120" height="25" border="0">
          </p>
          <p>
            <img src="images/redhat-small_2008.jpg" alt="JBoss">
          </p>
          <p>
            <img src="images/sun120.jpg" alt="Sun Microsystems" width="120"
              height="60" border="0">
          </p>
          <p>
            <img src="images/sopera-small_2008.gif" alt="SOPERA" border="0">
          </p>
          <p>
            <img src="images/bluage-small_2008.png" alt="BLU AGE" width="120"
              height="27" border="0">
          </p>
          <p>
            <img src="images/birtexchange-small.jpg"
              alt="BIRT Exchange by Actuate" width="120" height="38"
              border="0">
          </p>
          <h1>Silver sponsors</h1>
          <p>
            <img src="images/innovations-small_2009.jpg"
              alt="Innovations Software Technology" border="0">
          </p>
          <p>
            <img src="images/google-small_2008.jpg" alt="Google" border="0">
          </p>
          <p>
            <img src="images/genuitec-small_2008.gif" alt="Genuitec"
              border="0">
          </p>
          <p>
            <img src="images/instantiations-small_2009.gif"
              alt="Instantiations" border="0">
          </p>
          <p>
            <img src="images/itemisLogo_2008.png" alt="itemis" border="0">
          </p>
          <p>
            <img src="images/es120_2008.png" alt="EclipseSource" width="120"
              height="27" border="0">
          </p>
          <p>
            <img src="images/innovent120_2009.png" alt="Innovent Solutions"
              border="0">
          </p>
          <p>
            <img src="images/SAP120_2009.JPG" alt="SAP Business Objects"
              border="0">
          </p>
          <h1>Hardware Sponsor</h1>
          <p>
            <img src="images/cisco-small_2009.gif" alt="Cisco">
          </p>
          <h1>Lanyard Sponsor</h1>
          <p>
            <img src="images/intel-small_2009.jpg" alt="Intel logo"
              width="120" border="0">
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- container  -->