<div class="container">
    <div id="header">
        <div class="row">
            <div class="col-sm-16 col-sm-offset-4">
              <div id="logo">
                  <a href="/2011/eclipsecon"><img
                    src="images/web_header_logo_2011.png"
                    alt="EclipseCon 2011" border="0"></a>
                </div>
                <div id="locationdates">
                  <img src="images/web_header_dates_2011.png"
                    alt="EclipseCon 2011" border="0">
                </div>
            </div>
        </div>
    </div>
    <!-- end #header -->
    <div class="row">
          <div class="col-sm-16 col-sm-offset-4">
            <div id="middlecontent">

                <div id="sponsorcontainer">
          
                  <h1>Gold sponsors</h1>
          <div>
            <img src="images/ibm-small_2008.gif"
              style="margin-top: 5px; margin-bottom: 5px"
              alt="IBM Corporation" width="120" height="45">
          
          
            <img src="images/jasmineconseil.png" alt="Jasmine Conseil logo"
              width="122" height="59" border="0">
          
          
            <img src="images/cloudsoft_small.png" alt="Cloudsoft logo"
              border="0">
          
          
            <img src="images/sonatype120.png"
              style="margin-top: 10px; margin-bottom: 10px"
              alt="Sonatype logo">
          
          
            <img src="images/SAP_120.png" alt="SAP logo" border="0">
          
          
            <img src="images/xored-logo-120px.png" alt="Xored logo"
              border="0">
          
          
            <img src="images/oracle-small_2010.jpg"
              style="margin-top: 5px; margin-bottom: 5px" alt="Oracle">
          
          
            <img src="images/amazon120.png"
              style="margin-top: 5px; margin-bottom: 5px;" alt="Amazon logo"
              border="0">
          </div>
          <h1>Silver sponsors</h1>
          <div>
            <img src="images/blackberry_blue_120.png" alt="Blackberry logo"
              border="0">
          
          
            <img src="images/zeroturnaround_120.jpg"
              style="margin-top: 7px; margin-bottom: 7px"
              alt="ZeroTurnaround logo">
          
          
            <img src="images/aws-small_2010.png"
              alt="Amazon Web Services logo" border="0">
          
          
            <!-- RSS: New sponsor: BSI -->
            <img src="images/bsi.jpg" alt="bsi logo" border="0">
          
          
            <!-- RSS: New sponsor: OnPositive -->
            <img src="images/OnPositiveWhite120x120.jpg"
              alt="OnPositive logo" border="0">
          
          
            <img src="images/google-small_2010.png" alt="Google" border="0">
          
          
            <img src="images/nuxeo_120.png" alt="Nuxeo logo" border="0">
          
          
            <img src="images/actuate-small_2010.jpg" alt="Actuate"
              border="0">
          </div>
          <h1>Bronze sponsors</h1>
          <div>
            <img src="images/github-small_2011.png" alt="github" border="0">
          
          
            <img src="images/froglogic-small_2008.gif" alt="froglogic"
              border="0">
          
          
            <img src="images/microsoft-small_2010.jpg" alt="Microsoft logo"
              border="0">
          
          
            <img src="images/paremus-logo-120_2009.jpg" alt="Paremus logo"
              border="0">
          
          
            <img src="images/jboss-small_2010.png" alt="JBoss logo">
          
          
            <img src="images/genuitec-small_2008.gif" alt="Genuitec logo"
              border="0">
          
          
            <img src="images/juniper120.png" alt="Juniper logo" border="0">
          
          
            <img src="images/soyatec120.png" alt="Soyatec logo" border="0">
          
          
            <img src="images/itemisLogo_2008.png" alt="itemis logo"
              border="0">
          
          
            <img src="images/totvs100.png" alt="Totvs logo" border="0">
          
          
            <img src="images/accurev120.png" alt="AccuRev logo" border="0">
          </div>
          <h1>Activity sponsor</h1>
          
            <img src="images/eclipsesource-small_2010.png"
              alt="eclipsesource" border="0">
          
          <h1>Media sponsors</h1>
          <div>
            <img src="images/MT%2520Logo%2520120x20.gif"
              alt="Methods &amp; Tools logo" width="120" height="20"
              border="0">
          </div>
              </div>
                <br>
          
                <div id="maincontent">
          
                  <br>
          
                  <div id="midcolumn">
          
                    <h1>EclipseCon 2011 Photos on Flickr</h1>
                    <div style="text-align: center;">
                      <img
                        src="images/1594334N25.jpg"
                        alt="EclipseCon 2011 - View this group's photos on Flickriver"
                        title="EclipseCon 2011 - View this group's photos on Flickriver"
                        border="0">
                    </div>
          
                    <br>
          
          
                  </div>
                </div>
          
                <div style="clear: both;"></div>
              </div>
          
              <div style="clear: both;"></div>
            </div>

    </div>


  </div>