<div id="page" class="page">
    <div id="page-inner" class="page-inner">
      <div id="skip">
        <a href="#main-content-area">Skip to Main Content Area </a>
      </div>
      <div id="header-group-wrapper"
        class="header-group-wrapper full-width">
        <div id="header-group" class="header-group row grid16-16">
          <div id="header-group-inner"
            class="header-group-inner inner clearfix">
            <div id="header-site-info" class="header-site-info block">
              <div id="header-site-info-inner"
                class="header-site-info-inner inner">
                <div id="logo" class="">
                  <a href="https://eclipsecon.org/2012/index.html"
                    title="Home"><img src="images/logo.png" alt="Home">
                  </a>
                </div>
                <div id="header-nav-info" class="">
                  <div class="header-nav-info-location">
                    <span>Reston, Virginia</span> <span>March 26 -
                      29</span>
                  </div>
                  <div id="coloagile">
                    <img src="images/co-located.png"
                      alt="Co-located with agile alm &amp; DevCon 2012 "
                      usemap="#AgileandDevconMap" width="260" height="68">
                    <map name="AgileandDevconMap" id="AgileandDevconMap">
                      <area shape="rect" coords="5,25,155,67"
                        href="https://eclipsecon.org/2012/agilealm.html"
                        alt="AGILEALM">
                      <area shape="rect" coords="162,24,254,66"
                        href="http://www.osgi.org/DevCon2012/HomePage"
                        target="_blank" alt="Devcon2012">
                    </map>
                  </div>
                </div>
  
              </div>
              <!-- /header-site-info-inner -->
            </div>
            <!-- /header-site-info -->
  
          </div>
          <!-- /header-group-inner -->
        </div>
        <!-- /header-group -->
      </div>
      <!-- /header-group-wrapper -->
      <!-- preface-top row: width = grid_width -->
      <!-- main row: width = grid_width -->
      <div id="main-wrapper" class="main-wrapper full-width">
        <div id="main" class="main row grid16-16">
          <div id="main-inner" class="main-inner inner clearfix">
            <div id="content-top" class="content-top row nested">
              <div id="content-top-inner" class="content-top-inner inner">
                <div id="block-views-rotating_slideshow-block_1"
                  class="block block-views odd first last  grid16-10">
                  <div class="inner clearfix">
                    <div class="content clearfix">
                      <div
                        class="view view-rotating-slideshow view-id-rotating_slideshow view-display-id-block_1 view-dom-id-4">
  
  
  
                        <div class="view-content">
  
  
  
                          <div
                            id="views_slideshow_singleframe_main_rotating_slideshow-block_1"
                            class="views_slideshow_singleframe_main views_slideshow_main viewsSlideshowSingleFrame-processed">
                            <div
                              id="views_slideshow_singleframe_teaser_section_rotating_slideshow-block_1"
                              class="views_slideshow_singleframe_teaser_section"
                              style="position: relative; width: 872px; height: 305px;">
                              <div
                                class="views_slideshow_singleframe_slide views_slideshow_slide views-row-6 views_slideshow_singleframe_hidden views-row-even"
                                id="views_slideshow_singleframe_div_rotating_slideshow-block_1_5"
                                style="position: absolute; top: 0px; left: 0px; z-index: 9; opacity: 1; display: block; width: 836px; height: 305px;">
                                <div
                                  class="views-row views-row-0 views-row-first views-row-odd">
  
                                  <div
                                    class="views-field-field-images-fid">
                                    <div class="field-content">
                                      <img src="images/ed.png" alt=""
                                        title=""
                                        class="imagecache imagecache-slideshow_full imagecache-default imagecache-slideshow_full_default"
                                        width="367" height="300">
                                    </div>
                                  </div>
  
                                  <div
                                    class="views-field-field-slideshow-content-value">
                                    <div class="field-content">
                                      <h2>
                                        <b>Ed Merks won the<br>2012
                                          Eclipse Lifetime Contributor
                                          Award
                                        </b>
                                      </h2>
                                    </div>
  
                                  </div>
                                </div>
                                <div
                                  class="views_slideshow_singleframe_slide views_slideshow_slide views-row-7 views_slideshow_singleframe_hidden views-row-odd"
                                  id="views_slideshow_singleframe_div_rotating_slideshow-block_1_6"
                                  style="position: absolute; top: 0px; left: 0px; z-index: 8; opacity: 0; display: none; width: 858px; height: 249px;">
                                  <div
                                    class="views-row views-row-0 views-row-first views-row-odd">
  
                                    <div
                                      class="views-field-field-images-fid">
                                      <div class="field-content">
                                        <img src="images/zerot_0.jpg"
                                          alt="" title=""
                                          class="imagecache imagecache-slideshow_full imagecache-default imagecache-slideshow_full_default"
                                          width="438" height="244">
                                      </div>
                                    </div>
  
                                    <div
                                      class="views-field-field-slideshow-content-value">
                                      <div class="field-content">
                                        <h2>ZeroTurnaround's
                                          LiveRebel</h2>
                                        <h3>was the top Hot New
                                          Product this year</h3>
                                      </div>
                                    </div>
  
                                  </div>
                                </div>
                                <div
                                  class="views_slideshow_singleframe_slide views_slideshow_slide views-row-8 views_slideshow_singleframe_hidden views-row-even"
                                  id="views_slideshow_singleframe_div_rotating_slideshow-block_1_7"
                                  style="position: absolute; top: 0px; left: 0px; z-index: 8; opacity: 0; display: none; width: 868px; height: 305px;">
                                  <div
                                    class="views-row views-row-0 views-row-first views-row-odd">
  
                                    <div
                                      class="views-field-field-images-fid">
                                      <div class="field-content">
                                        <img src="images/mik.jpg" alt=""
                                          title=""
                                          class="imagecache imagecache-slideshow_full imagecache-default imagecache-slideshow_full_default"
                                          width="448" height="300">
                                      </div>
                                    </div>
  
                                    <div
                                      class="views-field-field-slideshow-content-value">
                                      <div class="field-content">
                                        <h2>
                                          Thursday keynote speaker <br>Mik
                                          Kersten
                                        </h2>
                                      </div>
                                    </div>
  
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
  
                        </div>
                      </div>
                    </div>
                    <!-- /block-inner -->
                  </div>
                  <!-- /block -->
  
                </div>
                <!-- /content-top-inner -->
              </div>
              <!-- /content-top -->
              <!-- main group: width = grid_width - sidebar_first_width -->
              <div id="main-group" class="main-group row nested grid16-16">
                <div id="main-group-inner" class="main-group-inner inner">
                  <div id="main-content" class="main-content row nested">
                    <div id="main-content-inner"
                      class="main-content-inner inner">
                      <!-- content group: width = grid_width - (sidebar_first_width + sidebar_last_width) -->
                      <div id="content-group"
                        class="content-group row nested grid16-10">
                        <div id="content-group-inner"
                          class="content-group-inner inner">
                          <div id="content-region"
                            class="content-region row nested">
                            <div id="content-region-inner"
                              class="content-region-inner inner">
                              <a name="main-content-area"
                                id="main-content-area"></a>
  
  
                              <div id="block-views-Sponsors-block_1"
                                class="block block-views odd first  grid16-6">
                                <div class="inner clearfix">
                                  <div class="content clearfix">
                                    <div
                                      class="view view-Sponsors view-id-Sponsors view-display-id-block_1 view-dom-id-2">
                                      <div class="view-header">
                                        <h3>Gold Sponsors</h3>
                                      </div>
  
  
  
                                      <div class="view-content">
                                        <ul class="list-inline text-center">
                                          <li><img
                                                      src="images/oracle_sig_clr.gif"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="28"></li>
                                          <li><img
                                                      src="images/redhat%2520v2.png"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="29"></li>
                                          <li><img
                                                      src="images/BIRT-Exchange-200W.jpg"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="32"></li>
                                          <li><img
                                                      src="images/MOT_Signature_VRT-RedBlack_rgb.jpg"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="90"></li>
                                          <li><img
                                                      src="images/SAP_120.png"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="59"></li>
                                          <li><img
                                                      src="images/ibm-large_2008.gif"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="100"
                                                      height="42"></li>
                                        </ul>
                                      </div>
  
  
  
  
  
  
                                    </div>
                                  </div>
                                </div>
                                <!-- /block-inner -->
                              </div>
  
  
  
                              <div id="block-views-Sponsors-block_2"
                                class="block block-views even  last  grid16-6">
                                <div class="inner clearfix">
                                  <div class="content clearfix">
                                    <div
                                      class="view view-Sponsors view-id-Sponsors view-display-id-block_2 view-dom-id-3">
                                      <div class="view-header">
                                        <h3>Silver Sponsors</h3>
                                      </div>
  
  
  
                                      <div class="view-content">
                                        <ul class="list-inline text-center">
                                          <li><img
                                                      src="images/original.jpg"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="120"></li>
                                          <li><img
                                                      src="images/froglogic_0.png"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="48"></li>
                                          <li><img
                                                      src="images/bsi_rgb_internet_claim.gif"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="55"></li>
                                          <li><img
                                                      src="images/Perforce%2520RGB%2520COL%2520MASTER%2520LOGO.png"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="46"></li>
                                          <li><img
                                                      src="images/logo%2520Skytap.gif"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="28"></li>
                                          <li><img
                                                      src="images/logo-xored-color.png"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="41"></li>
                                          <li><img
                                                      src="images/ZT-sponsor%2520logo%2520v2%2520dec%252012.jpg"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="120"></li>
                                          <li><img
                                                      src="images/BlackDuck.JPG"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="55"></li>
                                          <li><img
                                                      src="images/google-small_2010.png"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="50"></li>
                                          <li><img
                                                      src="images/mslogo_black.gif"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="20"></li>
                                        </ul>
                                      </div>
  
  
  
  
  
  
                                    </div>
                                  </div>
                                </div>
                                <!-- /block-inner -->
                              </div>
  
  
  
  
                              <div id="block-views-Sponsors-block_3"
                                class="block block-views odd first  grid16-5">
                                <div class="inner clearfix">
                                  <div class="content clearfix">
                                    <div
                                      class="view view-Sponsors view-id-Sponsors view-display-id-block_3 view-dom-id-5">
                                      <div class="view-header">
                                        <h3>Bronze Sponsors</h3>
                                      </div>
  
  
  
                                      <div class="view-content">
                                        <ul class="list-inline text-center">
                                          <li><img
                                                      src="images/Accurev%2520Logo%25202012.GIF"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="25"></li>
                                          <li><img
                                                      src="images/New%2520Image%2520Genuitec.JPG"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="120"></li>
                                          <li><img
                                                      src="images/vaadin_0.jpg"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="29"></li>
                                          <li><img
                                                      src="images/github-small_2011.png"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="60"></li>
                                          <li><img
                                                      src="images/VMW_09Q3_LOGO_Corp_Gray.jpg"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="19"></li>
                                          <li><img
                                                      src="images/logoUS_R_eBay_RGB_.png"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="50"></li>
                                          <li><img
                                                      src="images/Tasktop.jpg"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="60"></li>
                                          <li><img
                                                      src="images/logoAtlassianPNG.png"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="37"></li>
                                          <li><img
                                                      src="images/itemis_logo_120px.jpg"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="34"></li>
                                          <li><img
                                                      src="images/UC_120w.png"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="30"></li>
                                          <li><img
                                                      src="images/klocwork-logo2012-clr-medium.jpg"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="13"></li>
                                        </ul>
                                      </div>
  
                                    </div>
                                  </div>
                                </div>
                                <!-- /block-inner -->
                              </div>
  
  
  
  
  
  
                              <div id="block-views-Sponsors-block_9"
                                class="block block-views even   grid16-5">
                                <div class="inner clearfix">
                                  <div class="content clearfix">
                                    <div
                                      class="view view-Sponsors view-id-Sponsors view-display-id-block_9 view-dom-id-6">
                                      <div class="view-header">
                                        <h3>
                                          Media Sponsors<br>
                                        </h3>
                                      </div>
  
  
  
                                      <div class="view-content">
                                        <ul class="list-inline text-center">
                                          <li><img
                                                      src="images/SDTimes.JPG"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="43"></li>
                                          <li><img
                                                      src="images/DZone-master-logo-square-1.jpg"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="119"></li>
                                          <li><img
                                                      src="images/Manning%2520logoweblogo_medium.gif"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="18"></li>
                                          <li><img
                                                      src="images/Methods%2520and%2520ToolsMT%2520Logo%2520120x20.gif"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="20"></li>
                                          
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- /block-inner -->
                              </div>
  
  
                              <div id="block-views-Sponsors-block_10"
                                class="block block-views odd  last  grid16-6">
                                <div class="inner clearfix">
                                  <div class="content clearfix">
                                    <div
                                      class="view view-Sponsors view-id-Sponsors view-display-id-block_10 view-dom-id-7">
                                      <div class="view-header">
                                        <h3>Activity Sponsors</h3>
                                      </div>
                                      <div class="view-content">
                                        <ul class="list-inline text-center">
                                          <li><img
                                                      src="images/eclipsesource.png"
                                                      alt="" title=""
                                                      class="imagecache imagecache-sponsor_logo_bronze imagecache-default imagecache-sponsor_logo_bronze_default"
                                                      width="120"
                                                      height="27"></li>
                                        </ul>
                                      </div>
  
                                    </div>
                                  </div>
                                </div>
                                <!-- /block-inner -->
                              </div>
  
                              <!-- /content-inner -->
                            </div>
                            <!-- /content-region-inner -->
                          </div>
                          <!-- /content-region -->
                        </div>
                        <!-- /content-group-inner -->
                      </div>
                      <!-- /sidebar-last -->
                    </div>
                    <!-- /main-content-inner -->
                  </div>
                  <!-- /main-content -->
                </div>
                <!-- /main-group-inner -->
              </div>
              <!-- /main-group -->
            </div>
            <!-- /main-inner -->
          </div>
          <!-- /main -->
        </div>
        <!-- /main-wrapper -->
  
      </div>
      <!-- /page-inner -->
    </div>
    <!-- /page -->