<div id="background_right">
    <div id="background_left">
  
      <div id="page" class="clearfix">
        <div id="site-header" class="container-16 clearfix">
          <div id="branding" class="grid-6">
            <a href="https://events.eclipse.org/"
              class="active"><img
              src="images/logo.png" alt="" title=""
              width="318"></a>
          </div>
          <!-- /#branding -->
          <div id="coloagile">
            <img src="images/co_agile_osgi.png" alt="Co-located with agile connect &amp; DevCon 2013 " usemap="#AgileandDevconMap">
          </div>
        </div>
        <!-- /#site-header -->
  
  
        <div id="main-content-container"
          class="container-16 rounded shadow clearfix">
          <div id="content-top">
            <div id="block-views-rotating_slideshow-block_1"
              class="block block-views">
  
              <div class="content">
                <div
                  class="view view-rotating-slideshow view-id-rotating_slideshow view-display-id-block_1 mainslideshow view-dom-id-8">
  
                  <div class="view-content">
  
                    <div
                      id="views_slideshow_singleframe_main_rotating_slideshow-block_1"
                      class="views_slideshow_singleframe_main views_slideshow_main viewsSlideshowSingleFrame-processed">
                      <div
                        id="views_slideshow_singleframe_teaser_section_rotating_slideshow-block_1"
                        class="views_slideshow_singleframe_teaser_section"
                        style="position: relative;">
                        <div
                          class="views_slideshow_singleframe_slide views_slideshow_slide views-row-1 views-row-odd"
                          id="views_slideshow_singleframe_div_rotating_slideshow-block_1_0">
                          <div
                            class="views-row views-row-0 views-row-first views-row-odd">
  
                            <div class="views-field-field-images-fid">
                              <div class="field-content">
                                <img
                                  src="images/goodbye.jpg"
                                  alt="" title=""
                                  class="imagecache imagecache-slideshow_full imagecache-default imagecache-slideshow_full_default"
                                  width="400" height="265">
                              </div>
                            </div>
  
                            <div
                              class="views-field-field-slideshow-content-value">
                              <div class="field-content">
                                <div
                                  style="font-size: 30px; font-weight: bold; padding-top: 1.5em; color: white">
                                  Thank you
                                  <div
                                    style="font-size: 25px; font-weight: bold; padding-top: 1em; color: white">Thank
                                    you to all the attendees, speakers,
                                    sponsors, exhibitors, volunteers and
                                    organizers. You've made EclipseCon
                                    2013 an unforgettable success!</div>
                                </div>
                              </div>
                            </div>
  
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
  
  
  
  
  
  
                </div>
              </div>
            </div>
          </div>
          <!-- /#content-top -->
          <div id="main-wrapper" class="column grid-16 ">
  
  
          <div id="sidebar-last" class="column sidebar region">
            <div id="block-views-Sponsors-block_1"
              class="block block-views">
  
              <div class="content">
                <div
                  class="view view-Sponsors view-id-Sponsors view-display-id-block_1 clearfix sponsors-block view-dom-id-2">
                  <div class="view-header">
                    <h3>Gold Sponsors</h3>
                  </div>
  
                    <img src="images/New%2520ImageIBM%2520Blue.JPG" alt=""
                      title=""
                      class="imagecache imagecache-sponsor_logo_bronze"
                      width="120" height="46">
                      
                      <img
                            src="images/HP_Blue_RGB_72_MX.gif"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="80">
  
  
  <img
                            src="images/O_redbox_clr-2.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="113" height="25">
  
  <img
                            src="images/SAP_120.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="59">
                            
                            <img
                            src="images/Actuate_logo1_0.gif"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="28">
  
  <img
                            src="images/ZT-sponsor-logo-v2-dec-12.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="80">
  
  
  
  
  
  
  
                </div>
              </div>
            </div>
            <div id="block-views-Sponsors-block_2"
              class="block block-views">
  
              <div class="content">
                <div
                  class="view view-Sponsors view-id-Sponsors view-display-id-block_2 clearfix sponsors-block view-dom-id-3">
                  <div class="view-header">
                    <h3>Silver Sponsors</h3>
                  </div>
                  
                  <img
                            src="images/Ravello_Logo_large.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="32">
  
  
  <img
                            src="images/BSI%2520ece%25202012.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="54">
  
  <img
                            src="images/OnPositiveLogoWhite.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="120">
                            
                            <img
                            src="images/Microsoft%2520new%2520image%25202013.PNG"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="44">
                            
                            
                            <img
                            src="images/logo-xored-color_1.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="41">
                            
                            <img
                            src="images/ebay-logo-new-large.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="46">
                            
                            <img
                            src="images/New%2520Image.GIF"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="26">
                            
                            
                            <img
                            src="images/BB.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="27">
                            
                            
                            <img
                            src="images/Kony_Logo.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="38">
                            
                            
                            <img
                            src="images/Compuware.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="73">
  
  
                </div>
              </div>
            </div>
            <div id="block-views-Sponsors-block_3"
              class="block block-views">
  
              <div class="content">
                <div
                  class="view view-Sponsors view-id-Sponsors view-display-id-block_3 clearfix sponsors-block view-dom-id-4">
                  <div class="view-header">
                    <h3>Bronze Sponsors</h3>
                  </div>
  
  <img
                            src="images/GitHub_Logo%2520Feb%25202012.PNG"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="53">
                            
                            <img
                            src="images/JBoss_byRH_logo_cmyk.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="68">
                            
                            
                            <img
                            src="images/Adobe.PNG"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="80">
                            
                            
                            <img
                            src="images/Tasktopbutton_logo_120px.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="60">
                            
                            <img
                            src="images/froglogic.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="48">
                            
                            <img
                            src="images/klocwork-logo2012-clr-medium.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="13">
                            
                            <img
                            src="images/bestLR-LOGO_HNT.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="32">
                            
                            <img
                            src="images/whitelogo_AD_cl_H_RGB.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="22">
                            
                            <img
                            src="images/New%2520Image.JPG"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="22">
                            
                            <img
                            src="images/Black_Duck_Logo_500.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="27">
                            
                            <img
                            src="images/GENUITEC_EC.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="120">
                            
                            
                            <img
                            src="images/S2_VMW_10Q2_LGO_SPRINGSOURCE_VRTCL_RGB.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="30">
                            
                            <img
                            src="images/Cerner%2520PNG%2520Dimensional%2520Logo.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="35">
                            
                            <img
                            src="images/ventura_101306.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="44">
  
                </div>
              </div>
            </div>
            <div id="block-views-Sponsors-block_4"
              class="block block-views">
  
              <div class="content">
                <div
                  class="view view-Sponsors view-id-Sponsors view-display-id-block_4 clearfix sponsors-block view-dom-id-5">
                  <div class="view-header">
                    <h3>Exclusive Student Sponsor</h3>
                  </div>
                  
                  <img
                            src="images/google-small_2010.png"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="50">
  
  
                </div>
              </div>
            </div>
            <div id="block-views-Sponsors-block_9"
              class="block block-views">
  
              <div class="content">
                <div
                  class="view view-Sponsors view-id-Sponsors view-display-id-block_9 clearfix sponsors-block view-dom-id-7">
                  <div class="view-header">
                    <h3>
                      Media Sponsors<br>
                    </h3>
                  </div>
                  
                  <img
                            src="images/MT%2520Logo%2520120x20.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="20">
  
  <img
                            src="images/oreilly_logo_4c.jpg"
                            alt="" title=""
                            class="imagecache imagecache-sponsor_logo_bronze"
                            width="120" height="22">
  
  
  
                </div>
              </div>
            </div>
          </div>
          <!-- /#sidebar-last -->
  
  
  
        </div>
        <!-- /#main-content-container -->
  
  
  
      </div>
      <!-- /#page -->
    </div>
    <!-- /#background_right! -->
  </div>
  <!-- /#background_left! -->