<header id="header-wrapper" class="" role="banner">
  <div class="container">
    <div id="header-row" class="row">
      <div id="header-left" class="col-sm-8 margin-bottom-20">
        <a href="https://events.eclipse.org/"
          title="Home"><img
          class="logo-eclipse-default img-responsive"
          src="images/logo.png" alt="Home"></a>
      </div>
      <div id="header-right" class="col-sm-16 pull-right">
        <div id="header-custom-content" class="text-center">
          <div
            class="region region-header-right solstice-region-element-count-1">
            <section
              id="block-eclipsecon-support-event-info-eclipsecon-support-event-info"
              class="block block-eclipsecon-support-event-info block-region-header-right block-eclipsecon-support-event-info clearfix">
              <div class="block-content">
                <div class="event_info" style="padding-top:35px;">
                  <span class="event_location">Toulouse, France · </span><span
                    class="event_date">June 21 - 22, 2017</span>
                </div>
              </div>
            </section>
            <!-- /.block -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main role="main" class="no-promo">
  <div class="container-fluid">
    <div
      class="region region-content-prefix-fluid solstice-region-element-count-3 row">
      <section id="block-views-solstice-slideshow-block"
        class="block block-views block-region-content-prefix-fluid  view-solstice-slideshow-block-common view-solstice-slideshow-block clearfix">
        <div class="block-content">
          <div
            class="view view-solstice-slideshow view-id-solstice_slideshow view-display-id-block view-dom-id-01f32d6fb16151461660e5acfb15ff36 solstice-support-slideshow-frontpage carousel slide"
            data-ride="carousel" id="solstice-slideshow"
            style="background-image: url(images/ecf_final.png);">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div
                class="views-row-odd views-row-first views-row-last active item clearfix"
                style="height: 224px;">
                <div class="container">
                  <div id="node-4168"
                    class="node node-solstice-slideshow node-promoted node-teaser"
                    about="/france2018/content/thank-you-attending"
                    typeof="sioc:Item foaf:Document">
                    <div
                      class="col-xs-24 solstice-slideshow-content-no-image solstice-slideshow-content"
                      style="height: 224px;">
                      <div class="solstice-slideshow-content-container">
                        <h2>
                          Thank you for making it a great conference!
                        </h2>
                      </div>
                    </div>
                    <div
                      class="col-sm-12 col-sm-offset-2 hidden-xs col-sm-12 col-sm-offset-2 hidden-xs">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.block -->
      <!-- /.block -->
      <section id="block-views-eclipsecon-sponsors-block-1"
        class="block block-views block-region-content-prefix-fluid  view-eclipsecon-sponsors-block-common view-eclipsecon-sponsors-block-1 clearfix">
        <div class="block-content container hidden-xs">
          <div
            class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block_1 container view-dom-id-cbdbc9fa27978ed9f88d6913029214b5">
            <div class="view-content">
              <div class="wrapper-sponsor-level">
                <h3>Premium Sponsors</h3>
                <ul class="list-inline">                  <li class="views-row views-row-1 views-row-odd views-row-first">  
          <img typeof="foaf:Image" class="img-responsive" src="images/Leti-PNG.png" alt="" width="220" height="179"></li>
                  <li class="views-row views-row-2 views-row-even"><img typeof="foaf:Image" class="img-responsive" src="images/itemis.png" alt="" width="220" height="62"></li>
                  <li class="views-row views-row-3 views-row-odd"><img typeof="foaf:Image" class="img-responsive" src="images/AIRBUS_RGB.png" alt="" width="220" height="81"></li>
                  <li class="views-row views-row-4 views-row-even">  
                    <img typeof="foaf:Image" class="img-responsive" src="images/logo_obeo_1.png" alt="" width="220" height="56"></li>
                  <li class="views-row views-row-5 views-row-odd"><img typeof="foaf:Image" class="img-responsive" src="images/BligClout-PNG.png" alt="" width="220" height="145"></li>
                  <li class="views-row views-row-6 views-row-even"><img typeof="foaf:Image" class="img-responsive" src="images/1_transparent_bg_0.png" alt="" width="220" height="171"></li>
                  <li class="views-row views-row-7 views-row-odd views-row-last"><img typeof="foaf:Image" class="img-responsive" src="images/thales_rgb-Converted_0.png" alt="" width="220" height="55"></li>
              </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.block -->
    </div>
  </div>
  <div class="container" id="novaContent">
    <header role="banner" id="page-header"> </header>
    <!-- /#page-header -->
    <div class="row" id="main-content-row">
      <section class="col-md-24" id="main-content">
        <a id="main-content"></a>
        <div id="maint-content-area">
          <div class="row">
            <div class="col-sm-16 col-sm-offset-4">
              <section id="block-flickr-6" class="block block-flickr solstice-block solstice-block-default block-6 pretty-block clearfix">
                <h2 class="flickr" style="text-align:center;">EclipseCon France 2017 Photos</h2>
                <div>
                  <div class="flickr-photoset">
                    <div class="flickr-album " style="">
                      <a
                href="https://www.flickr.com/photos/108559379@N08/35271224680/in/pool-3759659@N20"
                title="IMG_7487" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35271224680_3784532df4_s.jpg"
                alt="Thu, 2017-06-22 16:58 - IMG_7487"
                title="Thu, 2017-06-22 16:58 - IMG_7487"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34651006344/in/pool-3759659@N20"
                title="P6220373" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34651006344_8b1ebe0a06_s.jpg"
                alt="Thu, 2017-06-22 14:46 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 14:46 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35324932762/in/pool-3759659@N20"
                title="P6220381" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35324932762_ab86e13f2c_s.jpg"
                alt="Thu, 2017-06-22 16:59 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 16:59 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35361441121/in/pool-3759659@N20"
                title="P6220385" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35361441121_089d09fa30_s.jpg"
                alt="Thu, 2017-06-22 17:02 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 17:02 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35324931942/in/pool-3759659@N20"
                title="P6220387" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35324931942_de79c24e75_s.jpg"
                alt="Thu, 2017-06-22 17:05 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 17:05 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35324931362/in/pool-3759659@N20"
                title="P6220389" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35324931362_b23948ec28_s.jpg"
                alt="Thu, 2017-06-22 17:06 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 17:06 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35464266945/in/pool-3759659@N20"
                title="IMG_7486" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35464266945_08298fc7e7_s.jpg"
                alt="Thu, 2017-06-22 11:41 - IMG_7486"
                title="Thu, 2017-06-22 11:41 - IMG_7486"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297581732/in/pool-3759659@N20"
                title="P6220312" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297581732_729c4628f7_s.jpg"
                alt="Thu, 2017-06-22 10:56 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 10:56 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34654406803/in/pool-3759659@N20"
                title="P6220315" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34654406803_d6324510e8_s.jpg"
                alt="Thu, 2017-06-22 10:58 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 10:58 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297581342/in/pool-3759659@N20"
                title="P6220316" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297581342_cf0128ca9a_s.jpg"
                alt="Thu, 2017-06-22 10:58 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 10:58 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297580722/in/pool-3759659@N20"
                title="P6220320" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297580722_ae888086c0_s.jpg"
                alt="Thu, 2017-06-22 10:59 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 10:59 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297580422/in/pool-3759659@N20"
                title="P6220322" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297580422_febf3bb580_s.jpg"
                alt="Thu, 2017-06-22 11:01 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:01 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297580062/in/pool-3759659@N20"
                title="P6220324" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297580062_2c82c40441_s.jpg"
                alt="Thu, 2017-06-22 11:02 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:02 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34654404533/in/pool-3759659@N20"
                title="P6220327" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34654404533_2c1be641af_s.jpg"
                alt="Thu, 2017-06-22 11:02 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:02 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297579582/in/pool-3759659@N20"
                title="P6220328" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297579582_8b64f3136e_s.jpg"
                alt="Thu, 2017-06-22 11:05 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:05 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34654403863/in/pool-3759659@N20"
                title="P6220331" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34654403863_ec9ca2544f_s.jpg"
                alt="Thu, 2017-06-22 11:06 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:06 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297579252/in/pool-3759659@N20"
                title="P6220333" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297579252_9931a3f33d_s.jpg"
                alt="Thu, 2017-06-22 11:07 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:07 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34654403263/in/pool-3759659@N20"
                title="P6220334" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34654403263_b14014b70e_s.jpg"
                alt="Thu, 2017-06-22 11:35 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:35 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297578822/in/pool-3759659@N20"
                title="P6220337" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297578822_b7a0302898_s.jpg"
                alt="Thu, 2017-06-22 11:37 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:37 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34654402723/in/pool-3759659@N20"
                title="P6220339" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34654402723_a610b50dcc_s.jpg"
                alt="Thu, 2017-06-22 11:38 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:38 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34654402333/in/pool-3759659@N20"
                title="P6220353" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34654402333_551329b43e_s.jpg"
                alt="Thu, 2017-06-22 11:57 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:57 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297578462/in/pool-3759659@N20"
                title="P6220342" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297578462_3f7a3d483b_s.jpg"
                alt="Thu, 2017-06-22 11:45 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:45 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297578122/in/pool-3759659@N20"
                title="P6220356" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297578122_dd1cdf6479_s.jpg"
                alt="Thu, 2017-06-22 12:24 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 12:24 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34654401773/in/pool-3759659@N20"
                title="P6220357" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34654401773_01e2aa0dfb_s.jpg"
                alt="Thu, 2017-06-22 12:24 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 12:24 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34654401073/in/pool-3759659@N20"
                title="P6220360" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34654401073_ea1150a5a4_s.jpg"
                alt="Thu, 2017-06-22 12:26 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 12:26 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297576942/in/pool-3759659@N20"
                title="P6220363" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297576942_42b321c31b_s.jpg"
                alt="Thu, 2017-06-22 13:16 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 13:16 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34654400253/in/pool-3759659@N20"
                title="P6220364" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34654400253_f2d5dc7c57_s.jpg"
                alt="Thu, 2017-06-22 13:19 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 13:19 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35297576212/in/pool-3759659@N20"
                title="P6220367" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35297576212_7f65a66d58_s.jpg"
                alt="Thu, 2017-06-22 13:21 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 13:21 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35424290186/in/pool-3759659@N20"
                title="P6220365" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35424290186_5c14fdd68c_s.jpg"
                alt="Thu, 2017-06-22 13:19 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 13:19 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35424289846/in/pool-3759659@N20"
                title="P6220368" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35424289846_e19cd37815_s.jpg"
                alt="Thu, 2017-06-22 13:22 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 13:22 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35464245715/in/pool-3759659@N20"
                title="P6220330" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35464245715_6d8121c49b_s.jpg"
                alt="Thu, 2017-06-22 11:06 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:06 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35424289076/in/pool-3759659@N20"
                title="P6220308" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35424289076_1ff111795b_s.jpg"
                alt="Thu, 2017-06-22 10:55 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 10:55 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35464245185/in/pool-3759659@N20"
                title="P6220347" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35464245185_d74e45db50_s.jpg"
                alt="Thu, 2017-06-22 11:50 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 11:50 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35424288776/in/pool-3759659@N20"
                title="P6220370" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35424288776_d18a1e18ac_s.jpg"
                alt="Thu, 2017-06-22 13:25 - OLYMPUS DIGITAL CAMERA"
                title="Thu, 2017-06-22 13:25 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34653902463/in/pool-3759659@N20"
                title="P6210240" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34653902463_8517eb658b_s.jpg"
                alt="Wed, 2017-06-21 17:37 - OLYMPUS DIGITAL CAMERA"
                title="Wed, 2017-06-21 17:37 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35077060330/in/pool-3759659@N20"
                title="P6210243" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35077060330_7b115d2887_s.jpg"
                alt="Wed, 2017-06-21 17:42 - OLYMPUS DIGITAL CAMERA"
                title="Wed, 2017-06-21 17:42 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34653902223/in/pool-3759659@N20"
                title="P6210247" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34653902223_60715a64a8_s.jpg"
                alt="Wed, 2017-06-21 17:48 - OLYMPUS DIGITAL CAMERA"
                title="Wed, 2017-06-21 17:48 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/34653901923/in/pool-3759659@N20"
                title="P6210253" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/34653901923_4359bf21b4_s.jpg"
                alt="Wed, 2017-06-21 19:38 - OLYMPUS DIGITAL CAMERA"
                title="Wed, 2017-06-21 19:38 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35077060040/in/pool-3759659@N20"
                title="P6210252" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35077060040_09eccd5832_s.jpg"
                alt="Wed, 2017-06-21 17:59 - OLYMPUS DIGITAL CAMERA"
                title="Wed, 2017-06-21 17:59 - OLYMPUS DIGITAL CAMERA"></a><a
                href="https://www.flickr.com/photos/108559379@N08/35077059610/in/pool-3759659@N20"
                title="P6210254" class="th"><img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="images/35077059610_ca82bf9e44_s.jpg"
                alt="Wed, 2017-06-21 19:47 - OLYMPUS DIGITAL CAMERA"
                title="Wed, 2017-06-21 19:47 - OLYMPUS DIGITAL CAMERA"></a>
                    </div>
                    <p class="text-center margin-top-20"><a class="btn btn-primary" href="https://www.flickr.com/search/?group_id=3759659@N20&amp;per_page=40&amp;tag_mode=any&amp;q=&amp;radius=&amp;min_taken_date=&amp;max_taken_date=&amp;sort=&amp;media=photos">View all photos on Flickr</a></p>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="container-fluid">
    <div
      class="region region-content-suffix-fluid solstice-region-element-count-2 row">
      <section id="block-views-eclipsecon-sponsors-block"
        class="block block-views block-region-content-suffix-fluid  view-eclipsecon-sponsors-block-common view-eclipsecon-sponsors-block clearfix">
        <h2 class="block-title">
          <a href="#">Our
          Sponsors</a>
        </h2>
        <div class="block-content">
        <div
          class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block container view-dom-id-fd4046dc593c817bb11faf7bccba54a9">
          <div class="view-header">
            For information about becoming a sponsor, please send an email to <a href="sponsors@eclipsecon.org">sponsors@eclipsecon.org</a>.
          </div>
          <div class="view-content">
            <div class="wrapper-sponsor-level">
              <h3>
                <span>Premium</span>
              </h3>
              <ul class="list-inline">
                <li
                  class="views-row views-row-1 views-row-odd views-row-first">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/1_transparent_bg_0.png"
                        alt="" width="220" height="171">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-2 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/logo_obeo_1.png"
                        alt="" width="220" height="56">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-3 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/Leti-PNG.png"
                        alt="" width="220" height="179">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-4 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/AIRBUS_RGB.png"
                        alt="" width="220" height="81">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-5 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/thales_rgb-Converted_0.png"
                        alt="" width="220" height="55">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-6 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/BligClout-PNG.png"
                        alt="" width="220" height="145">
                    </div>
                  </div>
                </li>
                <li
                  class="views-row views-row-7 views-row-odd views-row-last">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/itemis.png"
                        alt="" width="220" height="62">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="wrapper-sponsor-level">
              <h3>
                <span>Basic</span>
              </h3>
              <ul class="list-inline">
                <li
                  class="views-row views-row-1 views-row-odd views-row-first">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/logo_henix.png"
                        alt="" width="220" height="68">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-2 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/Logo%2520Tuleap%2520Liberate%2520your%2520genius_1.png"
                        alt="" width="220" height="98">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-3 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/logo%2520OP%2520CoachOK-EN-850_0.png"
                        alt="" width="220" height="42">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-4 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/logo_docdoku_print_0.jpg"
                        alt="" width="220" height="72">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-5 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/OW2_Logo_Evolution_FullColors_CMYK.jpg"
                        alt="" width="220" height="65">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-6 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/Microsoft-logo_rgb_c-gray.png"
                        alt="" width="220" height="99">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-7 views-row-odd">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/artal%2520technologies_0.png"
                        alt="" width="220" height="88">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-8 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/MicroEJ-NOUVELLE-MASCOTTE.jpg"
                        alt="" width="220" height="170">
                    </div>
                  </div>
                </li>
                <li
                  class="views-row views-row-9 views-row-odd views-row-last">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/Papyrus_IC%2520Logo%2520v2%2520-%2520Gradient.png"
                        alt="" width="220" height="96">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="wrapper-sponsor-level">
              <h3>
                <span>Media</span>
              </h3>
              <ul class="list-inline">
                <li
                  class="views-row views-row-1 views-row-odd views-row-first">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/logo-developpez_250_0.jpg"
                        alt="" width="220" height="92">
                    </div>
                  </div>
                </li>
                <li
                  class="views-row views-row-2 views-row-even views-row-last">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/Logo%2520Lembarque_0.jpg"
                        alt="" width="220" height="62">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="wrapper-sponsor-level">
              <h3>
                <span>Regional Supporter</span>
              </h3>
              <ul class="list-inline">
                <li
                  class="views-row views-row-1 views-row-odd views-row-first">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/Logo-Epitech.png"
                        alt="" width="220" height="80">
                    </div>
                  </div>
                </li>
                <li class="views-row views-row-2 views-row-even">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/TM-logo-couleur_1.jpg"
                        alt="" width="220" height="110">
                    </div>
                  </div>
                </li>
                <li
                  class="views-row views-row-3 views-row-odd views-row-last">
                  <div>
                    <div>
                      <img
                        typeof="foaf:Image" class="img-responsive"
                        src="images/solibre-2500px.png"
                        alt="" width="220" height="77">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </section>
    </div>
  </div>
</main>
