<div id="page">
    <header id="header" role="banner">
      <div class="row">
        <hgroup id="name-and-slogan" class="full">
          <div class="twelve columns">
            <a href="https://events.eclipse.org/" title="Home"
              rel="home" id="logo" class="columns"><img
              src="images/logo.png" alt="Home"></a>
            <!-- </div>
              <div class="three columns">
            <div class="header-banner-container"> -->
            <img src="images/dates.png"
              id="img-header-date">
          </div>
        </hgroup>
        <!-- /#name-and-slogan -->
      </div>
      <!-- /row -->
    </header>
  
    <div id="main" class="row">
      <div class="slideshow">
        <div class="twelve columns">
          <div class="region region-slideshow">
            <div id="block-views-elipsecon-slideshow-block"
              class="block block-views first last odd">
  
              <h2 class="block__title block-title">Slideshow</h2>
  
              <div
                class="view view-elipsecon-slideshow view-id-elipsecon_slideshow view-display-id-block view-dom-id-2ae2f64f04f07c1234857258088bbb39">
  
  
  
                <div class="view-content">
                  <div class="group-wrapper"
                    style="position: relative; width: 100%;">
                    <div
                      class="views-row views-row-1 views-row-odd views-row-first"
                      style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 100%;">
  
                      <div>
                        <div>
                          <div class="slideshow-image">
                            <img typeof="foaf:Image"
                              src="images/manfredsmallffs6324.jpg"
                              alt="" width="375" height="320">
                          </div>
                        </div>
                      </div>
                      <div>
                        <div>
                          <div class="slideshow-body">
                            <a
                              href="https://www.eclipsecon.org/france2014/news/keynote-manfred-broy.html"
                              class="slideshow-link-title"><h1
                                class="slideshow-reverse">Keynote -
                                Manfred Broy</h1></a>
                            <h3>
                              <a
                                href="https://www.eclipsecon.org/france2014/session/cyber-physical-systems-road-connected-assistance-and-global-services.html">Cyber-Physical
                                Systems - A Road to Connected Assistance
                                and Global Services</a>
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even"
                      style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; width: 100%; opacity: 0;">
  
                      <div>
                        <div>
                          <div class="slideshow-image">
                            <img typeof="foaf:Image"
                              src="images/oze0bd.jpg"
                              alt="" width="375" height="320">
                          </div>
                        </div>
                      </div>
                      <div>
                        <div>
                          <div class="slideshow-body">
                            <a
                              href="https://www.eclipsecon.org/france2014/news/keynote-ga%c3%abtan-s%c3%a9verac.html"
                              class="slideshow-link-title"><h1
                                class="slideshow-reverse">Keynote -
                                Gaëtan Séverac</h1></a>
                            <h3>
                              <a
                                href="https://www.eclipsecon.org/france2014/session/how-i-accidentally-created-business.html">How
                                I Accidentally Created a Business</a>
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="views-row views-row-3 views-row-odd views-row-last"
                      style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; width: 100%; opacity: 1;">
  
                      <div>
                        <div>
                          <div class="slideshow-image">
                            <img typeof="foaf:Image"
                              src="images/thanksc697.jpg"
                              alt="" width="375" height="320">
                          </div>
                        </div>
                      </div>
                      <div>
                        <div>
                          <div class="slideshow-body">
                            <a
                              href="https://www.eclipsecon.org/france2014/news/thanks-attending.html"
                              class="slideshow-link-title"><h1
                                class="slideshow-reverse">Thanks for
                                attending!</h1></a>
                            <h3>
                              Share your feedback by taking this <a
                                href="https://www.surveymonkey.com/s/ECFrance2014"
                                target="_blank">attendee survey</a>.
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
  
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="content" class="twelve columns" role="main">
        <a id="main-content"></a>
        <div class="region region-information">
          <div id="block-flickr-6"
            class="block block-flickr first last odd">
  
            <h2 class="block__title block-title">EclipseCon France
              2014 Flickr Photos</h2>
  
            <div class="flickr-photoset">
              <h2 class="flickr-album-heading">
                <a href="https://www.flickr.com/groups/2629521@N24/"
                  title="View the group's Flickr photostream."
                  target="_blank">Flickr</a> photos from the group
                EclipseCon France 2014
              </h2>
              <div class="flickr-album " style="">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14275747158_dc74873b0b_s.jpg"
                  alt="Thu, 2014-06-19 16:41 - AJ1_5524"
                  title="Thu, 2014-06-19 16:41 - AJ1_5524">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14482468923_fc5843ba9b_s.jpg"
                  alt="Thu, 2014-06-19 16:37 - AJ1_5512"
                  title="Thu, 2014-06-19 16:37 - AJ1_5512">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14277789917_2f52293e7f_s.jpg"
                  alt="Thu, 2014-06-19 17:50 - AJ1_5543"
                  title="Thu, 2014-06-19 17:50 - AJ1_5543">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14461235114_407645f838_s.jpg"
                  alt="Thu, 2014-06-19 17:50 - AJ1_5539"
                  title="Thu, 2014-06-19 17:50 - AJ1_5539">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14461232194_92f027452e_s.jpg"
                  alt="Thu, 2014-06-19 17:49 - AJ1_5537"
                  title="Thu, 2014-06-19 17:49 - AJ1_5537">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14275735090_00bc8b581b_s.jpg"
                  alt="Thu, 2014-06-19 16:51 - AJ1_5532"
                  title="Thu, 2014-06-19 16:51 - AJ1_5532">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14275731420_ace2fe2610_s.jpg"
                  alt="Thu, 2014-06-19 16:50 - AJ1_5529"
                  title="Thu, 2014-06-19 16:50 - AJ1_5529">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14462335375_b83af68a00_s.jpg"
                  alt="Thu, 2014-06-19 16:42 - AJ1_5525"
                  title="Thu, 2014-06-19 16:42 - AJ1_5525">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14275720660_6c18c66f9a_s.jpg"
                  alt="Thu, 2014-06-19 16:41 - AJ1_5523"
                  title="Thu, 2014-06-19 16:41 - AJ1_5523">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14462323055_693aa8ea92_s.jpg"
                  alt="Thu, 2014-06-19 16:41 - AJ1_5522"
                  title="Thu, 2014-06-19 16:41 - AJ1_5522">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14460963182_98fc62312e_s.jpg"
                  alt="Thu, 2014-06-19 16:41 - AJ1_5521"
                  title="Thu, 2014-06-19 16:41 - AJ1_5521">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14439221166_6b840af54b_s.jpg"
                  alt="Thu, 2014-06-19 16:39 - AJ1_5516"
                  title="Thu, 2014-06-19 16:39 - AJ1_5516">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14275870577_76043ba460_s.jpg"
                  alt="Thu, 2014-06-19 16:38 - AJ1_5515"
                  title="Thu, 2014-06-19 16:38 - AJ1_5515">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14482478973_c3309255c2_s.jpg"
                  alt="Thu, 2014-06-19 16:38 - AJ1_5514"
                  title="Thu, 2014-06-19 16:38 - AJ1_5514">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14461193234_f87d268f47_s.jpg"
                  alt="Thu, 2014-06-19 16:38 - AJ1_5513"
                  title="Thu, 2014-06-19 16:38 - AJ1_5513">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14482464353_ae1339abdd_s.jpg"
                  alt="Thu, 2014-06-19 16:37 - AJ1_5509"
                  title="Thu, 2014-06-19 16:37 - AJ1_5509">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14461179584_0305dbe9d1_s.jpg"
                  alt="Thu, 2014-06-19 16:09 - AJ1_5503"
                  title="Thu, 2014-06-19 16:09 - AJ1_5503">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14435076636_aeb1f32460_s.jpg"
                  alt="Thu, 2014-06-19 00:15 - AJ1_5492"
                  title="Thu, 2014-06-19 00:15 - AJ1_5492">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14454827951_f820d28906_s.jpg"
                  alt="Thu, 2014-06-19 00:13 - AJ1_5489"
                  title="Thu, 2014-06-19 00:13 - AJ1_5489">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14435075986_41e72aeeca_s.jpg"
                  alt="Thu, 2014-06-19 00:03 - AJ1_5487"
                  title="Thu, 2014-06-19 00:03 - AJ1_5487">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14456375214_a30210d9ef_s.jpg"
                  alt="Wed, 2014-06-18 13:22 - AJ1_5432"
                  title="Wed, 2014-06-18 13:22 - AJ1_5432">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14434388256_09d1fb2c23_s.jpg"
                  alt="Wed, 2014-06-18 13:20 - AJ1_5431"
                  title="Wed, 2014-06-18 13:20 - AJ1_5431">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14270890930_785bb64634_s.jpg"
                  alt="Wed, 2014-06-18 13:18 - AJ1_5423"
                  title="Wed, 2014-06-18 13:18 - AJ1_5423">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14270890630_ff533bdc72_s.jpg"
                  alt="Wed, 2014-06-18 13:17 - AJ1_5416"
                  title="Wed, 2014-06-18 13:17 - AJ1_5416">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14454136451_064fce61f3_s.jpg"
                  alt="Wed, 2014-06-18 13:16 - AJ1_5414"
                  title="Wed, 2014-06-18 13:16 - AJ1_5414">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14434386856_17599c6ff2_s.jpg"
                  alt="Wed, 2014-06-18 13:00 - AJ1_5413"
                  title="Wed, 2014-06-18 13:00 - AJ1_5413">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14271045957_a4c288fa4d_s.jpg"
                  alt="Wed, 2014-06-18 11:54 - AJ1_5404"
                  title="Wed, 2014-06-18 11:54 - AJ1_5404">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14477652053_55a8018d66_s.jpg"
                  alt="Wed, 2014-06-18 11:34 - AJ1_5403"
                  title="Wed, 2014-06-18 11:34 - AJ1_5403">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14456372264_324b2d2945_s.jpg"
                  alt="Wed, 2014-06-18 11:32 - AJ1_5402"
                  title="Wed, 2014-06-18 11:32 - AJ1_5402">
                <img class="flickr-photo-img"
                  typeof="foaf:Image" src="images/14271044827_a15d7cda0c_s.jpg"
                  alt="Wed, 2014-06-18 11:01 - AJ1_5396"
                  title="Wed, 2014-06-18 11:01 - AJ1_5396">
              </div>
            </div>
          </div>
          
          
          
          <div id="block-views-eclipsecon-sponsors-block"
            class="block block-views first odd">
  
            <h2 class="block__title block-title">Our Sponsors
            </h2>
  
            <div
              class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block clearfix view-dom-id-beb511926e94c25b3a44af0321def7bd">
  
  
  
              <div class="view-content">
                <div class="item-list">
                  <h3>Gold</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Airbus%2520Logo%252025025f4.png"
                            alt="" width="220" height="53">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/thales_rgb-Convertede6a9.png"
                            alt="" width="220" height="55">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/ibmpos_blurgb_068d1.jpg"
                            alt="" width="220" height="85">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/soyatec250bcee.jpg"
                            alt="" width="220" height="53">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Obeo%2520Colored%2520Logo%252025061e2.jpg"
                            alt="" width="220" height="116">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-6 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/CEA_Tech_LIST250d4df.jpg"
                            alt="" width="220" height="137">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-7 views-row-odd views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Actuate_logo_2504a11.jpg"
                            alt="" width="220" height="140">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Silver</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/SierraLogo_R_Stacked_CMYKd7b8.gif"
                            alt="" width="220" height="153">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/New%2520Image_09c57.png"
                            alt="" width="220" height="145">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Bronze</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/bit%2520reactive%2520logo%2520RGB5498.jpg"
                            alt="" width="220" height="110">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Logo-Bonitasoft-Horizontal-Large_035e6.png"
                            alt="" width="220" height="69">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/xored-logo250105d.jpg"
                            alt="" width="220" height="82">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/New%2520logo-cc26b5.png"
                            alt="" width="220" height="41">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/artal%2520technologies7513.png"
                            alt="" width="220" height="88">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-6 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Logo%2520ALL4TEC_1280ff61.png"
                            alt="" width="220" height="66">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-7 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo%2520OP%2520CoachOK-GB-300dpif6b1.jpg"
                            alt="" width="220" height="42">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-8 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/inr_logo_corpo_UK_web9e6a.jpg"
                            alt="" width="220" height="94">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Regional Supporter</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/New%2520Imagedb86.png"
                            alt="" width="220" height="77">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/TM-logo-couleur2a54.jpg"
                            alt="" width="220" height="110">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/LOGO_Fond_Clair09a7.jpg"
                            alt="" width="220" height="142">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-4 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo-digitalplace-OKb411.png"
                            alt="" width="220" height="128">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Media</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo-LeMagIT-vecto4dcf1.png"
                            alt="" width="220" height="58">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/CityMeo%252520-%252520digital%252520signage%252520made%252520simple%2525.png"
                            alt="" width="220" height="57">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/oasis2507537.jpg"
                            alt="" width="220" height="58">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo_baselinev8ba49.jpg"
                            alt="" width="220" height="76">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-5 views-row-odd views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/logo-dvp250c8b3.jpg"
                            alt="" width="220" height="92">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="item-list">
                  <h3>Unconference</h3>
                  <ul>
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/Insad21d.jpg"
                            alt="" width="220" height="117">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image"
                            src="images/inp-enseeihtcbf3.png"
                            alt="" width="220" height="39">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
  
            </div>
          </div>
          
          
        </div>
      </div>
      <!-- /#content -->
  
    </div>
    <!-- /#main -->
  
  </div>
  <!-- /#page -->