<header id="header-wrapper" class="" role="banner">
    <div class="container">
      <div id="header-row" class="row">
        <div id="header-left" class="hidden-xs col-sm-8">
          <a href="/2016/france/" title="Home"><img
            class="logo-eclipse-default img-responsive"
            src="images/logo.png" alt="Home"></a>
        </div>
        <div style="margin-top: 50px;" id="header-right"
          class="col-sm-16 pull-right">
          <div class="row">
            <div class="col-sm-24"></div>
          </div>
          <div id="header-custom-content" class="text-center">
            <div
              class="region region-header-right solstice-region-element-count-1">
              <section
                id="block-eclipsecon-support-event-info-eclipsecon-support-event-info"
                class="block block-eclipsecon-support-event-info block-region-header-right block-eclipsecon-support-event-info clearfix">
  
                <div class="block-content">
                  <div class="event_info">
                    <span class="event_location">Toulouse, France ·
                    </span><span class="event_date">June 7 - 9, 2016</span>
                  </div>
                </div>
  
              </section>
              <!-- /.block -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main role="main" class="no-promo">
    <div class="container-fluid">
      <div
        class="region region-content-prefix-fluid solstice-region-element-count-2 row">
        <section id="block-views-solstice-slideshow-block"
          class="block block-views block-region-content-prefix-fluid  view-solstice-slideshow-block-common view-solstice-slideshow-block clearfix">
  
  
          <div class="block-content">
            <div
              class="view view-solstice-slideshow view-id-solstice_slideshow view-display-id-block view-dom-id-f0b2a26c19434b9de41f87f83562729a solstice-support-slideshow-frontpage carousel slide"
              data-ride="carousel" id="solstice-slideshow">
  
  
  
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
  
  
                <div
                  class="views-row-odd views-row-first views-row-last active item clearfix"
                  style="height: 193px; min-height: 0px;">
                  <div class="container">
  
                    <div id="node-2593"
                      class="node node-solstice-slideshow node-promoted node-teaser"
                      about="/france2016/content/thank-you-making-2016-great-conference"
                      typeof="sioc:Item foaf:Document">
                      <div
                        class="col-xs-24 solstice-slideshow-content-no-image solstice-slideshow-content"
                        style="height: 193px;">
                        <div class="solstice-slideshow-content-container">
                          <h2>
                            Thank you for making 2016 a great conference!
                          </h2>
                          <span property="dc:title"
                            content="Thank you for making 2016 a great conference! "
                            class="rdf-meta element-hidden"></span><span
                            property="sioc:num_replies" content="0"
                            datatype="xsd:integer"
                            class="rdf-meta element-hidden"></span>
                          <div
                            class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                              <div class="field-item even"
                                property="content:encoded">Hold the
                                dates for the next EclipseCon France, June
                                21-22, 2017</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="col-sm-12 col-sm-offset-2 hidden-xs col-sm-12 col-sm-offset-2 hidden-xs">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
  
  
            </div>
          </div>
  
        </section>
      </div>
    </div>
  
    <div class="container">
      <section id="block-flickr-6"
        class="block block-flickr block-region-sidebar-second solstice-block solstice-block-default hidden-xs block-6 pretty-block clearfix">
  
        <h2 class="flickr" style="text-align: center;">EclipseCon
          France 2016 Photos</h2>
  
        <div class="block-content">
          <div class="flickr-photoset">
            <div class="flickr-album " style="">
              <img class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/4585/38853921511_6de6ef6986_s.jpg"
                alt="Wed, 2016-06-08 19:17 -                                "
                title="Wed, 2016-06-08 19:17 -                                ">
              <img class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7298/27005994574_c50074405a_s.jpg"
                alt="Thu, 2016-06-09 16:54 - IMG_5039"
                title="Thu, 2016-06-09 16:54 - IMG_5039"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7461/27547249706_a0e38d273e_s.jpg"
                alt="Thu, 2016-06-09 16:00 - AJ1_2331"
                title="Thu, 2016-06-09 16:00 - AJ1_2331"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7422/27482507442_ca8527a852_s.jpg"
                alt="Thu, 2016-06-09 15:59 - AJ1_2330"
                title="Thu, 2016-06-09 15:59 - AJ1_2330"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7413/27508720341_d2035915c6_s.jpg"
                alt="Thu, 2016-06-09 15:50 - AJ1_2325"
                title="Thu, 2016-06-09 15:50 - AJ1_2325"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7561/27508718871_7f9a81c732_s.jpg"
                alt="Thu, 2016-06-09 15:49 - AJ1_2324"
                title="Thu, 2016-06-09 15:49 - AJ1_2324"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7435/27508716501_b8bd6b1b92_s.jpg"
                alt="Thu, 2016-06-09 15:46 - AJ1_2320"
                title="Thu, 2016-06-09 15:46 - AJ1_2320"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7456/27482499092_897cfef574_s.jpg"
                alt="Thu, 2016-06-09 15:41 - AJ1_2317"
                title="Thu, 2016-06-09 15:41 - AJ1_2317"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7322/27482497522_9881c02ca4_s.jpg"
                alt="Thu, 2016-06-09 15:35 - AJ1_2313"
                title="Thu, 2016-06-09 15:35 - AJ1_2313"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7433/27482496232_1eb7308368_s.jpg"
                alt="Thu, 2016-06-09 13:55 - AJ1_2311"
                title="Thu, 2016-06-09 13:55 - AJ1_2311"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7496/27482494652_073bcd358c_s.jpg"
                alt="Thu, 2016-06-09 13:54 - AJ1_2310"
                title="Thu, 2016-06-09 13:54 - AJ1_2310"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7332/27482493272_8a5c516fec_s.jpg"
                alt="Thu, 2016-06-09 13:54 - AJ1_2309"
                title="Thu, 2016-06-09 13:54 - AJ1_2309"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7052/27508704471_18714fe78d_s.jpg"
                alt="Thu, 2016-06-09 13:52 - AJ1_2308"
                title="Thu, 2016-06-09 13:52 - AJ1_2308"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7267/27508702081_259c7fcc04_s.jpg"
                alt="Thu, 2016-06-09 13:51 - AJ1_2307"
                title="Thu, 2016-06-09 13:51 - AJ1_2307"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7338/27508700331_7d2d6bd236_s.jpg"
                alt="Thu, 2016-06-09 13:51 - AJ1_2306"
                title="Thu, 2016-06-09 13:51 - AJ1_2306"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7190/27508698231_e61a8ac2d9_s.jpg"
                alt="Thu, 2016-06-09 13:50 - AJ1_2304"
                title="Thu, 2016-06-09 13:50 - AJ1_2304"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7780/27547236916_e4cf1975c3_s.jpg"
                alt="Thu, 2016-06-09 13:48 - AJ1_2303"
                title="Thu, 2016-06-09 13:48 - AJ1_2303"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7051/27547235446_9156971ec2_s.jpg"
                alt="Thu, 2016-06-09 13:44 - AJ1_2302"
                title="Thu, 2016-06-09 13:44 - AJ1_2302"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7433/27304483680_ef617cc474_s.jpg"
                alt="Thu, 2016-06-09 13:19 - AJ1_2301"
                title="Thu, 2016-06-09 13:19 - AJ1_2301"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7435/27304481140_a79e7fd8a1_s.jpg"
                alt="Thu, 2016-06-09 12:54 - AJ1_2298"
                title="Thu, 2016-06-09 12:54 - AJ1_2298"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7334/27304479010_daec8563f8_s.jpg"
                alt="Thu, 2016-06-09 08:13 - AJ1_2297"
                title="Thu, 2016-06-09 08:13 - AJ1_2297"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7713/27304476960_0af8c5ddd8_s.jpg"
                alt="Thu, 2016-06-09 08:11 - AJ1_2294"
                title="Thu, 2016-06-09 08:11 - AJ1_2294"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7766/27508692571_2524cd98d5_s.jpg"
                alt="Thu, 2016-06-09 08:07 - AJ1_2292"
                title="Thu, 2016-06-09 08:07 - AJ1_2292"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7390/27508692041_a88d7558ed_s.jpg"
                alt="Thu, 2016-06-09 08:01 - AJ1_2290"
                title="Thu, 2016-06-09 08:01 - AJ1_2290"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7684/27508690661_c7ae07177a_s.jpg"
                alt="Wed, 2016-06-08 21:00 - AJ1_2278"
                title="Wed, 2016-06-08 21:00 - AJ1_2278"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7359/27508689641_e3519c2340_s.jpg"
                alt="Wed, 2016-06-08 21:00 - AJ1_2274"
                title="Wed, 2016-06-08 21:00 - AJ1_2274"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7388/27508688581_2cbf128c0a_s.jpg"
                alt="Wed, 2016-06-08 20:15 - AJ1_2272"
                title="Wed, 2016-06-08 20:15 - AJ1_2272"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7563/27547218186_51c222ca29_s.jpg"
                alt="Wed, 2016-06-08 20:15 - AJ1_2271"
                title="Wed, 2016-06-08 20:15 - AJ1_2271"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7320/26972691713_f15ff895dd_s.jpg"
                alt="Wed, 2016-06-08 20:14 - AJ1_2269"
                title="Wed, 2016-06-08 20:14 - AJ1_2269"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7501/27304456660_f81241b8de_s.jpg"
                alt="Wed, 2016-06-08 20:14 - AJ1_2268"
                title="Wed, 2016-06-08 20:14 - AJ1_2268"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7714/26972687913_bbc0f04f9b_s.jpg"
                alt="Wed, 2016-06-08 20:13 - AJ1_2266"
                title="Wed, 2016-06-08 20:13 - AJ1_2266"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7385/26972686213_787b3dcd31_s.jpg"
                alt="Wed, 2016-06-08 20:12 - AJ1_2265"
                title="Wed, 2016-06-08 20:12 - AJ1_2265"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7129/26971470884_3f76697b8c_s.jpg"
                alt="Wed, 2016-06-08 20:12 - AJ1_2264"
                title="Wed, 2016-06-08 20:12 - AJ1_2264"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7799/27304447310_3dc0a907d6_s.jpg"
                alt="Wed, 2016-06-08 20:12 - AJ1_2263"
                title="Wed, 2016-06-08 20:12 - AJ1_2263"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7588/26971467754_35d1e0dc41_s.jpg"
                alt="Wed, 2016-06-08 17:37 - AJ1_2259"
                title="Wed, 2016-06-08 17:37 - AJ1_2259"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7434/27547203566_393d1d63ae_s.jpg"
                alt="Wed, 2016-06-08 17:15 - AJ1_2258"
                title="Wed, 2016-06-08 17:15 - AJ1_2258"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7353/27547201796_44842f93b2_s.jpg"
                alt="Wed, 2016-06-08 17:13 - AJ1_2257"
                title="Wed, 2016-06-08 17:13 - AJ1_2257"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7223/27547200686_91018bd4aa_s.jpg"
                alt="Wed, 2016-06-08 17:06 - AJ1_2253"
                title="Wed, 2016-06-08 17:06 - AJ1_2253"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7378/27547198926_0c9b2d712f_s.jpg"
                alt="Wed, 2016-06-08 17:03 - AJ1_2252"
                title="Wed, 2016-06-08 17:03 - AJ1_2252"> <img
                class="img-thumbnail flickr-photo-img img-responsive"
                typeof="foaf:Image"
                src="https://live.staticflickr.com/7042/27547196776_2e2dcf956e_s.jpg"
                alt="Wed, 2016-06-08 16:58 - AJ1_2247"
                title="Wed, 2016-06-08 16:58 - AJ1_2247">
            </div>
          </div>
        </div>
  
      </section>
    </div>
    <div class="container-fluid">
  
      <div
        class="region region-content-suffix-fluid solstice-region-element-count-2 row">
        <section id="block-views-eclipsecon-sponsors-block"
          class="block block-views block-region-content-suffix-fluid  view-eclipsecon-sponsors-block-common view-eclipsecon-sponsors-block clearfix">
  
          <h2 class="block-title">
            <a href="/france2016">Our
              Sponsors</a>
          </h2>
  
          <div class="block-content">
            <div
              class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block container view-dom-id-ee86b45f952b049274ec6f095aaa5417">
  
  
  
              <div class="view-content">
  
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Premium</span>
                  </h3>
                  <ul class="list-inline">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/Microsoft%2520logo%2520croppede93d.png"
                            alt="" width="220" height="53">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/logo_obeoefb0.png" alt=""
                            width="220" height="56">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/List_logo1d5a.png" alt=""
                            width="220" height="180">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/thales_rgb-Converted58d1.png"
                            alt="" width="220" height="55">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/intel_rgb_300055d4.png" alt=""
                            width="220" height="145">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-6 views-row-even views-row-last">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/logo-microej9ee7.png" alt=""
                            width="208" height="220">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
  
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Basic</span>
                  </h3>
                  <ul class="list-inline">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/Logo%2520Tuleap%2520Liberate%2520your%2520genius_0aeb7.png"
                            alt="" width="220" height="98">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/2015_LogoLAASCarnot6f57.png"
                            alt="" width="220" height="218">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/Red_Hat_CMYK1977e.png" alt=""
                            width="220" height="84">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/logo_docdoku_print3172.jpg" alt=""
                            width="220" height="72">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/logo%2520OP%2520CoachOK-EN-85054d8.png"
                            alt="" width="220" height="42">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-6 views-row-even views-row-last">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/artal%2520technologiesb822.png"
                            alt="" width="220" height="88">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
  
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Regional Supporter</span>
                  </h3>
                  <ul class="list-inline">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/New%2520Imagea0d7.png" alt=""
                            width="220" height="77">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/inp-enseeiht_0_0172a.png" alt=""
                            width="220" height="39">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-3 views-row-odd views-row-last">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/TM-logo-couleura995.jpg" alt=""
                            width="220" height="110">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
  
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Media</span>
                  </h3>
                  <ul class="list-inline">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/Logo%2520Lembarque05b4.jpg" alt=""
                            width="220" height="62">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <div>
                        <div>
                          <img typeof="foaf:Image"
                            class="img-responsive"
                            src="images/logo-developpez_250382a.jpg"
                            alt="" width="220" height="92">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
  
        </section>
        <!-- /.block -->
      </div>
    </div>
  
  </main>
  