<header id="header-wrapper" class="" role="banner">
  <div class="container">
    <div id="header-row" class="row">
      <div id="header-left" class="col-sm-8 margin-bottom-20">
        <a href="https://events.eclipse.org/"
          title="Home"><img
          class="logo-eclipse-default img-responsive"
          src="images/logo.png" alt="Home"></a>
      </div>
      <div id="header-right" class="col-sm-16 pull-right">
        <div id="header-custom-content" class="text-center">
          <div
            class="region region-header-right solstice-region-element-count-1">
            <section
              id="block-eclipsecon-support-event-info-eclipsecon-support-event-info"
              class="block block-eclipsecon-support-event-info block-region-header-right block-eclipsecon-support-event-info clearfix">
              <div class="block-content">
                <div class="event_info" style="padding-top:35px;">
                  <span class="event_location">Toulouse, France · </span><span
                    class="event_date">June 13 - 14, 2018</span>
                </div>
              </div>
            </section>
            <!-- /.block -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main role="main" class="no-promo">
  <div class="container-fluid">
    <div
      class="region region-content-prefix-fluid solstice-region-element-count-3 row">
      <section id="block-views-solstice-slideshow-block"
        class="block block-views block-region-content-prefix-fluid  view-solstice-slideshow-block-common view-solstice-slideshow-block clearfix">
        <div class="block-content">
          <div
            class="view view-solstice-slideshow view-id-solstice_slideshow view-display-id-block view-dom-id-01f32d6fb16151461660e5acfb15ff36 solstice-support-slideshow-frontpage carousel slide"
            data-ride="carousel" id="solstice-slideshow"
            style="background-image: url(images/ecf_final.jpg);">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div
                class="views-row-odd views-row-first views-row-last active item clearfix"
                style="height: 224px;">
                <div class="container">
                  <div id="node-4168"
                    class="node node-solstice-slideshow node-promoted node-teaser"
                    about="/france2018/content/thank-you-attending"
                    typeof="sioc:Item foaf:Document">
                    <div
                      class="col-xs-24 solstice-slideshow-content-no-image solstice-slideshow-content"
                      style="height: 224px;">
                      <div class="solstice-slideshow-content-container">
                        <h2>
                          Thank
                          you for attending!
                        </h2>
                        <span property="dc:title"
                          content="Thank you for attending!"
                          class="rdf-meta element-hidden"></span><span
                          property="sioc:num_replies" content="0"
                          datatype="xsd:integer"
                          class="rdf-meta element-hidden"></span>
                        <div
                          class="field field-name-body field-type-text-with-summary field-label-hidden">
                          <div class="field-items">
                            <div class="field-item even"
                              property="content:encoded">
                              <p>It was a great week in Toulouse, and
                                we hope you enjoyed it as much as we did.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-sm-12 col-sm-offset-2 hidden-xs col-sm-12 col-sm-offset-2 hidden-xs">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.block -->
      <!-- /.block -->
      <section id="block-views-eclipsecon-sponsors-block-1"
        class="block block-views block-region-content-prefix-fluid  view-eclipsecon-sponsors-block-common view-eclipsecon-sponsors-block-1 clearfix">
        <div class="block-content container hidden-xs">
          <div
            class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block_1 container view-dom-id-cbdbc9fa27978ed9f88d6913029214b5">
            <div class="view-content">
              <div class="wrapper-sponsor-level">
                <h3>Premium Sponsors</h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <img
                      typeof="foaf:Image" class="img-responsive"
                      src="images/1_transparent_bg_2.png" alt=""
                      width="220" height="171">
                  </li>
                  <li class="views-row views-row-2 views-row-even"><img
                    typeof="foaf:Image" class="img-responsive"
                    src="images/AIRBUS_RGB_0.png" alt=""
                    width="220" height="81"></li>
                  <li class="views-row views-row-3 views-row-odd"><img
                    typeof="foaf:Image" class="img-responsive"
                    src="images/Mindus%2520PNG.png" alt=""
                    width="220" height="69"></li>
                  <li class="views-row views-row-4 views-row-even"><img
                    typeof="foaf:Image" class="img-responsive"
                    src="images/Red_Hat_RGB_150px_2.png" alt=""
                    width="220" height="70"></li>
                  <li class="views-row views-row-5 views-row-odd"><img
                    typeof="foaf:Image" class="img-responsive"
                    src="images/Full%2520Colour_1.png" alt=""
                    width="220" height="62"></li>
                  <li class="views-row views-row-6 views-row-even"><img
                    typeof="foaf:Image" class="img-responsive"
                    src="images/logo_obeo_3.png" alt="" width="220"
                    height="56"></li>
                  <li
                    class="views-row views-row-7 views-row-odd views-row-last">
                    <img
                      typeof="foaf:Image" class="img-responsive"
                      src="images/ibm%2520logo%2520transparent_2.png"
                      alt="" width="220" height="77">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.block -->
    </div>
  </div>
  <div class="container" id="novaContent">
    <header role="banner" id="page-header"> </header>
    <!-- /#page-header -->
    <div class="row" id="main-content-row">
      <section class="col-md-24" id="main-content">
        <a id="main-content"></a>
        <div id="maint-content-area">
          <div class="row">
            <div class="col-sm-16 col-sm-offset-4">
              <section id="block-flickr-6" class="block block-flickr solstice-block solstice-block-default block-6 pretty-block clearfix">
                <h2 class="flickr" style="text-align:center;">EclipseCon France 2018 Photos</h2>
                <div>
                  <div class="flickr-photoset">
                    <div class="flickr-album " style="">
                      <a
                        href="https://www.flickr.com/photos/108559379@N08/42261665075/in/pool-3955864@N24"
                        title="IMG_0119" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/839/42261665075_dd1f6e430e_s.jpg"
                        alt="Thu, 2018-06-14 19:22 - IMG_0119"
                        title="Thu, 2018-06-14 19:22 - IMG_0119"></a><a
                        href="https://www.flickr.com/photos/154356434@N07/44661398701/in/pool-3955864@N24"
                        title="Caravelle 2 banner" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1858/44661398701_2b33467d4e_s.jpg"
                        alt="Wed, 2018-06-13 11:54 - Caravelle 2 banner"
                        title="Wed, 2018-06-13 11:54 - Caravelle 2 banner"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41373060990/in/pool-3955864@N24"
                        title="IMG_6560" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/913/41373060990_4228c35cb3_s.jpg"
                        alt="Thu, 2018-06-14 18:33 - IMG_6560"
                        title="Thu, 2018-06-14 18:33 - IMG_6560"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41373059790/in/pool-3955864@N24"
                        title="IMG_6531" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1829/41373059790_be7a017997_s.jpg"
                        alt="Thu, 2018-06-14 12:22 - IMG_6531"
                        title="Thu, 2018-06-14 12:22 - IMG_6531"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41373058290/in/pool-3955864@N24"
                        title="IMG_6521" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/918/41373058290_16015b77f5_s.jpg"
                        alt="Thu, 2018-06-14 10:42 - IMG_6521"
                        title="Thu, 2018-06-14 10:42 - IMG_6521"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/43133721052/in/pool-3955864@N24"
                        title="IMG_6506" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1806/43133721052_07d6849c4f_s.jpg"
                        alt="Thu, 2018-06-14 07:47 - IMG_6506"
                        title="Thu, 2018-06-14 07:47 - IMG_6506"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/42465385304/in/pool-3955864@N24"
                        title="IMG_6497" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1781/42465385304_197d0f78f2_s.jpg"
                        alt="Wed, 2018-06-13 16:15 - IMG_6497"
                        title="Wed, 2018-06-13 16:15 - IMG_6497"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41355765630/in/pool-3955864@N24"
                        title="P6140209" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/927/41355765630_728dc1f270_s.jpg"
                        alt="Thu, 2018-06-14 10:43 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 10:43 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41355764030/in/pool-3955864@N24"
                        title="P6140208" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/921/41355764030_284ef23e5d_s.jpg"
                        alt="Thu, 2018-06-14 09:22 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 09:22 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/28296527527/in/pool-3955864@N24"
                        title="P6140210" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1829/28296527527_896405841c_s.jpg"
                        alt="Thu, 2018-06-14 11:36 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 11:36 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41355761170/in/pool-3955864@N24"
                        title="P6140212" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1783/41355761170_c8f8bab896_s.jpg"
                        alt="Thu, 2018-06-14 11:37 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 11:37 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/42448019934/in/pool-3955864@N24"
                        title="P6140220" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/917/42448019934_4e4b9c9d05_s.jpg"
                        alt="Thu, 2018-06-14 11:41 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 11:41 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41355758220/in/pool-3955864@N24"
                        title="P6140217" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1790/41355758220_7e0dc9a26c_s.jpg"
                        alt="Thu, 2018-06-14 11:40 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 11:40 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41355756480/in/pool-3955864@N24"
                        title="P6140222" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/833/41355756480_46a6938510_s.jpg"
                        alt="Thu, 2018-06-14 11:42 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 11:42 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41355754410/in/pool-3955864@N24"
                        title="P6140231" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1821/41355754410_2f99cd1559_s.jpg"
                        alt="Thu, 2018-06-14 11:48 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 11:48 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/28296518747/in/pool-3955864@N24"
                        title="IMG_0112" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/920/28296518747_6fed82c361_s.jpg"
                        alt="Thu, 2018-06-14 11:45 - IMG_0112"
                        title="Thu, 2018-06-14 11:45 - IMG_0112"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/42448007464/in/pool-3955864@N24"
                        title="P6140233" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1785/42448007464_f399f1da72_s.jpg"
                        alt="Thu, 2018-06-14 12:22 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 12:22 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/42448005904/in/pool-3955864@N24"
                        title="P6140234" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/841/42448005904_76ae26146e_s.jpg"
                        alt="Thu, 2018-06-14 12:34 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 12:34 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41355749630/in/pool-3955864@N24"
                        title="P6140241" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/839/41355749630_bd5ce94a3f_s.jpg"
                        alt="Thu, 2018-06-14 15:08 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 15:08 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41355748960/in/pool-3955864@N24"
                        title="P6140242" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/840/41355748960_cd387c20b1_s.jpg"
                        alt="Thu, 2018-06-14 16:37 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 16:37 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41355748220/in/pool-3955864@N24"
                        title="P6140248" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1823/41355748220_70c485c2f8_s.jpg"
                        alt="Thu, 2018-06-14 16:46 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 16:46 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41355747540/in/pool-3955864@N24"
                        title="P6140256" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/845/41355747540_96a3a90f90_s.jpg"
                        alt="Thu, 2018-06-14 16:51 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 16:51 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/42447995014/in/pool-3955864@N24"
                        title="P6140268" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1830/42447995014_582691fdee_s.jpg"
                        alt="Thu, 2018-06-14 16:59 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 16:59 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/42447993714/in/pool-3955864@N24"
                        title="P6140274" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1781/42447993714_5ab84a7808_s.jpg"
                        alt="Thu, 2018-06-14 17:00 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 17:00 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/42261667945/in/pool-3955864@N24"
                        title="P6140291" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/841/42261667945_7e3e8ce529_s.jpg"
                        alt="Thu, 2018-06-14 17:13 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 17:13 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/42261666405/in/pool-3955864@N24"
                        title="P6140275" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1823/42261666405_36173a34e3_s.jpg"
                        alt="Thu, 2018-06-14 17:00 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 17:00 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/43116475322/in/pool-3955864@N24"
                        title="P6140296" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1823/43116475322_ca854b2e1a_s.jpg"
                        alt="Thu, 2018-06-14 17:14 - OLYMPUS DIGITAL CAMERA"
                        title="Thu, 2018-06-14 17:14 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/43116474412/in/pool-3955864@N24"
                        title="IMG_0122" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/838/43116474412_79262ec0c3_s.jpg"
                        alt="Thu, 2018-06-14 20:23 - IMG_0122"
                        title="Thu, 2018-06-14 20:23 - IMG_0122"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/43116473672/in/pool-3955864@N24"
                        title="IMG_0124" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/843/43116473672_739edb01d6_s.jpg"
                        alt="Thu, 2018-06-14 20:24 - IMG_0124"
                        title="Thu, 2018-06-14 20:24 - IMG_0124"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/43116472782/in/pool-3955864@N24"
                        title="IMG_0126" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1809/43116472782_40d9d90059_s.jpg"
                        alt="Thu, 2018-06-14 22:52 - IMG_0126"
                        title="Thu, 2018-06-14 22:52 - IMG_0126"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/28919431498/in/pool-3955864@N24"
                        title="P6130204" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1738/28919431498_da62f08f30_s.jpg"
                        alt="Wed, 2018-06-13 22:36 - OLYMPUS DIGITAL CAMERA"
                        title="Wed, 2018-06-13 22:36 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/42075629974/in/pool-3955864@N24"
                        title="P6130203" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/883/42075629974_afcdf7b176_s.jpg"
                        alt="Wed, 2018-06-13 21:37 - OLYMPUS DIGITAL CAMERA"
                        title="Wed, 2018-06-13 21:37 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/28919419828/in/pool-3955864@N24"
                        title="P6130201" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1736/28919419828_8f9e9982ac_s.jpg"
                        alt="Wed, 2018-06-13 21:20 - OLYMPUS DIGITAL CAMERA"
                        title="Wed, 2018-06-13 21:20 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41892100435/in/pool-3955864@N24"
                        title="P6130199" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1727/41892100435_18dc0f5a6e_s.jpg"
                        alt="Wed, 2018-06-13 21:08 - OLYMPUS DIGITAL CAMERA"
                        title="Wed, 2018-06-13 21:08 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/41892097035/in/pool-3955864@N24"
                        title="P6130197" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/891/41892097035_ea8b2d1ffc_s.jpg"
                        alt="Wed, 2018-06-13 21:06 - OLYMPUS DIGITAL CAMERA"
                        title="Wed, 2018-06-13 21:06 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/40982571390/in/pool-3955864@N24"
                        title="P6130198" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1725/40982571390_efe1282243_s.jpg"
                        alt="Wed, 2018-06-13 21:08 - OLYMPUS DIGITAL CAMERA"
                        title="Wed, 2018-06-13 21:08 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/40982568410/in/pool-3955864@N24"
                        title="P6130193" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/880/40982568410_81f498c817_s.jpg"
                        alt="Wed, 2018-06-13 21:05 - OLYMPUS DIGITAL CAMERA"
                        title="Wed, 2018-06-13 21:05 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/40982561740/in/pool-3955864@N24"
                        title="P6130187" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1728/40982561740_313e636da1_s.jpg"
                        alt="Wed, 2018-06-13 21:03 - OLYMPUS DIGITAL CAMERA"
                        title="Wed, 2018-06-13 21:03 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/40982554340/in/pool-3955864@N24"
                        title="P6130183" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1750/40982554340_22bec68622_s.jpg"
                        alt="Wed, 2018-06-13 21:03 - OLYMPUS DIGITAL CAMERA"
                        title="Wed, 2018-06-13 21:03 - OLYMPUS DIGITAL CAMERA"></a><a
                        href="https://www.flickr.com/photos/108559379@N08/40982547260/in/pool-3955864@N24"
                        title="P6130179" class="th"><img
                        class="img-thumbnail flickr-photo-img img-responsive"
                        typeof="foaf:Image"
                        src="https://live.staticflickr.com/1729/40982547260_7983ffb568_s.jpg"
                        alt="Wed, 2018-06-13 18:01 - OLYMPUS DIGITAL CAMERA"
                        title="Wed, 2018-06-13 18:01 - OLYMPUS DIGITAL CAMERA"></a>
                    </div>
                    <p class="text-center margin-top-20"><a class="btn btn-primary" href="https://www.flickr.com/search/?group_id=3955864@N24&amp;per_page=40&amp;tag_mode=any&amp;q=&amp;radius=&amp;min_taken_date=&amp;max_taken_date=&amp;sort=&amp;media=photos">View all photos on Flickr</a></p>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="container-fluid">
    <div
      class="region region-content-suffix-fluid solstice-region-element-count-2 row">
      <section id="block-views-eclipsecon-sponsors-block"
        class="block block-views block-region-content-suffix-fluid  view-eclipsecon-sponsors-block-common view-eclipsecon-sponsors-block clearfix">
        <h2 class="block-title">
          <a href="#">Our
          Sponsors</a>
        </h2>
        <div class="block-content">
          <div
            class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block container view-dom-id-deaaa93a8497128950138952bf097ceb">
            <div class="view-header">
              For information about becoming a sponsor, please send an email to <a href="sponsors@eclipsecon.org">sponsors@eclipsecon.org</a>.
            </div>
            <div class="view-content">
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Premium</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Full%2520Colour_1.png" alt=""
                          width="220" height="62">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/1_transparent_bg_2.png" alt=""
                          width="220" height="171">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/logo_obeo_3.png" alt=""
                          width="220" height="56">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/AIRBUS_RGB_0.png" alt=""
                          width="220" height="81">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/ibm%2520logo%2520transparent_2.png"
                          alt="" width="220" height="77">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Mindus%2520PNG.png" alt=""
                          width="220" height="69">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-7 views-row-odd views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Red_Hat_RGB_150px_2.png" alt=""
                          width="220" height="70">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Basic</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/logo%2520OP%2520CoachOK-EN-850_1.png"
                          alt="" width="220" height="42">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Logo_RGB.PNG" alt=""
                          width="220" height="220">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/STAMP_Logo_CMYK_small-1.jpg"
                          alt="" width="220" height="171">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/logo_docdoku_print_1.jpg"
                          alt="" width="220" height="72">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Papyrus%252520IC%252520Logo%252520v2%252520-%252520Gradient%252520-%252520.png"
                          alt="" width="220" height="101">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-6 views-row-even views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/artal%2520technologies_0_1.png"
                          alt="" width="220" height="88">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Regional Supporter</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/solibre-2500px_0.png" alt=""
                          width="220" height="77">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-2 views-row-even views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/toulouse%2520metropole.jpg"
                          alt="" width="220" height="110">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Conference App Provider</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/EclipseSource_0.png" alt=""
                          width="220" height="49">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>Media</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/programmez.jpg" alt=""
                          width="220" height="48">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/logo%2520LeMagIT-No%2520SubText-01.jpg"
                          alt="" width="220" height="98">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/logo-developpez_250_0_0.jpg"
                          alt="" width="220" height="92">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/zdnet_font_clair.jpg" alt=""
                          width="220" height="120">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Logo Lembarque_0_0.jpg"
                          alt="" width="220" height="62">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-6 views-row-even views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/linuxfr2_classic.png" alt=""
                          width="220" height="204">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="wrapper-sponsor-level">
                <h3>
                  <span>JUG Partners</span>
                </h3>
                <ul class="list-inline">
                  <li
                    class="views-row views-row-1 views-row-odd views-row-first">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/MontpellierJUGname.png" alt=""
                          width="220" height="208">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-2 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/LJC%2520RGB%2520logo_500%2520color_1.png"
                          alt="" width="220" height="58">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-3 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Bordeaux_JUG.png" alt=""
                          width="220" height="82">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-4 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Nantes_JUG.png" alt=""
                          width="220" height="161">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-5 views-row-odd">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/duchess_0.jpg" alt=""
                          width="220" height="220">
                      </div>
                    </div>
                  </li>
                  <li class="views-row views-row-6 views-row-even">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Paris_JUG.png" alt=""
                          width="220" height="88">
                      </div>
                    </div>
                  </li>
                  <li
                    class="views-row views-row-7 views-row-odd views-row-last">
                    <div>
                      <div>
                        <img
                          typeof="foaf:Image" class="img-responsive"
                          src="images/Toulouse_JUG.png" alt=""
                          width="220" height="41">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>