<div id="background_right">
    <div id="background_left">
      <div id="page" class="clearfix">
        <div id="site-header" class="container-16 clearfix">
          <div id="branding" class="grid-6">
  
            <a href="/2013/france" class="active"><img
              src="images/logo.png" alt="" title="" width="318"
              ></a>
          </div>
          <!-- /#branding -->
  
          <div id="header-subtools">
            <div id="header-nav-info-location">
              <span id="header-nav-info-location-loc">Toulouse,
                France</span> <span id="header-nav-info-location-date">June
                5-6, 2013</span>
            </div>
          </div>
        </div>
  
        <div id="main-content-container"
          class="container-16 rounded shadow clearfix">
          <div id="sidebar-last" class="column sidebar region grid-16">
            <div id="block-views-Sponsors-block_1"
              class="block block-views">
              <div class="content">
                <div
                  class="view view-Sponsors view-id-Sponsors view-display-id-block_1 clearfix sponsors-block view-dom-id-2">
                  <div class="view-header">
                    <h3>Gold Sponsors</h3>
                  </div>
  
                  <img src="images/New%2520Image.jpg" alt="" title=""
                    class="imagecache imagecache-sponsor_logo_bronze"
                    width="120"> <img
                    src="images/thaleslogonewv.jpg" alt="" title=""
                    class="imagecache imagecache-sponsor_logo_bronze"> <img
                    src="images/Actuate_logo_LG.jpg" alt="" title=""
                    class="imagecache imagecache-sponsor_logo_bronze"
                    > <img
                    src="images/SierraLogoTM_CMYK_highres.jpg" alt=""
                    title=""
                    class="imagecache imagecache-sponsor_logo_bronze"
                    width="120"> <img
                    src="images/New%2520Image.png" alt="" title=""
                    class="imagecache imagecache-sponsor_logo_bronze"
                    width="120"> <img
                    src="images/New%2520Image_0.png" alt="" title=""
                    class="imagecache imagecache-sponsor_logo_bronze"
                    width="120">
  
                </div>
              </div>
            </div>
            <div id="block-views-Sponsors-block_2"
              class="block block-views">
  
              <div class="content">
                <div
                  class="view view-Sponsors view-id-Sponsors view-display-id-block_2 clearfix sponsors-block view-dom-id-3">
                  <div class="view-header">
                    <h3>Silver Sponsors</h3>
                  </div>
  
                  <img src="images/Bosch_SL-en.png" alt="" title=""
                    class="imagecache imagecache-sponsor_logo_bronze"
                    width="120"> <img
                    src="images/logo-xored-color.png" alt="" title=""
                    class="imagecache imagecache-sponsor_logo_bronze"
                    width="120"> <img
                    src="images/BSI%2520ece%25202012.png" alt="" title=""
                    class="imagecache imagecache-sponsor_logo_bronze"
                    width="120">
  
  
                </div>
              </div>
              </div>
              <div id="block-views-Sponsors-block_3"
                class="block block-views">
  
                <div class="content">
                  <div
                    class="view view-Sponsors view-id-Sponsors view-display-id-block_3 clearfix sponsors-block view-dom-id-4">
                    <div class="view-header">
                      <h3>Bronze Sponsors</h3>
                    </div>
  
  
                    <img src="images/ensoft-logo.png" alt="" title=""
                      class="imagecache imagecache-sponsor_logo_bronze"
                      width="100"> <img
                      src="images/inr_logo_corpo_UK_web.jpg" alt=""
                      title=""
                      class="imagecache imagecache-sponsor_logo_bronze"
                      width="120"> <img
                      src="images/OPcoachLog850px.png" alt="" title=""
                      class="imagecache imagecache-sponsor_logo_bronze"
                      width="120"> <img
                      src="images/GENUITEC_EC.jpg" alt="" title=""
                      class="imagecache imagecache-sponsor_logo_bronze"
                      width="120"> <img
                      src="images/soyatec.png" alt="" title=""
                      class="imagecache imagecache-sponsor_logo_bronze"
                      width="120">
  
  
  
  
  
                  </div>
                </div>
              </div>
              <div id="block-views-Sponsors-block_10"
                class="block block-views">
  
                <div class="content">
                  <div
                    class="view view-Sponsors view-id-Sponsors view-display-id-block_10 clearfix sponsors-block view-dom-id-5">
                    <div class="view-header">
                      <h3>Regional Supporters</h3>
                    </div>
  
                    <img src="images/LOGO_Fond_Clair.jpg" alt="" title=""
                      class="imagecache imagecache-sponsor_logo_bronze"
                      width="120" height="77">
  
  
  
                  </div>
                </div>
              </div>
              <div id="block-views-Sponsors-block_9"
                class="block block-views">
  
                <div class="content">
                  <div
                    class="view view-Sponsors view-id-Sponsors view-display-id-block_9 clearfix sponsors-block view-dom-id-6">
                    <div class="view-header">
                      <h3>
                        Media Sponsors<br>
                      </h3>
                    </div>
  
                    <img src="images/LOGO-NOIR-1000px.png" alt="" title=""
                      class="imagecache imagecache-sponsor_logo_bronze"
                      width="120"> <img
                      src="images/newdvp-blanc.gif" alt="" title=""
                      class="imagecache imagecache-sponsor_logo_bronze"
                      width="120">
  
  
                  </div>
                </div>
              </div>
            </div>
            <!-- /#sidebar-last -->
  
  
          </div>
          <!-- /#page -->
        </div>
  
      </div>
    </div>
  </div>