<header id="header-wrapper" class="" role="banner">
    <div class="container">
      <div id="header-row" class="row">
        <div id="header-left" class="hidden-xs col-sm-12">
          <div class="row">
            <div class="col-xs-24 secondary-logo-container">
              <a class="secondary-link" href="/" title="secondary"><img
                class="logo-eclipse-default img-responsive"
                src="images/calgis-logo.png" alt="secondary"></a>
                <a
                class="eclipsecon-link" href="/" title="Home"><img
                class="logo-eclipse-default img-responsive"
                src="images/logo.png" alt="Home"></a>
            </div>
          </div>
        </div>
        <div id="header-right" class="col-sm-12 pull-right">
          <div id="header-custom-content" class="text-center">
            <div
              class="region region-header-right solstice-region-element-count-1">
              <section
                id="block-eclipsecon-support-event-info-eclipsecon-support-event-info"
                class="block block-eclipsecon-support-event-info block-region-header-right block-eclipsecon-support-event-info clearfix">
  
                <h2 class="block-title">Eclipse Support Event Info</h2>
  
                <div class="block-content">
                  <div class="event_info">
                    <span class="event_location"> Oakland,
                      California · </span><span class="event_date">May 22
                      - 24, 2017</span>
                  </div>
                </div>
  
              </section>
              <!-- /.block -->
            </div>
          </div>
        </div>
        <div id="main-menu-wrapper" class="col-sm-24">
          <div class="navbar yamm" id="main-menu">
            <div class="navbar-header">
              <a href="https://events.eclipse.org/"
                class="navbar-brand visible-xs"><img
                class="logo-eclipse-default-mobile" alt="Eclipse.org logo"
                src="images/calgis-logo.png" width="121"></a><a
                href="https://events.eclipse.org/"
                class="navbar-brand visible-xs"><img
                class="logo-eclipse-default-mobile" alt="Eclipse.org logo"
                src="images/logo.png" width="161"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <main role="main">
    <div class="container-fluid">
      <div
        class="region region-content-prefix-fluid solstice-region-element-count-3 row">
        <section id="block-views-solstice-slideshow-block"
          class="block block-views block-region-content-prefix-fluid  view-solstice-slideshow-block-common view-solstice-slideshow-block clearfix">
  
  
          <div class="block-content">
            <div
              class="view view-solstice-slideshow view-id-solstice_slideshow view-display-id-block view-dom-id-d407d2d75496ab4bbb2ebc469510c688 solstice-support-slideshow-frontpage carousel slide"
              data-ride="carousel" id="solstice-slideshow"
              style="background-image: url(images/map%20%282%29_1.jpg);">
  
  
  
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
  
  
                <div
                  class="views-row-odd views-row-first views-row-last active item clearfix">
                  <div class="container">
  
                    <div id="node-2942"
                      class="node node-solstice-slideshow node-promoted node-teaser"
                      about="/content/upload-and-view-presentations-conference"
                      typeof="sioc:Item foaf:Document">
                      <div
                        class="col-xs-24 solstice-slideshow-content-no-image solstice-slideshow-content">
                        <div class="solstice-slideshow-content-container">
                          <h2>
                            <strong>Thanks for attending!</strong>
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
  
  
            </div>
          </div>
  
        </section>
  
        <!-- /.block -->
      </div>
    </div>
  
    <div class="container-fluid">
      <div
        class="region region-content-suffix-fluid solstice-region-element-count-2 row">
        <section id="block-views-eclipsecon-sponsors-block"
          class="block block-views block-region-content-suffix-fluid  view-eclipsecon-sponsors-block-common view-eclipsecon-sponsors-block clearfix">
  
          <h2 class="block-title">Our
              Sponsors
          </h2>
  
          <div class="block-content">
            <div
              class="view view-eclipsecon-sponsors view-id-eclipsecon_sponsors view-display-id-block container view-dom-id-408ffb0fe3655a43b4baa27aece16994">
  
  
  
              <div class="view-content">
  
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Host</span>
                  </h3>
                  <ul class="list-inline">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/wg_locationtech%25201.png"
                            alt="" width="220" height="185">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/norcalurisa.png"
                            alt="" width="220" height="110">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/CC-URISA-logo-small-cropped.jpg"
                            alt="" width="220" height="184">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/baygeo%2520logo.png"
                            alt="" width="220" height="220">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/GISEC_1.jpg"
                            alt="" width="220" height="39">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-6 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/socal_logo.jpg"
                            alt="" width="220" height="147">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
  
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Silver</span>
                  </h3>
                  <ul class="list-inline">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/logo_bottom_bg.png"
                            alt="" width="220" height="88">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-2 views-row-even views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/esri-17GlobeLogo_tag-below_sRGB.PNG"
                            alt="" width="220" height="128">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
  
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Bronze</span>
                  </h3>
                  <ul class="list-inline">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/infogroup.png"
                            alt="" width="220" height="46">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/prod-azavea-logo_Big.jpg"
                            alt="" width="220" height="220">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-3 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/CityworksLogoNew2014.jpeg"
                            alt="" width="220" height="64">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-4 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/qs_fulllogo.jpg"
                            alt="" width="220" height="97">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/Logo_CYCLOMEDIA_RGB.jpg"
                            alt="" width="220" height="56">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-6 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/DigitalGlobe_logo.png"
                            alt="" width="220" height="72">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-7 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/gis-inc.jpg"
                            alt="" width="220" height="220">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-8 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/photo.jpg"
                            alt="" width="220" height="220">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-9 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/MichaelBakerIntl.jpg"
                            alt="" width="220" height="71">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-10 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/OpenSpatial.jpg"
                            alt="" width="220" height="72">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-11 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/Psomas_logo.jpg"
                            alt="" width="220" height="188">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-12 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/Hexagon_Geospatial_RGB_Standard.png"
                            alt="" width="220" height="68">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-13 views-row-odd">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/FB-hr-image.jpg"
                            alt="" width="220" height="171">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-14 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/TCC_Vertical_4C_RGB%25202.png"
                            alt="" width="220" height="212">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-15 views-row-odd views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/vestra_logo_720.png"
                            alt="" width="220" height="80">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
  
                <div class="wrapper-sponsor-level">
                  <h3>
                    <span>Non-Profit/Government/Educational</span>
                  </h3>
                  <ul class="list-inline">
                    <li
                      class="views-row views-row-1 views-row-odd views-row-first">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/SFSU_IGISc.jpg"
                            alt="" width="220" height="160">
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/cgia_small-1_0.jpg"
                            alt="" width="220" height="92">
                        </div>
                      </div>
                    </li>
                    <li
                      class="views-row views-row-3 views-row-odd views-row-last">
                      <div>
                        <div>
                          <img
                            typeof="foaf:Image" class="img-responsive"
                            src="images/redlandslogo.jpg"
                            alt="" width="220" height="85">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
  
            </div>
          </div>
  
        </section>
        <!-- /.block -->
      </div>
    </div>
  
  </main>