<div class="container">
  <div class="row">
    <div class="col-sm-24 col-sm-offset-1">
      <div id="header">
        <a href="https://events.eclipse.org/"><img
          src="images/banner_2007.jpg" border="0"></a>
      </div>
      
      
      <div id="menuleft">
        <div id="links">
          <img src="images/leftmenu_top_bg.gif" border="0">
          <ul>
            <li>Other Conferences
              <ul>
                <li><a href="/2009/summiteurope/">Eclipse
                    Summit<br> Europe 2009
                </a></li>
                <li><a href="/2008/summiteurope/">Eclipse
                    Summit<br> Europe 2008
                </a></li>
                <li><a href="/2006/summiteurope/">Eclipse
                    Summit<br> Europe 2006
                </a></li>
                <li><a href="/2010/eclipsecon/">EclipseCon
                    2010</a></li>
                <li><a href="/2009/eclipsecon/">EclipseCon
                    2009</a></li>
                <li><a href="/2008/eclipsecon/">EclipseCon
                    2008</a></li>
                <li><a href="/2007/eclipsecon/">EclipseCon
                    2007</a></li>
                <li><a href="/2006/eclipsecon/">EclipseCon
                    2006</a></li>
                <li><a href="/2005/eclipsecon/">EclipseCon
                    2005</a></li>
                <li><a href="/2004/eclipsecon/">EclipseCon
                    2004</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- links -->
        <img src="images/leftmenu_bottom_bg.gif" border="0">
      
      
      </div>
      <!-- menuleft -->
      
      <div id="middlecontent">
        <h1>Eclipse Summit Europe 2007 was a Great Success - Thanks to
          Everyone Who Attended!</h1>
          
          <h2>Presentation Slides</h2> 
          <p>Some speakers at ESE 2007 made
          their presentation slides available. To view, click through on
          the talk you’re interested in from either the Program,
          Wednesday
          or Thursday
          page, and then get the slides by clicking on the pdf icon
          labelled <i>presentation file</i> beneath the talk’s title.</p>
          
          <p><img src="images/mikewelcome.JPG"
          alt="Mike Milinkovich" width="224" height="150"></p>
      
        <h2>Eclipse Ecosystem at ESE 2007</h2>
        
        <div class="row">
          <div class="col-sm-12">
            <p><img src="images/erichkeynote.JPG" alt="Erich Gamma" width="224" height="150"></p>
            <p><img src="images/exhibitactuate.JPG"
                width="224" height="150"></p>
            <p><img src="images/paulclenehanJPG.jpg"
                width="224" height="150"></p>
             <p><img src="images/exhibitomondo.JPG"
                width="224" height="150"></p>
            <p><img src="images/serverside.JPG"
                width="224" height="150"></p>
          </div>
          <div class="col-sm-12">
            <p><img src="images/exhibitmicrodoc.JPG" width="224" height="150"></p>
            <p><img src="images/keynotesievert.JPG"
                width="224" height="150"></p>
            <p><img src="images/jeffequinox.JPG"
                width="224" height="150"></p>
            <p><img src="images/exhibitsoftwareag.JPG"
                width="224" height="150"></p>
            <p><img src="images/modelling2.jpg"
                width="224" height="150"></p>
          </div>
        </div>
      </div>
      
      <div id="outersponsorcontainer">
        <img src="images/header_sponsors.gif" border="0">
        <div id="sponsorcontainer">
          <p>
            <!-- RSS: New sponsor: Ingres -->
            <img src="images/ingres.gif"
              alt="Ingres logo" width="120" height="29" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Art of Object -->
            <img
              src="images/artofobject.jpg" alt="Art of Object logo"
              width="100" height="48" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: 1und1 -->
            <img src="images/1und1.gif"
              alt="1und1 logo" width="55" height="55" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: JavaSPEKTRUM -->
            <img
              src="images/javaspektrum.gif" alt="JavaSPEKTRUM logo"
              width="150" height="36" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: IBM -->
            <img src="images/ibm.gif"
              alt="IBM logo" width="120" height="50" border="0">
          </p>
          <p>
            <img
              src="images/ETA.jpg" alt="ETA logo" width="147" height="72"
              border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Ericsson -->
            <img
              src="images/ericsson.gif" alt="Ericsson logo" width="122"
              height="37" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Eclipse Magazin -->
            <img
              src="images/eclipsemagazin.gif" alt="Eclipse Magazin logo"
              width="110" height="46" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Heiler Software -->
            <img src="images/heiler.gif"
              alt="Heiler logo" width="149" height="34" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Software AG -->
            <img src="images/sag.jpg"
              alt="Software AG logo" width="115" height="45" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Wind River -->
            <img
              src="images/windriver.gif" alt="Wind River logo" width="120"
              height="19" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Google -->
            <img src="images/google.gif"
              alt="Google logo" width="120" height="50" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: inventage -->
            <img
              src="images/inventage.jpg" alt="inventage logo" width="130"
              height="30" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Gentleware -->
            <img
              src="images/gentleware.jpg" alt="Gentleware logo" width="120"
              height="65" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: tni -->
            <img
              src="images/tni.jpg" alt="TNI logo" width="120" height="47"
              border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: SOPERA -->
            <img src="images/sopera.gif"
              alt="SOPERA logo" width="78" height="67" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: IONA Technologies -->
            <img src="images/iona.jpg"
              alt="IONA logo" width="79" height="66" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: MicroDoc -->
            <img
              src="images/microdoc.gif" alt="Microdoc logo" width="79"
              height="79" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Methods & Tools -->
            <img
              src="images/methodstools.jpg" alt="Methods &amp; Tools logo"
              width="120" height="20" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Cloudsmith -->
            <img
              src="images/cloudsmith.jpg" alt="Cloudsmith logo" width="120"
              height="17" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: compeople -->
            <img
              src="images/compeople.gif" alt="compeople logo" width="135"
              height="70" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: itemis -->
            <img src="images/itemis.gif"
              alt="itemis logo" width="120" height="41" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: dpunkt.verlag -->
            <img src="images/dpunkt.jpg"
              alt="dpunkt logo" width="120" height="29" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Pilz Ireland -->
            <img src="images/pilz.gif"
              alt="Pilz logo" width="74" height="61" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Polarion -->
            <img
              src="images/polarion.jpg" alt="Polarion logo" width="55"
              height="63" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: 1und1 -->
            <img src="images/sap.gif"
              alt="SAP logo" width="73" height="36" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Innoopract -->
            <img
              src="images/innoopract.gif" alt="Innoopract logo" width="120"
              height="35" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Mind8 -->
            <img src="images/mind8.jpg"
              alt="Mind8 logo" width="50" height="78" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: ELEKTRONIKPRAXIS -->
            <img
              src="images/ElektronikPraxis.jpg" alt="ELEKTRONIKPRAXIS logo"
              width="110" height="39" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Omondo -->
            <img src="images/omondo.jpg"
              alt="Omondo logo" width="120" height="34" border="0">
          </p>
          <p>
            <!-- RSS: New sponsor: Actuate -->
            <img
              src="images/actuate.gif" alt="Actuate logo" width="120"
              height="45" border="0">
          </p>
        </div>
        <!-- sponsorcontainer -->
        <img src="images/footer_sponsors.gif" border="0">
      </div>
      </div>
  </div>
</div>