<div class="container">
  <div class="row">
    <div class="col-sm-24 col-sm-offset-2">
      
<div id="container">
  <div id="header">
    <div id="logo">
      <a href="https://events.eclipse.org/"><img
        src="images/eclipsesummit08_header_web.jpg"
        alt="Eclipse Summit Europe 2008" border="0"></a>
    </div>
  </div>
  <!-- end #header -->
  <div id="menuleft" style="margin-top:30px;">
  <img src="images/leftmenu_top_bg.gif" border="0">
    <div class="navcontainer">
      <ul class="navlist">
        <li>OTHER SUMMITS</li>
        <li><a href="/2009/summiteurope/">Summit
            2009</a></li>
        <li><a href="/2007/summiteurope/">Summit
            2007</a></li>
        <li><a href="/2006/summiteurope/">Summit
            2006</a></li>
      </ul>
    </div>

    <p></p>
    <div align="center">
      <p></p>
    </div>
    <!-- center -->

    <img style="position: absolute; bottom: 0px; left: 0px; top: auto;"
      src="images/leftmenu_bottom_bg.gif"
      border="0">
  </div>
  <!-- menuleft -->
  <div id="middlecontent">
    <!-- RSS: ESE Was a Great Success! -->

    <h1>ESE 2008 Was Great!</h1>
    <p>Eclipse Summit Europe was a big success! Thanks to all our
      sponsors, speakers, and attendees.</p>
    <p>
      <a href="/2009/summiteurope/">ESE
        2009</a> will be October 27 – 29, 2009, in Ludgwigsburg. We'll see
      you there!
    </p>

    <script>
          function wednesday() {
            window.location = "tablee784.html?date=2008-11-19";
          }
          function thursday() {
            window.location = "table91e9.html?date=2008-11-20";
          }
        </script>

  </div>
  <div id="outersponsorcontainer">
    <img
      src="images/header_sponsors.gif"
      border="0">
    <div id="sponsorcontainer">
      <p>
        <!-- RSS: New sponsor: towerbyte -->
        <img
          src="images/towerbyte.gif"
          alt="towerbyte logo" width="70" height="70" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: brox -->
        <img
          src="images/brox.gif"
          alt="brox logo" width="120" height="50" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: geensys -->
        <img
          src="images/geensys.gif"
          alt="geensys logo" width="135" height="40" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: in2solutions -->
        <img
          src="images/in2solutions.gif"
          alt="in2solutions logo" width="135" height="42" border="0">
      </p>
      <p>
        <!-- RSS: New media sponsor: JavaSPEKTRUM -->
        <img
          src="images/javaspektrum.gif"
          alt="JavaSPEKTRUM logo" width="150" height="36" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: ericsson -->
        <img
          src="images/ericsson.gif"
          alt="ericsson logo" width="135" height="35" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: ilog -->
        <img
          src="images/ilog.gif"
          alt="ilog logo" width="130" height="61" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: birt-exchange -->
        <img
          src="images/birt-exchange.gif"
          alt="BIRT-Exchange logo" width="135" height="34" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: froglogic -->
        <img
          src="images/froglogic.gif"
          alt="froglogic logo" width="120" height="48" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: innovations -->
        <img
          src="images/innovations.gif"
          alt="innovations logo" width="120" height="61" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: exxcellent -->
        <img
          src="images/exxcellent.gif"
          alt="exxcellent logo" width="135" height="32" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: windriver -->
        <img
          src="images/windriver.gif"
          alt="windriver logo" width="135" height="25" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: google -->
        <img
          src="images/google.gif"
          alt="google logo" width="120" height="50" border="0">
      </p>
      <p>
        <!-- RSS: New media sponsor: Software & Support -->
        <img
          src="images/eclipsemagazin.gif"
          alt="Software &amp; Support logo" width="110" height="46"
          border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: adacore -->
        <img
          src="images/adacore.gif"
          alt="adacore logo" width="120" height="25" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: bredex -->
        <img
          src="images/bredex.gif"
          alt="bredex logo" width="135" height="42" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: sopera -->
        <img
          src="images/sopera.gif"
          alt="sopera logo" width="78" height="67" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: microdoc -->
        <img
          src="images/microdoc.gif"
          alt="microdoc logo" width="79" height="79" border="0">
      </p>
      <p>
        <img
          src="images/osgiusers.jpg"
          alt="OSGi Users Forum logo" width="51" height="105" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: versant -->
        <img
          src="images/versant.gif"
          alt="versant logo" width="135" height="30" border="0">
      </p>
      <p>
        <!-- RSS: New media sponsor: Methods and Tools -->
        <img
          src="images/methodstools.jpg"
          alt="Methods &amp; Tools logo" width="120" height="20"
          border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: instantiations -->
        <img
          src="images/instantiations.gif"
          alt="instantiations logo" width="135" height="31" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: inovex -->
        <img
          src="images/inovex.gif"
          alt="inovex logo" width="100" height="75" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: compeople -->
        <img
          src="images/compeople.gif"
          alt="compeople logo" width="135" height="70" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: bluage -->
        <img
          src="images/bluage.gif"
          alt="bluage logo" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: siemens -->
        <img
          src="images/siemens.gif"
          alt="siemens logo" width="110" height="30" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: itemis -->
        <img
          src="images/itemis.gif"
          alt="itemis logo" width="120" height="41" border="0">
      </p>
      <p>
        <!-- RSS: New media sponsor: dpunkt.verlag GmbH -->
        <img
          src="images/dpunkt.jpg"
          alt="adacore logo" width="120" height="29" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: obeo -->
        <img
          src="images/obeo.gif"
          alt="Obeo logo" width="120" height="62" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: sap -->
        <img
          src="images/sap.gif"
          alt="sap logo" width="98" height="49" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: innoopract -->
        <img
          src="images/innoopract.gif"
          alt="innoopract logo" width="135" height="35" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: amd -->
        <img
          src="images/amd.gif"
          alt="amd logo" width="135" height="40" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: symbian -->
        <img
          src="images/symbian.gif"
          alt="symbian logo" width="110" height="40" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: open-xchange -->
        <img
          src="images/open-xchange.gif"
          alt="open-xchange logo" width="100" height="46" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: united-internet -->
        <img
          src="images/united-internet.gif"
          alt="united-internet logo" width="100" height="48" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: ww-im -->
        <img
          src="images/ww-im.gif"
          alt="ww-im logo" width="135" height="30" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: cloudsmith -->
        <img
          src="images/cloudsmith.gif"
          alt="cloudsmith logo" width="135" height="35" border="0">
      </p>
      <p>
        <!-- RSS: New sponsor: anyware -->
        <img
          src="images/anyware.gif"
          alt="anyware logo" width="135" height="41" border="0">
      </p>
    </div>
    <!-- sponsorcontainer -->
    <img
      src="images/footer_sponsors.gif"
      border="0">
    <!-- outersponsorcontainer -->
  </div>
</div>
      </div>
  </div>
</div>
