<div class="container">
  <div class="row">
    <div class="col-sm-24 col-sm-offset-2">
      <div id="container">
        <div id="header">
          <div id="logo">
            <a href="https://events.eclipse.org/"><img
              src="images/eclipsesummit09_header_web.jpg"
              alt="Eclipse Summit Europe 2009" border="0"></a>
          </div>
        </div>
        <!-- end #header -->

        <div id="menuleft">
          <div class="program_navcontainer">
            <ul class="program_navlist">
              <li>OTHER CONFERENCES</li>
            </ul>
          </div>
          <br>
          <div class="program_navcontainer">
            <ul class="program_navlist">
              <li><a href="/2010/summiteurope/">Eclipse
                  Summit 2010</a></li>
              <li><a href="/2008/summiteurope/">Eclipse
                  Summit 2008</a></li>
              <li><a href="/2007/summiteurope/">Eclipse
                  Summit 2007</a></li>
              <li><a href="/2006/summiteurope/">Eclipse
                  Summit 2006</a></li>
            </ul>
          </div>
          <br>
          <div class="program_navcontainer">
            <ul class="program_navlist">
              <li><a href="/2011/eclipsecon/">EclipseCon
                  2011</a></li>
              <li><a href="/2010/eclipsecon/">EclipseCon
                  2010</a></li>
              <li><a href="/2009/eclipsecon/">EclipseCon
                  2009</a></li>
              <li><a href="/2008/eclipsecon/">EclipseCon
                  2008</a></li>
              <li><a href="/2007/eclipsecon/">EclipseCon
                  2007</a></li>
              <li><a href="/2006/eclipsecon/">EclipseCon
                  2006</a></li>
              <li><a href="/2005/eclipsecon/">EclipseCon
                  2005</a></li>
              <li><a href="/2004/eclipsecon/">EclipseCon
                  2004</a></li>
            </ul>
          </div>
      
      
          <img style="position: absolute; bottom: 0px; left: 0px; top: auto;"
            src="images/leftmenu_bottom_bg.gif" border="0">
        </div>
        <!-- menuleft -->
      
      
        <div id="middlecontent">
      
          <h1>Thanks for Attending!</h1>
          <p>Eclipse Summit Europe 2009 was an amazing experience! Thanks
            to our attendees, presenters, and sponsors for making this the
            best ESE yet.</p>
      
          <h1>Conference Photos</h1>
          <center>
            <div
              style="width: 380px; border-color: aaaaaa; border-style: solid; border-width: 0px 1px 1px 0px;">
              <img src="images/1246523N22.jpg"
                alt="Eclipse Summit Europe 2009 - View this group's photos on Flickriver"
                title="Eclipse Summit Europe 2009 - View this group's photos on Flickriver"
                border="0">
            </div>
          </center>
        </div>
      
        <!-- sponsorbox/ -->
        <div id="outersponsorcontainer">
          <img src="images/header_sponsors.gif" border="0">
          <div id="sponsorcontainer">
            <p>
              <!-- RSS: New sponsor: brox -->
              <img src="images/brox.gif" alt="brox logo" width="120"
                height="50" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: banedxi -->
              <img src="images/bandxi.jpg" alt="bandxi logo" width="120"
                height="38" border="0">
            </p>
            <p>
              <span style="color: red"> <!-- RSS: New sponsor: empolis -->
                <img src="images/empolis.jpg" alt="empolis logo" width="120"
                height="38" border="0">
              </span>
            </p>
            <p>
              <!-- RSS: New sponsor: ibm -->
              <img src="images/ibm.gif" alt="ibm logo">
            </p>
            <p>
              <!-- RSS: New sponsor: ww-im -->
              <img src="images/ww-im.gif" alt="ww-im logo" width="135"
                height="30" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: sigs datacom -->
              <img src="images/javaspektrum.gif" alt="sigsdatacom logo">
            </p>
            <p>
              <span style="color: red"> <!-- RSS: New sponsor: BSI -->
                <img src="images/bsi.jpg" alt="bsi logo" border="0">
              </span>
            </p>
            <p>
              <!-- RSS: New sponsor: Purple Scout -->
              <img src="images/purplescout.gif" alt="purple scout logo"
                width="120" height="35" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: froglogic -->
              <img src="images/froglogic.gif" alt="froglogic logo" width="120"
                height="48" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: microsoft -->
              <img src="images/mslogo_black.gif" alt="microsoft logo"
                border="0">
            </p>
            <p>
              <!-- RSS: New media sponsor: Software & Support -->
              <img src="images/eclipsemagazin.gif" alt="Eclipse Magazin logo"
                width="110" height="46" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: open source business foundation -->
              <img src="images/osbf.jpg" alt="osbf logo">
            </p>
            <p>
              <!-- RSS: New sponsor: bredex -->
              <img src="images/bredex.gif" alt="bredex logo" width="135"
                height="42" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: sopera -->
              <img src="images/sopera.gif" alt="sopera logo" width="78"
                height="67" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: microdoc -->
              <img src="images/microdoc.gif" alt="microdoc logo" width="79"
                height="79" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: oreilly -->
              <img src="images/oreilly.jpg" alt="oreilly logo">
            </p>
            <p>
              <span style="color: red"> <!-- RSS: New sponsor: instantiations -->
                <img src="images/instantiations.gif" alt="instantiations logo"
                width="135" height="31" border="0">
              </span>
            </p>
            <p>
              <!-- RSS: New sponsor: cloudsmith -->
              <img src="images/cloudsmith_gray.gif" alt="cloudsmith logo"
                border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: compeople -->
              <img src="images/compeople.gif" alt="compeople logo" width="135"
                height="70" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: itemis -->
              <img src="images/itemis.gif" alt="itemis logo" width="120"
                height="41" border="0">
            </p>
            <p>
              <!-- RSS: New media sponsor: dpunkt.verlag GmbH -->
              <img src="images/dpunkt.jpg" alt="dpunkt logo" width="120"
                height="29" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: eclipsesource -->
              <img src="images/eclipsesource.png" alt="eclipsesource logo"
                width="120" height="27" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: sap -->
              <img src="images/sap.gif" alt="sap logo" width="98" height="49"
                border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: Oracle -->
              <img src="images/oracle.gif" alt="oracle logo" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: vogel -->
              <img src="images/vogel.jpg" alt="vogel logo" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: open-xchange -->
              <img src="images/open-xchange.gif" alt="open-xchange logo"
                width="100" height="46" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: actuate -->
              <img src="images/Actuate-logo.jpg" alt="Actuate logo"
                width="135" height="34" border="0">
            </p>
          </div>
          <!-- sponsorcontainer -->
          <img src="images/footer_sponsors.gif" border="0">
        </div>
        <!-- outersponsorcontainer -->
      
        <br class="clearfloat">

      </div>
      </div>
  </div>
</div>