<div id="background-second-fade"></div>
<div id="background-second-color"></div>


<div class="container">
  <div class="row">
    <div class="col-sm-24">
      <div id="container">

        <div id="header">
          <div id="logo">
            <a
              href="https://events.eclipse.org/"><img
              src="images/conference-header-icon.jpg"
              alt="Eclipse Summit 2010" border="0"></a>
          </div>
          <div id="locationdates">
            <img src="images/web_header.png" alt="Eclipse Summit 2010"
              border="0">
          </div>
        </div>
        <!-- end #header -->


        <div id="middlecontent" style="background-color: white;">

          <div id="sponsorcontainer">

            <h1>Sponsors</h1>

            <p>
              <img src="images/engineering_120.png"
                alt="Engineering logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="29" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: Bosch -->
              <img src="images/bosch.jpg" alt="Bosch logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="38" border="0">
            </p>
            <p>
              <img src="images/RCP_logo_120.png" alt="RCP logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="60" border="0">
            </p>
            <p>
              <img src="images/bmw.gif" alt="BMW logo"
                style="margin-top: 3px; margin-bottom: 3px" width="150"
                height="68" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: sigs datacom -->
              <img src="images/javaspektrum.gif" alt="Sigsdatacom logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="26" border="0">
            </p>
            <p>
              <img src="images/bsi.jpg" alt="BSI logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="60" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: microsoft -->
              <img src="images/mslogo_black.gif" alt="Microsoft logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="20" border="0">
            </p>
            <p>
              <img src="images/CAS_Logo_web_84x100.jpg" alt="CAS logo"
                style="margin-top: 3px; margin-bottom: 3px" width="84"
                height="100" border="0">
            </p>
            <p>
              <img src="images/andrena.jpg" alt="Andrena logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="42" border="0">
            </p>
            <p>
              <img src="images/jasmineconseil.png" alt="bsi logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="59" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: open source business foundation -->
              <img src="images/OSBF-horizontal.gif" alt="OSBF logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="37">
            </p>
            <p>
              <img src="images/opensource.jpg" alt="Open Source logo"
                style="margin-top: 3px; margin-bottom: 3px" width="75"
                height="156" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: bredex -->
              <img src="images/bredex.gif" alt="Bredex logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="37" border="0">
            </p>
            <p>
              <img src="images/sopera.gif" alt="sopera logo"
                style="margin-top: 3px; margin-bottom: 3px" width="78"
                height="67" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: microdoc -->
              <img src="images/microdoc.gif" alt="Microdoc logo"
                style="margin-top: 3px; margin-bottom: 3px" width="79"
                height="79" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: oreilly -->
              <img src="images/oreilly.jpg" alt="O'Reilly logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="38">
            </p>
            <p>
              <img src="images/soyatec.png" alt="Soyatec logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="28" border="0">
            </p>
            <p>
              <img src="images/compeople.gif" alt="compeople logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="62" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: itemis -->
              <img src="images/itemis.gif" alt="itemis logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="41" border="0">
            </p>
            <p>
              <!-- RSS: New media sponsor: dpunkt.verlag GmbH -->
              <img src="images/dpunkt.jpg" alt="dpunkt logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="29" border="0">
            </p>
            <p>
              <img src="images/sonatype120.png" alt="Sontatype logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="25" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: eclipsesource -->
              <img src="images/eclipsesource.png"
                alt="Eclipsesource logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="27" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: sap -->
              <img src="images/sap.gif" alt="sap logo"
                style="margin-top: 3px; margin-bottom: 3px" width="98"
                height="49" border="0">
            </p>
            <p>
              <img src="images/xored.png" alt="Xored logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="42" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: oracle -->
              <img src="images/oracle-small_2010.jpg" alt="Oracle logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="28" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: vogel -->
              <img src="images/vogel.jpg" alt="Vogel logo"
                style="margin-top: 3px; margin-bottom: 3px" border="0">
            </p>
            <p>
              <!-- RSS: New sponsor: actuate -->
              <img src="images/actuate.jpg" alt="Actuate logo"
                style="margin-top: 3px; margin-bottom: 3px" width="120"
                height="33" border="0">
            </p>
          </div>
          <div id="maincontent" style="background-color: white;">

            <br>
            <div id="midcolumn">

              <h1>ESE 2010 Was Great!</h1>
              <p>If you were there, we hope you enjoyed it as much
                as we did. If you had to miss it, we hope you can make
                it to our next Eclipse community event.</p>

              <br>

              <h1>We Want Your Feedback</h1>
              <p>If you attended ESE 2010, please take our short
                survey. If you have a suggestion for a keynote for ESE
                2011, please send email to ralph.mueller_at_eclipse.org.
                Thanks!</p>

              <br>

              <h1>Next Up: EclipseCon 2011</h1>
              <div>
                <a href="http://www.eclipsecon.org/2011/"><img
                  src="images/138x38.gif" alt="ESE
2011 logo"
                  style="float: left; margin-top: 15px; margin-bottom: 5px; margin-left: 1px; margin-right: 8px"></a>
              </div>
              <p>EclipseCon 2011 preparations are well under way!
                The Call for Papers has gone out, registration is open,
                and the program committee is preparing another amazing
                selection of tutorials and technical talks to go along
                with the keynote presentations, receptions, and
                networking opportunities. Plan to join us March 21-24,
                2011, at the Hyatt in Santa Clara, California.</p>

              <div style="clear: both"></div>

              <br>

              <h1>Conference Photos</h1>
              <center>
                <div
                  style="width: 380px; border-color: aaaaaa; border-style: solid; border-width: 0px 1px 1px 0px;">
                  <img src="images/1510201N24.jpg"
                    alt="Eclipse Summit Europe 2010 - View this group's photos on Flickriver"
                    title="Eclipse Summit Europe 2010 - View this group's photos on Flickriver"
                    border="0">
                </div>
              </center>

            </div>
          </div>

          <div style="clear: both;"></div>
        </div>

      </div>
    </div>
  </div>

</div>
