<div id="eecontent" class="eecontent margin-bottom-50">
  <div id="mapSection">
    <div id="regionButtons"  > </div>
    <div id="map"></div>
  </div>
  <div class="yearFilter row" >
    <div class="col-md-12">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">events by year
        <span class="caret"></span></button>
        <ul id="yearDropDown" class="dropdown-menu" role="menu" aria-labelledby="menu1">
        </ul>
      </div>
    </div>
    <div class="col-md-12 padding-top-10" id="eventsmail1"></div>
  </div>
  <div id="descriptons"></div>
  <div class="padding-top-10" id="eventsmail2"></div>
</div>
